.about-harmony {

  @include mobile {
    padding-left: 16px;
    padding-right: 16px;
  }

  &__header {
    max-width: 600px;
    margin: 0 auto;
    padding: 60px 0;

    @media (min-width: 1441px) {
      max-width: 60rem;
      padding: 6rem 0;
    }

    h2 {
      margin: 0;
      margin-bottom: 32px;
      color: var(--black-brand-color);
      text-align: center;

      font-size: 48px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 2.4px;

      @media (min-width: 1441px) {
        margin-bottom: 3.2rem;
        font-size: 4.8rem;
        letter-spacing: 0.24rem;
      }

      @include mobile {
        font-size: 24px;
        letter-spacing: 0.24px;
      }
    }

    &>p {
      margin: 0;
      color: var(--black-brand-color);
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;
      letter-spacing: 0.32px;

      @media (min-width: 1441px) {
        font-size: 1.6rem;
        letter-spacing: 0.032rem;
      }
    }
  }

  &__content {
    display: flex;
    align-items: flex-start;
    padding: 120px;
    padding-top: 60px;

    @media (min-width: 1441px) {
      padding: 12rem;
      padding-top: 6rem;
    }

    @include mobile {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0;
    }
  }
}

.harmony-item {
  flex: 1;

  padding-top: 102px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (min-width: 1441px) {
    padding-top: 10.2rem;
  }

  &>img {
    height: 92px;
    margin-bottom: 10px;

    @media (min-width: 1441px) {
      height: 9.2rem;
      margin-bottom: 1rem;
    }
  }

  &>p {
    max-width: 201px;
    color: var(--black-brand-color);
    text-align: center;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0.32px;

    @media (min-width: 1441px) {
      max-width: 20.1rem;
      font-size: 1.6rem;
      letter-spacing: 0.032rem;
    }
  }
}