.about-gift {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;

  @media (min-width: 1441px) {
    gap: 3rem;
  }

  @include mobile {
    grid-template-columns: 1fr;
    gap: 16px;
    padding-bottom: 120px;
  }

  &__forest {
    position: relative;
    width: 100%;
    // max-width: 690px;
    background-image: url('./../img/forest.jpg');
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;

    @media (min-width: 1441px) {
      // max-width: 69rem;
    }

    @include mobile {
      border: 30px solid var(--white-color);
      background-position: left bottom;
    }

  }

  &__content {
    padding-top: 250px;
    padding-bottom: 235px;
    max-width: 460px;

    @media (min-width: 1441px) {
      padding-top: 25rem;
      padding-bottom: 23.5rem;
      max-width: 46rem;
    }

    @include mobile {
      padding: unset;
      max-width: unset;
      padding-left: 16px;
      padding-right: 16px;
    }

    h2 {
      margin: 0;
      margin-bottom: 64px;
      color: var(--black-brand-color);
      font-size: 48px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 2.4px;

      @media (min-width: 1441px) {
        font-size: 4.8rem;
        letter-spacing: 0.24rem;
        margin-bottom: 6.4rem;
      }

      @include mobile {
        font-size: 24px;
        letter-spacing: 0.48px;
      }
    }

    p {
      margin: 0;
      color: var(--black-brand-color);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;
      letter-spacing: 0.32px;

      &:not(:last-child) {
        margin-bottom: 32px;

        @media (min-width: 1441px) {
          margin-bottom: 3.2rem;
        }
      }

      @media (min-width: 1441px) {
        font-size: 1.6rem;
        letter-spacing: 0.032rem;
      }
    }
  }
}

.gift-forest {
  &__window {
    position: sticky;
    top: 0px;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile {
      height: auto;
      aspect-ratio: 1 / 1;
    }

    &>svg {
      width: 100%;
      max-width: 500px;

      @media (min-width: 1441px) {
        max-width: 50rem;
      }

      @include mobile {
        max-width: 70vw;
        height: auto;
      }
    }


  }

  &__block {
    height: 60px;
    width: 100%;
    position: absolute;
    left: 0;
    background-color: var(--white-color);

    @media (min-width: 1441px) {
      height: 6rem;
    }

    @include mobile {
      display: none;
    }

    &--1 {
      top: 0;
    }

    &--2 {
      bottom: 0;
    }
  }
}