.about-video {
  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 180px 0px;
    position: relative;

    @media (min-width: 1441px) {
      padding: 18rem 0;
    }

    @include mobile {
      grid-template-columns: 1fr;
      padding: 0 16px;
      padding-top: 120px;
    }
  }

  &__wrapper {
    position: relative;
    height: 100%;
    // @include mobile {
    //   position: static;
    // }
  }

  &__cover {
    width: 100%;
    height: 100%;
  }

  &__video {
    padding: 0 120px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: 1441px) {
      padding: 0 12rem;
    }

    @include mobile {
      padding: 0;
      margin-bottom: 32px;
      position: static;
    }

    button {
      cursor: pointer;
      border: none;
      background-color: transparent;
      padding: 0;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 96px;
      height: 96px;
      background-image: url('./../img/youtbe-btn.png');
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;

      @media (min-width: 1441px) {
        width: 9.6rem;
        height: 9.6rem;
      }
    }
  }

  &__trace {
    position: absolute;
    height: 200px;
    right: 0;
    bottom: -25%;

    @media (min-width: 1441px) {
      height: 20rem;
    }

  }

  &__content {
    max-width: 503px;

    @media (min-width: 1441px) {
      max-width: 50.3rem;
    }

    @media (max-width: 1366px) {
      margin: 0 auto;
    }

    &>h4 {
      margin: 0;
      margin-bottom: 12px;
      color: var(--focus-active-color);

      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 4.2px;
      text-transform: uppercase;

      @media (min-width: 1441px) {
        margin-bottom: 1.2rem;
        font-size: 1.4rem;
        letter-spacing: 0.42rem;
      }

      @include mobile {
        max-width: 345px;
        margin: 0 auto;
        text-align: center;
      }
    }

    &>h3 {
      margin: 0;
      margin-bottom: 32px;
      color: var(--black-brand-color);
      font-size: 48px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 2.4px;

      @media (min-width: 1441px) {
        margin-bottom: 3.2rem;
        font-size: 4.8rem;
        letter-spacing: 0.24rem;
      }

      @include mobile {
        text-align: center;
        font-size: 24px;
        letter-spacing: 0.48px;
      }
    }

    &>p {
      color: var(--black-brand-color);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;
      letter-spacing: 0.32px;

      @media (min-width: 1441px) {
        font-size: 1.6rem;
        letter-spacing: 0.032rem;
      }

      @include mobile {
        text-align: center;
      }
    }
  }
}