.benefits-house {
  position: relative;
  padding-top: 37px;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @media (min-width: 1440px) {
    padding-top: 3.7rem;
    padding-bottom: 12rem;
  }
  &__title {
    margin: 0 auto;
    margin-bottom: 77px;
    @media (min-width: 1440px) {
      margin-bottom: 7.7rem;
    }
    @include mobile {
      margin-bottom: 0;
    }
  }
  &__mob-photo {
    display: none;
    @include mobile {
      display: block;
      position: absolute;
      max-width: 240px;
      max-height: 240px;
      bottom: 0;
      left: 0;
      transform: translateY(-20%);
    }
  }
  &__content {
    position: absolute;
    padding-top: 190px;
    transition: opacity 1s ease;
    will-change: transform;
    display: flex;
    flex-direction: column;
    &.active {
      background-image: none;
      &::before {
        opacity: 1;
      }
    }
  }
}

.benefits-house {
  div {
    transition: opacity 0.3s ease-in 0.5s, max-height 0.3s;
  }
}
.wrapper {
  min-height: 300vh;
  width: 100%;
}
.block {
  position: relative;
  width: 50%;
  height: 50vh;
  margin: 0 auto;
}
.parallax__wrapper {
  position: sticky;
  top: 0;
}
.wrapper {
  min-height: 100%;
  width: 100%;
  position: relative;
  transition: background-image 0.3s ease-in;

}
.parallax {
  position: relative;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  &__body {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: top;
    transition: 0.2s ease-in;
    background-position: center, center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('./../img/benefits-house-bg.jpg');
    transition: .3s;
    @include mobile {
      background-image: url('./../img/benefits-house-bg-mob.jpg');
    }
    &::before {
      content: "";
      position: absolute;
      // z-index: 1;
      inset: 0;
      opacity: 0;
      background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.6) 0%,
          rgba(0, 0, 0, 0.6) 100%
        ),
        url("./../img/benefits-house-bg.jpg"),
        lightgray -55.786px -77.315px / 104.867% 126.916% no-repeat;
      background-size: 100% 100%;
      background-attachment: fixed;
      background-position: top;
      transition: opacity .7s ease;
      @include mobile {
        background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.6) 0%,
          rgba(0, 0, 0, 0.6) 100%
        ),
        url("./../img/benefits-house-bg-mob.jpg"),
        lightgray -55.786px -77.315px / 104.867% 126.916% no-repeat;
        background-size: 100% 100%;
        background-attachment: fixed;
        background-position: top;
        transition: opacity .7s ease;
      }
    }
  }
}

