.built-houses {
  padding: 120px 0;
  position: relative;
  overflow: hidden;
  max-width: 100%;
  width: 100%;
  text-align: center;

  @media (min-width: 1441px) {
    padding: 12rem 0;
  }

  &--itemCart {
    .built-houses__content {
      margin-bottom: 0 !important;
    }
  }

  &__content {
    position: relative;
    text-align: left;
    margin-bottom: 70px;

    @include mobile {
      margin-bottom: 60px;
    }

    @media (min-width: 1441px) {
      margin-bottom: 7rem;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 330px;

      @include mobile {
        margin-bottom: 150px;
      }

      @media (min-width: 1441px) {
        margin-bottom: 16rem;
      }
    }
  }

  &__paragraph {
    cursor: default;
    pointer-events: none;
    user-select: none;
    flex-shrink: 0;
    margin: 0;
    display: block;
    position: relative;
    z-index: 2;
    font-size: 180px;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px var(--focus-color);
    white-space: nowrap;
    transition: transform ease;

    &--right {
      -webkit-text-stroke: 1px var(--black-brand-color);
      z-index: 9;
      align-self: flex-end;
    }

    &--left {
      align-self: flex-start;
    }

    @media (min-width: 1441px) {
      padding: 12rem 0;
    }

    @include mobile {
      font-size: 18rem;
    }
  }

  &__slide {
    height: 100%;
    width: 100%;
    user-select: none;

    @include mobile {
      max-width: 290px;
    }
  }

  &__slider {
    position: absolute;
    z-index: 5;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 500px;
    cursor: grab;

    @media (min-width: 1441px) {
      height: 50rem;
    }

    @include mobile {
      height: 180px;
    }

    .swiper-slide {
      &:nth-child(odd) {
        height: 50%;

        @include mobile {
          height: 100%;
        }
      }

      &--down {
        margin-top: auto;
      }
    }
  }
}