.cta {
  width: 100%;
  position: relative;
  padding: 173px 0 137px;
  padding-left: 140px;
  padding-right: 270px;
  // background-image: url("./../img/cta-bg.webp");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;

  @media (min-width: 1440px) {
    padding: 17.3rem 0 13.7rem;
    padding-left: 14rem;
    padding-right: 27rem;
  }

  @media (max-width: 1300px) {
    padding-left: 14rem;
    padding-right: 27rem;
  }

  @include mobile {
    padding: 32px 16px 80px;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }

  &__left {
    margin-right: 160px;
    max-width: 900px;

    @media (min-width: 1440px) {
      margin-right: 16rem;
    }

    @media (max-width: 1300px) {
      margin-right: 16rem;
    }

    @include mobile {
      margin-right: 0;
    }
  }

  &__title {
    position: relative;
    z-index: 1;
    color: var(--white-color);
    font-family: "PP Neue Montreal";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.4px;

    @include mobile {
      font-size: 32px;
      text-align: center;
      margin-bottom: 64px;
    }

    @media (min-width: 1440px) {
      font-size: 4.8rem;
      letter-spacing: 0.24rem;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @include mobile {
      flex-wrap: wrap;
    }

    @media (min-width: 2560px) {
      padding-left: unset;
      padding-right: unset;
      justify-content: space-evenly;
    }
  }

  &__address {
    margin-bottom: 20px;

    @include mobile {
      margin-bottom: 16px;
    }
  }

  &__form {
    max-width: 450px;
    flex-grow: 1;
    flex-shrink: 0;
    align-items: flex-start;


    @media (min-width: 1441px) {
      max-width: 45rem;
    }

    @media (max-width: 1300px) {
      max-width: 45rem;
    }

    @include mobile {
      flex-grow: 0;
      flex-shrink: 1;
      margin: 0 auto;
      max-width: 450px;
    }

    &--catalogue {
      .form__title {
        align-self: flex-start;
      }
    }
  }
}