.dropdown {
  display: inline-block;
  position: relative;
  @include hover {
    .dropdown__btn {
      color: var(--focus-color);
      span {
        border-color: var(--focus-color);
      }
    }
  }
  &__list {
    position: absolute;
    padding-top: 10%;
    top: 100%;
    left: 0;
    display: none;
    z-index: 20;
  }
  &__item {
    padding: 12px 0;
    position: relative;
    @media (min-width: 1440px){
      padding: 1.2rem 0;
    }
    @include hover {
      .nav__link {
        color: var(--focus-color);
      }
    }
  }
  &__btn {
    color: var(--white-color);
    display: flex;
    span {
      margin-left: 4px;
      display: inline-block;
      width: 8px;
      height: 8px;
      border-bottom: 1px solid var(--white-color);
      border-left: 1px solid var(--white-color);
      transform: rotate(-45deg);
      transition: border-color .3s ease-in;
    }
    @include hover {
      .dropdown__list {
        display: block;
      }
      span {
        border-color: var(--focus-color) !important;
      }
    }
  }
}
.dropdown:hover .dropdown__list {display: block;}
