.eco-house {
  padding-top: 120px;
  // background-image: url('./../img/forest.webp');
  background-position: top -15% center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  overflow-x: hidden;

  @media (min-width: 2560px) {
    background-position: bottom;
  }

  @media (min-width: 1440px) {
    padding-top: 12rem;
  }

  @include mobile {
    background-position: right top;
    background-size: auto 80%;
    margin-bottom: 0;
  }

  &__content {
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  &__header {
    text-align: center;
    max-width: 768px;
    margin: 0 auto;
    margin-bottom: 130px;

    @media (min-width: 1440px) {
      max-width: 76.8rem;
      margin-bottom: 13rem;
    }
  }

  &__title {
    margin-bottom: 15px;

    @media (min-width: 1440px) {
      margin-bottom: 1.5rem;
    }
  }

  &__desc {
    margin: 0;
    color: var(--black-brand-color);
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0.32px;
    font-size: 16px;

    @media (min-width: 1440px) {
      font-size: 1.6rem;
      letter-spacing: 0.032rem;
    }
  }

  &__content {
    margin-top: 130px;

    @media (min-width: 1440px) {
      margin-top: 13rem;
    }
  }

}