.eco-house {
  position: relative;
  padding-top: 120px;
  padding-bottom: 120px;
  margin-bottom: 350px;
  background-image: url('./../img/forest-bg.png');
  background-position: center center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  &__header {
    text-align: center;
    max-width: calc-between-width(1440, 768, 3840, 1500);
    margin: 0 auto;
    margin-bottom: calc-between-width(1440, 130, 3840, 260);
  }
  &__title {
    margin-bottom: 15px;
  }
  &__desc {
    margin: 0;
    color: var(--black-brand-color);
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0.32px;
    font-size: calc-between-width(1440, 16, 3840, 32);
  }

  &__content {
    margin-top: 130px;
  }
  &__clouds {

  }
}
