.favorites {

  &__logo {
    @include mobile {
      display: none;
    }
  }
}

.favorites-menu {
  height: 100%;
  overflow-y: hidden;

  &__wrapper {
    width: 100%;
    position: relative;
    overflow-y: auto;
  }

  &__title {
    margin-right: 20px;
    margin-bottom: 60px;
    color: var(--black-brand-color);
    font-family: "PP Neue Montreal";
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0.96px;
    text-transform: uppercase;
    display: flex;
    align-items: center;

    @media (min-width: 1440px) {
      font-size: 3.2rem;
      letter-spacing: 0.096rem;
      margin-right: 2rem;
      margin-bottom: 6rem;
    }

    span {
      margin-left: 20px;
      color: var(--focus-color);

      @media (min-width: 1440px) {
        margin-left: 2rem;
      }

      @include mobile {
        color: var(--white-color);
      }
    }

    @include mobile {
      font-size: 24px;
      margin: 0;
      width: 100%;
      padding: 32px 16px;
      background-color: var(--focus-color);
    }
  }

  &__window {
    height: 100%;
    overflow: hidden;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 0;
    padding-bottom: 0;

    @include mobile {
      padding: 0;
      // flex-direction: unset;
    }
  }
}

.favorites-content {
  height: 100%;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: 440px;
  gap: 30px;
  overflow-y: hidden;

  @media (min-width: 1440px) {
    grid-auto-rows: 44rem;
  }

  @include mobile {
    grid-template-columns: 1fr;
    gap: 2px;
  }

  .projects-section__card {
    position: relative;
    z-index: 2;
    grid-column: 9 span;

    @include mobile {
      grid-column: 1 span;
    }
  }

}

.card-item {
  width: 100%;
}

.favorites-btn {
  position: relative;

  &__quantity {
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: var(--focus-color);
    font-family: "PP Neue Montreal";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;

    @media (min-width: 1440px) {
      font-size: 1.2rem;
      letter-spacing: 0.12rem;
    }

    @include mobile {
      width: 16px;
      height: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--black-brand-color);
      border-radius: 100%;
      background-color: var(--focus-color);
    }
  }
}