.filters {
  display: flex;
  justify-content: center;

  ul {
    margin: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4px;
    list-style: none;
    padding: 10px 29px;
    margin-bottom: 28px;
    overflow: hidden;

    @media (min-width: 1441px) {
      padding: 1rem 2.9rem;
      margin-bottom: 2.8rem;
    }

    @include mobile {
      padding: 24px 12px;
      margin-bottom: 0;
    }


    @media (min-width: 1440px) {
      gap: 0.4rem;
    }

    &>li {
      &>button {
        cursor: pointer;
        border: none;
        margin: 0;
        background: none;
        padding: 8px 24px;
        color: var(--black-brand-color);
        font-family: "PP Neue Montreal";
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1.44px;
        text-transform: uppercase;
        border-radius: 4px;
        outline: 1px solid transparent;
        transition: outline .2s ease-in;

        &:active {
          outline-color: var(--focus-active-color);
        }


        @media (min-width: 1440px) {
          padding: 0.8rem 2.4rem;
          font-size: 1.2rem;
          border-radius: 0.4rem;
          letter-spacing: 0.144rem;
        }

        @include mobile {
          padding: 8px 23.5px;

          &:focus,
          &:active {
            outline-color: transparent;
          }
        }

        &:not(.active) {
          @include hover {
            outline-color: var(--focus-color);
          }
        }

        &.active {
          outline-color: var(--focus-active-color) !important;
        }

        &.disabled {
          color: var(--gray-lite-color);
          pointer-events: none;
        }
      }
    }
  }
}