.footer {
  background-color: var(--focus-color);
  padding: 30px 30px 0;
  @media (min-width: 1440px){
    padding: 3rem 3rem 0;
  }
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:not(:last-child){
      margin-bottom: 30px;
      @media (min-width: 1440px){
        margin-bottom: 3rem;
      }
    }
    &:last-child {
      padding: 16px 0;
      @media (min-width: 1440px){
       padding: 1.6rem 0;
      }
    }
  }
  &__phone {
    color: var(--black-brand-color);
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    @media (min-width: 1440px){
      font-size: 1.2rem;
    }
  }
  &__copy {
    color: var(--black-brand-color);
    font-size: 12px;
    font-weight: 400;
    line-height: 160%;
    @media (min-width: 1440px){
      font-size: 1.2rem;
    }
  }
  &__list {
    display: flex;
    align-items: center;
  }
  &__item {
    &:not(:last-child){
      margin-right: 30px;
      @media (min-width: 1440px){
        margin-right: 3rem;
      }
    }
  }
  &__link {
    color: var(--black-brand-color);
    font-size: 12px;
    font-weight: 400;
    line-height: 160%;
    @media (min-width: 1440px){
      font-size: 1.2rem;
    }
  }
}
