.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  padding: 28px 30px;
  transition: background-color 0.3s ease-in;

  @include mobile {
    padding: 32px 16px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__navigation {
    display: flex;
    align-items: baseline;
    margin-right: 43px;

    @media (min-width: 1440px) {
      margin-right: 4.3rem;
    }

    @media screen and (max-width: 1240px) {
      margin-right: unset;
    }
  }

  &__nav {
    @include mobile {
      display: none;
    }

    @media screen and (max-width: 1240px) {
      display: none;
    }
  }

  &__phone {
    margin-right: 60px;
    color: rgba(251, 251, 251, 0.8);
    font-family: "PP Neue Montreal";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    transition: color 0.3s ease-in;

    @include hover {
      color: var(--focus-color) !important;
    }

    @media (min-width: 1440px) {
      font-size: 1.2rem;
      letter-spacing: 0.12rem;
    }

    @media screen and (max-width: 1240px) {
      margin-right: 40px;
    }

    @include mobile {
      display: none;
    }
  }

  &__btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__btn {
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: 1440px) {
      width: 3.2rem;
      height: 3.2rem;
    }

    &:not(:last-child) {
      margin-right: 20px;

      @media (min-width: 1440px) {
        margin-right: 2rem;
      }
    }

    &:first-child {
      padding: 4px;

      svg {
        width: 100%;
        height: 100%;
        stroke-width: 1.5px;
      }

      @include mobile {
        display: none;
      }
    }

    svg {
      width: 100%;
      height: 100%;
      fill: none;
      stroke: var(--white-color);
      transition: stroke 0.3s ease-in;

      @include hover {
        stroke: var(--focus-color) !important;
      }
    }
  }

  &--secondary {
    background-color: var(--white-color);
    position: sticky;

    @include mobile {
      padding-bottom: 26px;
    }

    .dropdown__list {
      background-color: var(--white-color);
      padding: 0 20px;
      margin-left: -20px;

      @media (min-width: 1441px) {
        padding: 0 2rem;
        margin-left: calc(-1 * 2rem);
      }
    }
  }
}

.header.dark {
  .nav__link {
    color: var(--black-brand-color);
  }

  .dropdown__btn {
    span {
      border-color: var(--black-brand-color);
    }
  }

  .header__phone {
    color: var(--black-brand-color);
  }

  .header__btn {
    svg {
      stroke: var(--black-brand-color);
    }
  }

  .header__logo {
    svg {
      path {
        fill: var(--black-brand-color);
      }
    }
  }
}