.item-hero {
  h1 {
    margin: 0;
    text-align: center;
    font-size: 48px;
    color: var(--black-brand-color);
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
    letter-spacing: 2.4px;
    font-style: normal;
    line-height: normal;

    @media (min-width: 1441px) {
      font-size: 4.8rem;
      letter-spacing: 0.24rem;
    }

    @include mobile {
      font-size: 24px;
      font-weight: 500;
      letter-spacing: 0.48px;
      margin-bottom: 24px;
    }
  }

  &__fullscreen {
    border-radius: 4px;
    position: absolute;
    z-index: 5;
    bottom: 32px;
    right: 32px;
    background-color: rgba(37, 35, 33, 0.8);
    transition: background-color .3s ease-in-out, outline-color .3s ease-in-out;

    svg {
      stroke: #fff;
    }

    @include mobile {
      bottom: 0;
      right: 16px;
      top: 162px;
    }

    @include hover {
      background-color: rgba(37, 35, 33, 0.85);
    }
  }

  &__btn {
    left: unset;
    right: unset;
  }
}

.item-product {
  padding: 30px 0;
  display: flex;
  align-items: flex-start;

  @media (min-width: 1441px) {
    padding: 3rem 0;
  }

  @include mobile {
    padding: 0;
    flex-wrap: wrap;
  }

  &__slider {
    position: relative;
    max-width: 950px;

    @media (min-width: 1441px) {
      max-width: unset;
    }

    @include mobile {
      width: 100%;
    }

    .swiper-wrapper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide.card {
      width: auto;
      display: flex;
      justify-content: center;
      height: 100%;
      width: 100%;
      min-height: 535px;
      position: relative;

      @media (min-width: 1441px) {
        min-height: 53.5rem;
      }

      @include mobile {
        min-height: 210px;
      }

      img {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__content {
    padding: 0 32px;
    width: 490px;
    flex-shrink: 0;

    @include mobile {
      padding: 16px;
      width: unset;
      flex: 1;
    }
  }

  &__buttons {
    padding: 32px 0;
    transition: opacity 0.3s ease-in, z-index 0.3s ease-in;

    @media (min-width: 1441px) {
      padding: 3.2rem 0;
    }

    @include mobile {
      padding: 16px 24px;
      position: fixed;
      z-index: 10;
      left: 0;
      right: 0;
      bottom: 60px;
    }
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 16px;

      @media (min-width: 1441px) {
        margin-bottom: 1.6rem;
      }
    }
  }

  &__btn {
    text-align: center;

    &:first-child {
      flex: 1;
      margin-right: 16px;
      padding-left: 2.8rem;
      padding-right: 2.8rem;

      @media (min-width: 1441px) {
        // margin-right: 1.6rem;
        padding-left: 2.8rem;
        padding-right: 2.8rem;
      }
    }

    &--white {
      background-color: var(--white-color);
    }
  }

  &__refers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include mobile {
      width: 100%;
      flex-direction: row;
      justify-content: center;
      align-items: baseline;
      gap: 32px;
    }

    // for small devices
    @media (max-width: 375px) {
      gap: 3.2rem;
    }
  }

  &__ref {
    padding: 0;
    padding: 5px 0;
    margin: 0;
    padding-left: 36px;
    font-size: 10px;

    @media (min-width: 1441px) {
      padding: 0.5rem 0;
      padding-left: 3.6rem;
      font-size: 1rem;
    }

    @include mobile {
      color: var(--black-brand-color);
      padding-left: 30px;
    }

    &:not(:last-child) {
      margin-bottom: 16px;

      @media (min-width: 1441px) {
        margin-bottom: 1.6rem;
      }
    }

    &::before {
      width: 24px;
      height: 24px;

      @media (min-width: 1441px) {
        width: 2.4rem;
        height: 2.4rem;
      }
    }
  }

  &__control-btn {
    @include mobile {
      top: 110px;
    }
  }
}

.item-product__preview {
  padding: 16px;
  border-radius: 12px;
  background: rgba(37, 35, 33, 0.8);
  max-width: 478px;
  display: flex;

  &-wrapper {
    height: 96px;
    max-width: 100%;
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    bottom: 32px;
    display: flex;
    justify-content: center;

    @media (min-width: 1441px) {
      bottom: 3.2rem;
      height: 9.6rem;
    }

    @include mobile {
      height: unset;
      position: relative;
      bottom: unset;
      padding: 0 50px;
    }
  }

  @media (min-width: 1441px) {
    padding: 1.6rem;
    border-radius: 1.2rem;
    max-width: 47.8rem;
  }

  @include mobile {
    padding: 0;
    flex-wrap: wrap;
    width: 100%;
    background-color: unset;
    border-radius: unset;
  }
}

.item-product__thumbs {
  margin-right: 24px;

  .swiper-slide-thumb-active {
    .item-product__thumb {
      outline-color: var(--focus-color);
    }
  }

  @media (min-width: 1441px) {
    margin-right: 2.4rem;
  }

  @include mobile {
    margin: 12px 16px;
  }
}

.item-product__thumb {
  cursor: pointer;
  overflow: hidden;
  border-radius: 4px;
  height: 100%;
  outline: 1px solid transparent;
  outline-offset: -1px;
  transition: outline-color 0.2s ease-in;

  @include hover {
    outline-color: var(--focus-color);
  }

  @media (min-width: 1441px) {
    border-radius: 0.4rem;
    outline-width: 0.1rem;
    outline-offset: -0.1rem;
  }
}