.item-plan {
  padding-top: 60px;

  &__title {
    margin-bottom: 40px;
    text-align: center;
    overflow: hidden;
    color: var(--black-brand-color);
    text-overflow: ellipsis;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.6px;

    @media (min-width: 1441px) {
      margin-bottom: 4rem;
      font-size: 3.2rem;
      letter-spacing: 0.16rem;
    }

    @include mobile {
      margin-bottom: 32px;
      font-size: 24px;
      font-weight: 500;
      letter-spacing: 0.48px;
    }
  }

  @media (min-width: 1441px) {
    padding-top: 6rem;
  }

  @include mobile {
    padding-top: 32px;
  }

  &__btn {
    left: unset;
    right: unset;
  }
}

.plan {
  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile {
      padding: 12px 16px;
      margin-bottom: 20px;
    }

    button {
      border: none;
      padding: 0;
      background-color: transparent;
      cursor: pointer;

      display: inline-block;
      padding: 16px 32px;
      border-radius: 4px;

      font-family: "PP Neue Montreal";
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 1.44px;
      text-transform: uppercase;
      transition: background-color 0.3s ease-in, color 0.3s ease-in;
      color: var(--black-brand-color);

      @media (min-width: 1440px) {
        font-size: 1.2rem;
        padding: 1.6rem 3.2rem;
        border-radius: 0.4rem;
        letter-spacing: 0.144rem;
      }

      @include mobile {
        padding: 16px;
      }

      &.active {
        svg {
          fill: var(--focus-color);
          stroke: var(--focus-color);
        }

        @include hover {
          fill: var(--focus-active-color);
        }
      }


      outline: 1px solid transparent;
      outline-offset: -1px;
      transition: outline-color 0.3s ease-in;

      &.active {
        background-color: var(--focus-color);

        @include mobile {
          background-color: unset;
          outline: 1px solid var(--focus-color);
        }
      }

      &:not(:last-child) {
        margin-right: 8px;

        @media (min-width: 1441px) {
          margin-right: 0.8rem;
        }
      }

      @include hover {
        outline-color: var(--focus-color);
      }

      @media (min-width: 1441px) {
        outline-width: 0.1rem;
        outline-offset: -0.1rem;
      }

      @include mobile {
        flex: 1;
        border-radius: 12px;
        height: 46px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  &__content {
    position: relative;
    cursor: zoom-in;
    background-color: #e8e8e8;

    &-buttons {
      position: absolute;
      top: 50px;
      right: 25px;
      z-index: 2;
      display: flex;
      align-items: center;
      gap: 16px;

      @media (min-width: 1441px) {
        gap: 1.6rem;
        top: 5rem;
        right: 2.5rem;
      }

      @include mobile {
        position: relative;
        top: unset;
        justify-content: flex-end;
      }
    }
  }

  &__item {
    width: 100%;
    // height: 80vh;
    display: none;


    &.active {
      display: block;
    }

    picture,
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    @include mobile {
      height: 290px;
    }
  }
}
