.menu {
  position: fixed;
  inset: 0;
  z-index: -1;
  background: rgba(37, 35, 33, 0.8);
  display: flex;
  justify-content: flex-end;
  opacity: 0;
  transition: background 0.5s linear, opacity 0.3s ease-in;

  &__window {
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    &--favorites {
      background-color: var(--white-color);
    }
    &--main {
      background-color: var(--focus-color);
    }
  }
  &__logo {
    position: absolute;
    left: 30px;
    top: 30px;
    opacity: 0;
    transition: opacity 0.3s ease-in;
    @include mobile {
      left: 16px;
      top: 32px;
    }
  }
  &__close-btn {
    position: absolute;
    top: 40px;
    right: 60px;
    width: 32px;
    height: 32px;
    background-image: url("./../img/close-icon.svg");
    background-position: center center;
    background-size: 13px 13px;
    background-repeat: no-repeat;
    @media (min-width: 1440px){
      width: 3.2rem;
      height: 3.2rem;
      background-size: 1.3rem 1.3rem;
    }
    @include mobile {
      top: 32px;
      right: 16px;
    }
  }
}
.menu-active {
  opacity: 1;
  z-index: 10;
  .menu__logo {
    opacity: 1;
    z-index: 30;
    @include mobile {
      svg {
        path {
          fill: var(--black-brand-color) !important;
          transition: fill 0.3s ease-in;
        }
      }
    }
  }
  .menu-window {
    transform: translateX(0);
  }
}
.menu-disabled {
  opacity: 0;
  .menu-window {
    transition: transform 0.3s ease-in;
    transform: translateX(100%);
  }
  .menu__logo {
    transition: opacity 0.3s ease-in;
    opacity: 0;
  }
}
.menu-window {
  width: 75%;
  padding: 90px 120px;
  padding-right: 77px;
  display: flex;
  overflow: auto;
  @media (min-width: 1440px){
    padding: 9rem 12rem;
  }
  @include mobile {
    width: 100%;
    padding: 96px 40px 0 0;
    padding-left: 16px;
    padding-bottom: 50px;
    flex-wrap: wrap;
    align-items: center;
  }
  &__left {
    margin-right: 120px;
    @include mobile {
      margin-right: 0;
    }
  }
}

.menu-right {
  @include mobile {
    order: -1;
  }
  &__heading {
    margin: 0;
    margin-bottom: 16px;
    color: var(--black-brand-color);
    font-family: " PP PP Neue Montreal";
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0.96px;
    text-transform: uppercase;
    padding: unset;
    @media (min-width: 1440px){
      font-size: 3.2rem;
      margin-bottom: 1.6rem;
    }
    @include mobile {
      font-size: 24px;
    }
  }
  &__list {
    &:not(:last-child) {
      margin-bottom: 40px;
      @media (min-width: 1440px){
        margin-bottom: 4rem;
      }
    }
  }
  &__item {
    padding: 12px 0;
    &--up {
      padding: unset;
      color: var(--black-brand-color);
      font-family: "PP Neue Montreal";
      letter-spacing: 0.96px;
      text-transform: uppercase;
      margin-bottom: 16px;
    }
    @media (min-width: 1440px){
      padding: 1.2rem 0;
    }
  }
  &__link {
    color: var(--black---brand, #252321);
    font-family: "PP Neue Montreal";
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    @media (min-width: 1440px){
      font-size: 1.2rem;
    }
    @include mobile {
      font-size: 14px;
    }
  }
  &:not(:last-child) {
    margin-bottom: 40px;
    @media (min-width: 1440px){
      margin-bottom: 4rem;
    }
  }
}
.menu-left {
  &__list {
    margin-bottom: 60px;
    @media (min-width: 1440px){
      margin-bottom: 6rem;
    }
    @include mobile {
      margin-bottom: 24px;
    }
  }
  &__item {
    color: var(--black-brand-color);
    font-family: "PP PP Neue Montreal";
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0.96px;
    text-transform: uppercase;
    &--mob {
      display: none;
      @include mobile {
        display: block;
      }
    }
    @media (min-width: 1440px){
      font-size: 3.2rem;
    }
    @include mobile {
      font-size: 24px;
    }
    a {
      color: inherit;
    }
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
}


