.gallery__slider {
  position: relative;
  z-index: 10;
  height: 90%;
  width: 100%;
  border: 1px solid var(--focus-color);
}
.gallery__slider-mini {

  height: 7%;
  margin-bottom: 2px;
  .swiper-slide {
    width: auto;
  }
}

.gallery {
  &__window {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  &__item {
    position: relative;
    height: 100%;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__item-mini {
    width: 102px;
    position: relative;
    height: 100%;
    cursor: pointer;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @media (min-width: 1440px) {
      width: 10.2rem;
    }
  }
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
