.mouse-rotate {
  position: absolute;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 1px solid #fff6f6;
  pointer-events: none;
  color: var(--white-color);
  font-family: "PP Telegraf";
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.32px;
  text-transform: uppercase;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);

  @media (min-width: 1440px){
    width: 10rem;
    height: 10rem;
    font-size: 1.2rem;
  }
}
