.nav {
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: visible;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 24px;
    }
  }
  &__link {
    color: var(--white-color);
    font-family: "PP Neue Montreal";
    font-size: calc-between-width(1440, 12, 3840, 24);
    font-weight: 500;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    transition: color 0.3s ease-in;
    @include hover {
      color: var(--focus-color) !important;
    }
  }
}
