.office {
  padding-top: 120px;
  padding-bottom: 160px;
  &__title {
    margin-bottom: 60px;
    @media (min-width: 1440px){
      margin-bottom: 6rem;
    }
  }
  &__block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 80px;
    @media (min-width: 1440px){
      margin-bottom: 8rem;
    }
  }

  &__address {
    max-width: 210px;
    margin-bottom: 64px;

    @media (min-width: 1440px){
      max-width: 21rem;
      margin-bottom: 6.4rem;
    }
  }
  &__slider {
  }
  &__card {
    max-width: 593px;
  }
  .swiper-slide {
    cursor: grab;
  }
}
