.projects-section {
  padding: 100px 30px; // переделать
  text-align: center;
  overflow: hidden;
  &__container {
    text-align-last: left;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 440px);
    grid-auto-columns: 1fr;
    grid-auto-rows: 440px;

    gap: 20px;
    @include mobile {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 440px);
      gap: 2px;
      margin-bottom: 32px;
    }
    @media (min-width: 1440px){
      grid-template-rows: repeat(2, 44rem);
      grid-auto-rows: 44rem;
    }
  }
  &__title {
    margin-bottom: 64px;
  }
  @include mobile {
    padding: 0;
    padding-top: 80px;
    padding-bottom: 32px;
  }
}
.projects-card {
  position: relative;
  width: 100%;
  overflow: hidden;
  @include hover {
    .projects-card__details {
      display: block;
    }
    .projects-card__img {
      transform: scale(1.05);
    }
  }
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 1;
    background: rgb(37, 35, 33, 0.3);
    @include mobile {
      background: rgb(37, 35, 33, 0.6);
    }
  }
  &__btn {
    position: absolute;
    z-index: 5;
    top: 30px;
    right: 30px;

    width: 46px;
    height: 46px;
    border-color: var(--white-color);
    border: none;
    svg {
      padding: 0;
      width: 30px;
      height: 30px;
    }
  }
  &__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 1s ease-in;
  }
  &__info {
    position: absolute;
    z-index: 5;
    left: 30px;
    bottom: 32px;
    color: #fff;
    max-width: 371px;

    @media (min-width: 1440px){
      max-width: 37.1rem;
    }
  }
  &__list {
    justify-content: flex-start;
  }
  &__item {
    color: var(--white-color);
    span {
      color: inherit;
    }
    &--sq {
      &::before {
        background-image: url('./../img/house-icon/house-icon-sq.svg');
      }
    }
    &--fl {
      &::before {
        background-image: url('./../img/house-icon/house-icon-fl.svg');
      }
    }
    &--bed {
      &::before {
        background-image: url('./../img/house-icon/house-icon-bed.svg');
      }
    }
    &--bath {
      &::before {
        background-image: url('./../img/house-icon/house-icon-bath.svg');
      }
    }
    &--pl {
      &::before {
        background-image: url('./../img/house-icon/house-icon-pl.svg');
      }
    }
  }
  &__title {
    margin: 0;
    color: var(--white-color);
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 1.6px;
    @media (min-width: 1440px){
      font-size: 3.2rem;
    }
    @include mobile {
      font-size: 24px;
    }
  }
  &__more {
    position: relative;
    color: var(--white-color);
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.44px;
    text-transform: uppercase;
    padding-right: 66.5px;
    @include mobile {

    }
    @media (min-width: 1440px){
      font-size: 1.2rem;
      padding-right: 6.65rem;
    }
    &::before {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 54.5px;
      height: 6px;
      background-image: url('./../img/arrow-right.svg');
      background-position: right center;
      background-size: cover;
      background-repeat: no-repeat;
      transition: width .3s ease-in;
      @media (min-width: 1440px){
        width: 5.45rem;
        height: 0.6rem;
      }
    }

    @include hover {
      &::before {
        width: 30px;
        @media (min-width: 1440px){
          width: 3rem;
        }
      }
    }
  }
  &__details {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    will-change: max-height;
    transition: opacity .3s ease-in, max-height .3s ease-in, margin-top .3s ease-in;
    &.active {
      opacity: 1;
      margin-top: 16px;
      @media (min-width: 1440px){
        margin-top: 1.6rem;
      }
    }

    @include mobile {
      margin-top: 16px;
      opacity: 1;
      max-height: unset;
    }
  }
}

