.product {
  position: relative;

  @include hover {
    h3 {
      color: var(--focus-color);
    }
  }

  &__header {
    text-align: center;
    padding: 16px 32px;

    @include mobile {
      padding: 16px;

    }

    h3 {
      margin: 0;
      margin-bottom: 16px;
      color: var(--black-brand-color);
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 1.2px;

      @include mobile {
        font-size: 20px;
        letter-spacing: 1px;
      }
    }

    a {
      display: inline-block;
      padding: 16px 32px;
      border-radius: 4px;

      font-family: "PP Neue Montreal";
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 1.44px;
      text-transform: uppercase;
      transition: background-color 0.3s ease-in, color 0.3s ease-in;
      color: var(--black-brand-color);
      background-color: var(--focus-color);

      &:focus {
        background-color: var(--focus-active-color);
      }

      @include hover {
        background-color: var(--focus-active-color);
      }

      &:active {
        background-color: var(--focus-active-color);
      }
    }
  }

  &__slider {
    display: none;
    height: 100%;
    max-width: 100%;

    .swiper-slide {
      width: 100%;
    }

    picture,
    img {
      pointer-events: none;
    }

    @include mobile {
      display: block;
    }
  }

  &__switch {
    @include mobile {
      display: none !important;
    }
  }

  &__image {
    position: relative;
    display: block;
    height: 440px;

    @media (min-width: 1440px) {
      height: 44rem;
    }

    @include mobile {
      height: 250px;
    }

    @include hover {
      .image-pagination {
        opacity: 1;
        transform: translateY(-16px);
      }
    }
  }

  &__btn {
    position: absolute;
    right: 30px;
    top: 30px;
    border: none;
    z-index: 9;
    width: 36px;
    height: 36px;

    svg {
      width: 100%;
      height: 100%;
      stroke-width: 2px;
    }

    @media (min-width: 1440px) {
      right: 3rem;
      top: 3rem;
      width: 3.6rem;
      height: 3.6rem;
    }

    @include mobile {
      width: 25px;
      height: 25px;
      top: 25px;
      right: 26px;
    }
  }

  &__info {
    padding: 16px 32px;
    padding-right: 45px;

    @media (min-width: 1440px) {
      padding: 1.6rem 3.2rem;
      padding-right: 4.5rem;
    }

    @include mobile {
      padding: 16px;
    }
  }

  &__link {
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: 1;
    }
  }
}

.product-info {
  display: flex;
  justify-content: space-between;

  @include mobile {
    flex-direction: column;
  }

  &__left {
    @include mobile {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 8px;
    }

    &>h3 {
      margin: 0;
      margin-bottom: 4px;
      color: var(--black-brand-color);
      font-family: "PP Neue Montreal";
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 1.6px;
      text-transform: capitalize;
      transition: color 0.2s ease-in;

      @media (min-width: 1440px) {
        margin-bottom: 0.4rem;
        font-size: 3.2rem;
        letter-spacing: 0.16rem;
      }

      @include mobile {
        font-size: 28px;
        letter-spacing: 1.4px;
      }
    }

    &>span {
      display: inline-block;
      color: var(--gray-middle-color);
      font-family: "PP Neue Montreal";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      letter-spacing: 0.32px;
      line-height: 160%;
      display: flex;
      align-items: center;

      &>svg {
        height: 26px;
        width: 15px;
        fill: currentColor;

        @media (min-width: 1440px) {
          height: 2.6rem;
          width: 1.5rem;
        }
      }

      @media (min-width: 1440px) {
        font-size: 1.6rem;
        letter-spacing: 0.032rem;
      }
    }
  }

  &>ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4px 26px;

    @include mobile {
      gap: 4px 5px;
      max-width: 231px;
    }

    &>li {
      position: relative;
      padding: 3px 0;
      padding-left: 50px;
      display: flex;
      align-items: center;

      &:last-child {
        position: absolute;
        overflow: hidden;
        margin: -1px;
        border: 0;
        padding: 0;
        width: 1px;
        height: 1px;
        clip: rect(0 0 0 0);
      }

      @media (min-width: 1440px) {
        padding: 0.3rem;
        padding-left: 5rem;
      }

      @include mobile {
        padding: 1px 0;
        padding-left: 36px;
      }

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 36px;
        height: 36px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;

        @media (min-width: 1440px) {
          width: 3.6rem;
          height: 3.6rem;
        }

        @include mobile {
          width: 24px;
          height: 24px;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      &[data-sq] {
        &::before {
          background-image: url("./../img/house-icon/house-icon-sq-black.svg");
        }
      }

      &[data-fl] {
        &::before {
          background-image: url("./../img/house-icon/house-icon-fl-black.svg");
        }
      }

      &[data-bed] {
        &::before {
          background-size: contain;
          background-image: url("./../img/house-icon/house-icon-bed-black.svg");
        }
      }

      &[data-bath] {
        &::before {
          background-image: url("./../img/house-icon/house-icon-bath-black.svg");
        }
      }
    }
  }



  &__figure {
    color: var(--black-brand-color);
    font-family: "PP Neue Montreal";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    letter-spacing: 0.36px;

    @media (min-width: 1440px) {
      font-size: 1.8rem;
      letter-spacing: 0.036rem;
    }

    @include mobile {
      font-size: 16px;
    }

    span {
      color: rgba(37, 35, 33, 0.4);
      font-weight: 400;
      font-size: 16px;

      @media (min-width: 1440px) {
        font-size: 1.6rem;
      }

      sup {
        font-family: "Aeonik Pro";
      }

      @include mobile {
        font-size: 14px;
        margin-left: 5px;
      }
    }
  }


}

.image-switch {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 8;
  display: flex;

  &__item {
    flex-grow: 1;

    &:first-child .image-switch__img {
      opacity: 1;
      z-index: -1;
    }

    @include hover {
      .image-switch__img {
        opacity: 1;
        z-index: -1;
      }
    }
  }

  &__img {
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    transform: translateX(-50%);
    pointer-events: none;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.1s ease-in;

    picture,
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.image-pagination {
  position: absolute;
  z-index: 21;
  left: 0;
  bottom: 0px;
  opacity: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  transition: transform 0.2s ease-in, opacity 0.2s ease-in;

  &__item {
    display: block;
    margin: 0 4px;
    height: 8px;
    width: 8px;
    border-radius: 100%;
    background-color: var(--black-brand-color);

    &--active {
      background-color: var(--focus-color);
    }
  }
}

.product-slider__pagination {
  opacity: 0;
  bottom: 0;
  transform: translateY(16px);
  transition: opacity 0.2s ease-in, transform 0.2s ease-in;

  .swiper-pagination-bullet {
    margin: 0 4px;
    height: 8px;
    width: 8px;
    border-radius: 100%;
    background-color: var(--black-brand-color);
    opacity: 1;

    &-active {
      background-color: var(--focus-color);
    }
  }

  &--active {
    opacity: 1;
    transform: translateY(0);
  }
}