.responsibility {
  padding-top: 120px;
  padding-bottom: 110px;
  min-height: 100vh;
  &__title {
    margin: 0 auto;
    margin-bottom: 80px;
    max-width: 944px;
  }
  &__items {

    height: 360px;
    & .swiper-slide {
      display: flex;
      align-items: center;justify-content: center;
    }
  }

}


.progress {
  transform: rotate(-90deg);
  transform-origin: center;
}
.progress-bg {
  transform: rotate(-90deg);
  transform-origin: center;
}
.res {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 890px;
  &__left {
    position: relative;
    margin-right: 40px;

  }
  &__title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__figure {
    margin: 0;
    color: var(--focus-color);
    text-align: center;
    font-family: "Aeonik Pro";
    font-size: 120px;
    font-weight: 400;
    text-transform: uppercase;
  }
  &__info {
    margin: 0;
    color: var(--black-brand-color);
    font-size: 40px;
    font-weight: 400;
    span {
      color: var(--focus-color);
    }
  }
}
.res-control-btn {
  position: relative;
  transform: translateX(50%);
  padding: 0;
}

.progress {
  filter: drop-shadow( 0 0 2px var(--focus-color)) drop-shadow( 0 0 5px var(--focus-color)) drop-shadow( 0 0 10px var(--focus-color));
}
