.services-section {
  padding-top: 57px;
  min-height: 100vh;
  &__title {
    margin: 0 auto;
    text-align: center;
    max-width: 1000px;
    @media (min-width: 1440px){
      max-width: 100rem;
    }
    @include mobile {
      margin-bottom: 74px;
    }

  }
  &__container {
    padding-top: 113px;
    padding-left: 113px;
    position: relative;
    display: flex;
    align-items: center;
    @media (min-width: 1440px){
      padding-top: 11.3rem;
      padding-left: 11.3rem;
    }
    @include mobile {
      padding: 0;
      flex-direction: column;
    }
  }
  &__image {
    position: relative;
    max-width: 540px;
    margin-right: 20px;
    @media (min-width: 1440px){
      max-width: 54rem;
      margin-right: 2rem;
    }
    @include mobile {
      max-width: 275px;
      margin: 0 auto;
    }
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }

    &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -1;
      top: -20px;
      right: -20px;
      border: 1px solid var(--focus-color);
      @include mobile {
        display: none;
      }
    }
  }
  &__right {
    position: relative;
    flex: 1;
    // border-top: 1px solid var(--focus-color);
    width: 100%;
    @include mobile {
      margin-top: 80px;
    }
  }
  &__line {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    border-top: 1px solid var(--focus-color);

    @include mobile {
      position: fixed;
      width: 100%;
      height: 1px;
      bottom: 180px;
      top: unset;
      transform: unset;
      border-top: unset;
    }
  }
  &__list {
    position: absolute;
    left: 0;
    counter-reset: counter 0;
    padding-left: 66px;
    transform: translateY(var(--top-offset));
    transition: transform linear;
    @media (min-width: 1440px){
      padding-left: 6.6rem;
    }
    @include mobile {
      padding-left: 0;
      position: relative;
    }
  }
  &__item {
    position: relative;
    counter-increment: counter 1;
    padding: 24px 0;
    padding-left: 42px;
    color: var(--gray-lite-color);
    transition: color .1s ease-in;
    @media (min-width: 1440px){
      padding: 2.4rem 0;
      padding-left: 4.2rem;
    }
    @include mobile {
      padding: 0;
      margin: 32px 0;
      margin-left: 16px;
      padding-left: 20px;
    }
    &::before {
      content: counter(counter);
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      color: var(--black-brand-color);
      font-size: 14px;
      color: currentColor;
      transition: color .1s ease-in;
      @media (min-width: 1440px){
        font-size: 1.4rem;
      }
    }
    &.active {
      color: var(--black-brand-color);
      .services-section__text {
        span {
          color: var(--focus-active-color);
        }
      }
    }
  }
  &__text {
    margin: 0;
    color: inherit;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.24px;
    transition: color .1s ease-in;
    span {
      transition: color .1s ease-in;
    }
    @media (min-width: 1440px){
      font-size: 2.4rem;
    }
    @include mobile {
      font-size: 20px;
    }
  }

}


.services-section-right__container {
  padding-left: 0;
}
