.tech {
  // margin-top: -200px;
  padding-bottom: 80px;
  overflow: hidden;

  @media (min-width: 1440px) {
    padding-bottom: 8rem;
  }

  @include mobile {
    margin-top: 0;
    padding-bottom: 160px;
  }

  &__title {
    @include mobile {
      letter-spacing: 0.48px;
      margin-bottom: 80px;
    }
  }

  &__container {
    padding: 160px 0;

    @include mobile {
      padding: 200px 0;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 60px;
    }

    &:last-child {
      a {

        align-self: flex-end;
      }
    }

    @include mobile {
      position: relative;
    }

    @include hover {
      .tech__paragraph--right {
        -webkit-text-fill-color: unset !important;
        -webkit-text-stroke: unset !important;
        color: var(--focus-color);
      }

      .tech__paragraph--left {
        -webkit-text-fill-color: unset !important;
        -webkit-text-stroke: unset !important;
        color: var(--black-brand-color);
      }
    }
  }

  &__img {
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    width: 420px;
    height: 240px;
    opacity: 0;
    transform: scale(0.4);
    margin-top: -120px;

    background-size: cover;
    background-repeat: no-repeat;

    cursor: none;
    pointer-events: none;
    will-change: left, top;
    transition: left linear, top linear, opacity 0.3s ease-in, transform .3s ease-in;

    @media (min-width: 1440px) {
      width: 42rem;
      height: 24rem;
      margin-top: -12rem;
    }

    @include mobile {
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
      // top: 15%;
      opacity: 1;
      width: 340px;
      height: 200px;
      margin-top: 0;
    }

    &--1 {
      background-image: url("./../img/text-pic-02-2x.webp");

      @include mobile {
        transform: translateX(-50%) translateY(-93%);
      }
    }

    &--2 {
      background-image: url("./../img/text-pic-01-2x.webp");
      top: 70%;
    }

    img {
      max-width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__paragraph {
    flex-shrink: 0;
    margin: 0;
    display: block;
    position: relative;
    z-index: 2;
    font-size: 180px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: normal;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1.6px var(--black-brand-color);
    white-space: nowrap;
    cursor: pointer;
    transition: transform ease, -webkit-text-fill-color linear .2s;

    @media (min-width: 1440px) {
      font-size: 18rem;
    }

    &--right {
      -webkit-text-stroke: 1.6px var(--focus-color);

      @include mobile {
        -webkit-text-fill-color: unset;
        color: var(--focus-color);
      }
    }

    &--left {
      @include mobile {
        -webkit-text-fill-color: unset;
        color: var(--black-brand-color);
      }
    }

    @include mobile {
      font-size: 40px;
    }

  }
}