.video-section {
  margin-top: 120px;
  width: 100%;
  height: 640px;

  @media (min-width: 1440px) {
    height: 64rem;
  }

  @include mobile {
    height: 60vh;

  }

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;

  }
}