<section class="about-gift">
  <div class="main-container about-gift__container">
    <div class="about-gift__forest gift-forest">
      <div class="gift-forest__window">
        <svg xmlns="http://www.w3.org/2000/svg" width="503" height="346" viewBox="0 0 503 346" fill="none">
          <g opacity="0.4">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M274.219 0H274.084V63.7373H274.219V0Z" fill="#E4E4E4" />
            <path fill-rule="evenodd" clip-rule="evenodd" d="M274.084 0V63.7373H274.219V0H274.084Z" fill="#E4E4E4" />
            <path d="M0 0V63.7373H99.8058V345.861H173.919V63.7373H274.084V0H0Z" fill="#E4E4E4" />
            <path
              d="M274.219 0V63.7373H274.084V345.861H348.197V205.541H474.683V144.768H348.197V63.7373H502.352V0H274.219Z"
              fill="#E4E4E4" />
          </g>
        </svg>
        <div class="gift-forest__block gift-forest__block--1"></div>
        <div class="gift-forest__block gift-forest__block--2"></div>
      </div>
    </div>
    <div class="about-gift__content">
      <h2 data-aos="custom-fade-up">Деревянное строительство&nbsp;&mdash; дар для будущих поколений</h2>
      <p data-aos="custom-fade-up">Фасад наших домов в&nbsp;значительной степени состоит из&nbsp;деревянных элементов,
        которые получены
        исключительно из&nbsp;экологически чистых лесных хозяйств. Древесина заменяет традиционные строительные
        материалы,
        такие как бетон и&nbsp;пластик, и&nbsp;обладает рядом уникальных свойств. Она регулирует влажность, способствует
        здоровью аллергиков и&nbsp;астматиков, обеспечивает тепло зимой и&nbsp;прохладу летом</p>
      <p data-aos="custom-fade-up">Дерево оказывает благотворное воздействие на&nbsp;сердечно-сосудистую и&nbsp;нервную
        систему. Научные
        исследования, проведённые профессором доктором Максимилианом Мозером из&nbsp;Университета Граца, показали, что
        учащиеся, обучающиеся в&nbsp;классах с&nbsp;мебелью из&nbsp;натурального дерева, чувствуют себя более
        расслабленно. Их&nbsp;сердца бьются намного реже в&nbsp;течение школьного дня&nbsp;&mdash; впечатляющие 8600 раз
        меньше, чем у&nbsp;студентов в&nbsp;классах с&nbsp;другим типом мебели</p>
    </div>
  </div>
</section>