<section class="about-mon">
  <div class="about-mon__block">
    <div class="about-mon__phone">
      <picture>
        <source srcset="./img/phone-bg.webp">
        <img src="./img/phone-bg.png" alt="">
      </picture>
    </div>
    <div class="about-mon__content">
      <h2>Мониторинг строительства</h2>
      <p data-aos="custom-fade-up">Мы&nbsp;предоставляем вам полный контроль качества на&nbsp;всех этапах строительных
        работ, а&nbsp;также
        подробные онлайн отчёты. Если ваша цель&nbsp;&mdash; построить надёжный и&nbsp;тёплый деревянный дом,
        вы&nbsp;можете поручить это профессионалам нашей компании. Мы&nbsp;объединяем глубокие знания финских
        строительных традиций с&nbsp;инновационными технологиями и&nbsp;современными материалами, с&nbsp;умелым
        сочетанием которых создаём уникальные проекты</p>
    </div>
  </div>
</section>