<section class="about-harmony">
  <div class="main-container">
    <div class="about-harmony__header">
      <h2 data-aos="custom-fade-up">В гармонии с природой, в ногу со временем</h2>
      <p data-aos="custom-fade-up">Мы не случайно выбираем древесину!
        Какое воздействие строительный материал оказывает на воздух и воду? Какие устройства экономят больше всего
        энергии?
        Что положительно влияет на самочувствие?
      </p>
    </div>
    <div class="about-harmony__content">
      <div class="about-harmony__item harmony-item harmony-item--health" data-aos="custom-fade-up">
        <img src="./img/harmony/01.svg" alt="">
        <p>Здоровье человека
          и&nbsp;качество воздуха</p>
      </div>
      <div class="about-harmony__item harmony-item harmony-item--quality" data-aos="custom-fade-up"
        data-aos-delay="500">
        <img src="./img/harmony/02.svg" alt="">
        <p>Качество материала
          и&nbsp;возобновляемая энергия</p>
      </div>
      <div class="about-harmony__item harmony-item harmony-item--various" data-aos="custom-fade-up"
        data-aos-delay="1000">
        <img src="./img/harmony/03.svg" alt="">
        <p>Разнообразие фактур
          и&nbsp;архитектурных стилей</p>
      </div>
    </div>
  </div>
</section>