<section class="about-prod">
  <div class="about-prod__header">
    <h2 data-aos="custom-fade-up">Наше производство</h2>
    <p data-aos="custom-fade-up">Современное здание и&nbsp;модернизированное производство с&nbsp;европейской
      сертификацией качества. В&nbsp;2016
      году производство подтвердило качество выпускаемой продукции и&nbsp;её&nbsp;соответствие с&nbsp;европейскими
      нормами, получив сертификат EN&nbsp;14080:2013, выданный МРА Otto-Graf. Специальный цех для производства
      разработанного нашей компанией бруса
    </p>
  </div>
  <div class="about-prod__container main-container">
    <div class="about-prod__slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture>
            <source srcset="./img/built-house2-2x.webp">
            <img src="./img/built-house2-2x.png" alt="">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source srcset="./img/built-house1-2x.webp">
            <img src="./img/built-house1-2x.png" alt="">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source srcset="./img/built-house2-2x.webp">
            <img src="./img/built-house2-2x.png" alt="">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source srcset="./img/built-house1-2x.webp">
            <img src="./img/built-house1-2x.png" alt="">
          </picture>
        </div>
      </div>
    </div>
    <div class="about-prod__slider-control prod-control">
      <button
        class="btn-reset slider-control__btn slider-control__btn--dark slider-control__btn--prev prod-control__btn prod-control__btn--prev">
        <span></span>
      </button>
      <button
        class="btn-reset slider-control__btn slider-control__btn--dark slider-control__btn--next prod-control__btn prod-control__btn--next">
        <span></span>
      </button>
    </div>
  </div>
</section>