<section class="about-video">
  <div class="about-video__container main-container">
    <div class="about-video__video">
      <div class="about-video__wrapper">
        <picture>
          <source srcset="./img/about-video-bg-2x.webp 2x" media="(min-width: 1921px)">
          <source srcset="./img/about-video-bg.webp">
          <img src="./img/about-video-bg.jpg" class="about-video__cover" srcset="./img/about-video-bg-2x.jpg 2x" alt="">
        </picture>
        <button>
        </button>
      </div>
      <img class="about-video__trace rellax" data-rellax-speed="2" src="./img/trace-icon.svg" alt="">
    </div>
    <div class="about-video__content">
      <h4 data-aos="custom-fade-up">Сейчас наша компания является официальным дилером завода</h4>
      <h3 data-aos="custom-fade-up">АО «Вышневолоцкий леспромхоз»</h3>
      <p data-aos="custom-fade-up">В 2016 году производство подтвердило качество выпускаемой продукции и ее соответствие
        с
        европейскими нормами, получив сертификат EN 14080:2013, выданный МРА Otto-Graf.</p>
    </div>
  </div>
</section>