<section class="about-hero">
  <div class="about-hero__trigger about-hero__trigger--1"></div>
  <div class="about-hero__trigger about-hero__trigger--2"></div>

  <div class="about-hero__trigger about-hero__trigger--5"></div>
  <div class="about-hero__trigger about-hero__trigger--6"></div>
  <div class="about-hero__left about-main">
    <p class="about-main__ann">
      <span>10 лет</span>
      <span>10 лет</span>
      <span>10 лет</span>
      <span>10 лет</span>
      <span>10 лет</span>
      <span>10 лет</span>
      <span>10 лет</span>
      <span>10 лет</span>
      <span>10 лет</span>
      <span>10 лет</span>
      <span>10 лет</span>
    </p>

    <h1 class="title title--white" data-aos="custom-fade-up" data-aos-delay="200">Компания ТФ
      Хаус основана в 2012 году
      и специализируется на cтроительстве
      загородных деревянных домов
    </h1>
    <div class="about-main__items">
      <p data-aos="custom-fade-up" data-aos-delay="200">Начав свою деятельность, мы вступили в партнёрство с крупнейшими
        и успешными заводами Финляндии,
        специализирующимися в изготовлении домов из клеёного бруса и деревянных домов по технологии Timber Frame</p>
      <p data-aos="custom-fade-up" data-aos-delay="400">Наши финские партнёры стоят у истоков промышленного производства
        клеёного бруса в Финляндии. Все ключевые
        специалисты ТФ Хаус проходили подготовку и подтвердили квалификацию в Финляндии</p>
    </div>
  </div>
</section>