<section class="about-desc">
  <div class="about-desc__header">
    <h2 data-aos="custom-fade-up">Заголовок СЕО блока</h2>
    <p data-aos="custom-fade-up">Мы&nbsp;предоставляем вам полный контроль качества на&nbsp;всех этапах строительных
      работ, а&nbsp;также подробные
      онлайн отчёты. Если ваша цель&nbsp;&mdash; построить надёжный и&nbsp;тёплый деревянный дом, вы&nbsp;можете
      поручить это профессионалам нашей компанииs</p>
  </div>
  <div class="about-desc__row">
    <div class="about-desc__background">
      <picture>
        <source srcset="./img/built-house2-2x.webp">
        <img src="./img/built-house2-2x.jpg" alt="">
      </picture>
    </div>
    <div class="about-desc__content">
      <article>
        <h3 data-aos="custom-fade-up">Второй заголовок один для СЕО блока</h3>
        <p data-aos="custom-fade-up">Мы&nbsp;предоставляем вам полный контроль качества на&nbsp;всех этапах строительных
          работ, а&nbsp;также
          подробные онлайн отчёты. Если ваша цель&nbsp;&mdash; построить надёжный и&nbsp;тёплый деревянный дом,
          вы&nbsp;можете поручить это профессионалам нашей компании
        </p>
      </article>
      <article>
        <h3 data-aos="custom-fade-up">Еще один заголовок</h3>
        <p data-aos="custom-fade-up">Мы&nbsp;предоставляем вам полный контроль качества на&nbsp;всех этапах строительных
          работ, а&nbsp;также
          подробные онлайн отчёты. Если ваша цель&nbsp;&mdash; построить надёжный и&nbsp;тёплый деревянный дом,
          вы&nbsp;можете поручить это профессионалам нашей компанииМы предоставляем вам полный контроль качества
          на&nbsp;всех этапах строительных работ, а&nbsp;также подробные онлайн отчёты. Если ваша цель&nbsp;&mdash;
          построить надёжный и&nbsp;тёплый деревянный дом, вы&nbsp;можете поручить это профессионалам нашей компанииМы
          предоставляем вам полный контроль качества на&nbsp;всех этапах строительных работ, а&nbsp;также подробные
          онлайн отчёты. Если ваша цель&nbsp;&mdash; построить надёжный и&nbsp;тёплый деревянный дом, вы&nbsp;можете
          поручить это профессионалам нашей компании</p>
      </article>
    </div>
  </div>
</section>