<section class="benefit" id="benefit">
  <div class="benefit__container">
    <div class="benefit__heading" data-aos="fade-up">
      <h3 class="benefit__title-logo">TF House</h3>
      <p>The best for different <span>|</span> Лучшее для разных</p>
    </div>
    <h1 class="title benefit__title" data-aos="fade-up">
      Будь то&nbsp;самые смелые или консервативные мечты об&nbsp;идеальном
      загородном доме&nbsp;&mdash; мы&nbsp;готовы их&nbsp;реализовать!
    </h1>
    <div class="benefit__buttons">
      <a href="#" class="btn btn--fill benefit__btn">Готовые дома на продажу</a>
      <button
        class="btn btn-reset btn--stroke benefit__btn consult-btn"
        data-form-id="consult-arch"
      >
        Консультация архитектора
      </button>
    </div>
  </div>
  <ul class="benefit__list list-reset">
    <li class="benefit__item">
      <p
        class="benefit__text benefit__text--guarantee"
        data-aos="fade-up"
        data-aos-delay="0"
      >
        Гарантия 5&nbsp;лет и&nbsp;3&nbsp;года сервисное сопровождение
      </p>
    </li>
    <li class="benefit__item">
      <p
        class="benefit__text benefit__text--payment"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        Прозрачная детальная&nbsp;смета и&nbsp;поэтапная оплата
      </p>
    </li>
    <li class="benefit__item">
      <p
        class="benefit__text benefit__text--prod"
        data-aos="fade-up"
        data-aos-delay="400"
      >
        Собственное производство и&nbsp;технадзор
      </p>
    </li>
    <li class="benefit__item">
      <p
        class="benefit__text benefit__text--tech"
        data-aos="fade-up"
        data-aos-delay="600"
      >
        Финские технологии и&nbsp;премиальное сырьё
      </p>
    </li>
  </ul>
</section>
