<section class="benefits-house">
  <h2 class="title centered benefits-house__title" data-aos="fade-up">
    Преимущества деревянного дома
  </h2>
  <div class="wrapper">
    <div class="parallax">
      <div class="parallax__wrapper">
        <div class="parallax__body"></div>
      </div>
    </div>
    <div
      class="benefits-house__content benefits-house__content--disabled house-content"
    >
      <div class="house-content__container">
        <div class="house-content__grid mob-order-0">
          <div
            class="house-content__content house-content__content--gap house-content__content--order"
          >
            <h2
              class="title title--white house-content__title"
              data-aos="fade-up"
            >
              Разнообразие фактур и&nbsp;интеллигентное сочетание стилей, для
              тех, кто не&nbsp;готов довольствоваться простыми постройками
            </h2>
            <a href="#" class="btn btn--fill house-content__btn"
              >заказать индивидуальный проект</a
            >
            <div class="house-content__text" data-aos="fade-up">
              <p>
                Создаём изысканные формы из&nbsp;дерева, комбинируем
                с&nbsp;камнем и&nbsp;штукатуркой
              </p>
              <p>
                Такое может быть продумано и&nbsp;воплощено в&nbsp;высочайшем
                качестве из&nbsp;премиальных материалов только в&nbsp;деревянном
                доме от&nbsp;TF&nbsp;House
              </p>
            </div>
          </div>
          <div class="house-content__image">
            <img src="./img/benefits-house-1.jpg" alt="" data-parallax="big-img" />
            <div class="house-content__image--mini" style="width: 45%">
              <img src="./img/benefits-house-02.jpg" alt="" data-parallax="small-img"/>
            </div>
          </div>
        </div>
      </div>
      <div class="house-content__grid mob-order-3 container">
        <div class="house-content__image" data-parallax="big-img">
          <img src="./img/benefits-house-03.jpg" alt="" />
        </div>
      </div>
      <div class="house-content__grid container">
        <div class="house-content__content house-content mob-order-2">
          <h2
            class="title title--white house-content__title"
            data-aos="fade-up"
          >
            Архитектура&nbsp;&mdash; позволяет сочетать комфорт, пространство
            и&nbsp;время
          </h2>
          <a href="#" class="btn btn--fill house-content__btn"
            >консультация архитектора</a
          >
          <div class="house-content__text" data-aos="fade-up">
            <p>
              Классические деревянные дома, которые никогда не&nbsp;выйдут
              из&nbsp;моды. Современные проекты, как новый символ загородной
              жизни
            </p>
            <p>
              Мы&nbsp;сможем воплотить вашу мечту о&nbsp;деревянном доме
              в&nbsp;самые короткие сроки строительства
            </p>
          </div>
        </div>
        <div
          class="house-content__image house-content__image--last flex-centered mob-dis"
        >
          <img
            src="./img/benefits-house-04.jpg"
            alt="House"
            style="width: auto"
          />
        </div>
      </div>
    </div>

  </div>
  <div class="benefits-house__mob-photo">
    <img src="./img/benefits-house-04.jpg" alt="house image">
  </div>
</section>
