<section class="benefits-house">
  <div class="wrapper">
    <h2 class="title centered benefits-house__title container" data-aos="custom-fade-up" data-aos-easing="ease-in-sine"
      data-aos-duration="800">
      Преимущества деревянного дома
    </h2>
    <div class="parallax">
      <div class="parallax__wrapper">
        <div class="parallax__body"></div>
      </div>
    </div>
    <div class="benefits-house__content benefits-house__content--disabled house-content main-container">
      <div class="house-content__container">
        <div class="house-content__grid mob-order-0">
          <div class="house-content__content house-content__content--gap house-content__content--order">
            <h2 class="title title--white house-content__title" data-aos="custom-fade-up" data-aos-delay="100">
              Разнообразие фактур и&nbsp;интеллигентное сочетание стилей, для
              тех, кто не&nbsp;готов довольствоваться простыми постройками
            </h2>
            <a href="#" class="btn btn--fill house-content__btn">заказать индивидуальный проект</a>
            <div class="house-content__text">
              <p data-aos="custom-fade-up" data-aos-delay="100">
                Создаём изысканные формы из&nbsp;дерева, комбинируем
                с&nbsp;камнем и&nbsp;штукатуркой
              </p>
              <p data-aos="custom-fade-up" data-aos-delay="300">
                Такое может быть продумано и&nbsp;воплощено в&nbsp;высочайшем
                качестве из&nbsp;премиальных материалов только в&nbsp;деревянном
                доме от&nbsp;TF&nbsp;House
              </p>
            </div>
          </div>
          <div class="house-content__image" id="bh1">
            <picture>
              <source srcset="./img/bh2/bh1.webp" type="image/webp" media="(max-width: 1440px)" />
              <source srcset="./img/bh2/bh1_2x.webp 2x" type="image/webp" media="(min-width: 1440px)" />
              <source srcset="./img/bh2/bh1_mob.webp" type="image/webp" media="(max-width: 576px)" />
              <source srcset="./img/bh2/bh1_mob.jpg" type="image/webp" media="(max-width: 576px)" />
              <img src="./img/bh2/bh1.jpg" srcset="./img/bh2/bh1_2x.jpg 2x" alt="House image" loading="lazy"
                class="rellax" data-rellax-speed="1" />
            </picture>
            <div class="house-content__image--mini house-content__image--mini-mob" style="width: 45%;">
              <picture>
                <source srcset="./img/bh/bh2.webp" type="image.webp" media="(max-width: 1440px)" />
                <source srcset="./img/bh2/bh2_2x.webp 2x" type="image.webp" media="(min-width: 1440px)" />
                <source srcset="./img/bh2/bh2_mob.webp" type="image/webp" media="(max-width: 576px)" />
                <source srcset="./img/bh2/bh2_mob.jpg" type="image/webp" media="(max-width: 576px)" />

                <img src="" alt="House image mini" data-img-src="./img/bh2/bh2.jpg"
                  data-img-srcset="./img/bh2/bh2_2x.jpg" class="rellax" data-rellax-speed="2" />
              </picture>
            </div>
          </div>
        </div>
      </div>
      <div class="house-content__grid mob-order-3 container">
        <div class="house-content__image">
          <picture>
            <source srcset="./img/bh2/bh3_mob.webp" type="image/webp" media="(max-width: 576px)" />
            <source srcset="./img/bh2/bh3_mob.jpg" type="image/webp" media="(max-width: 576px)" />
            <source srcset="./img/bh2/bh3.webp" type="image/webp" media="(max-width: 1440px)" />
            <source srcset="./img/bh2/bh3_2x.webp" type="image/webp" media="(min-width: 1440px)" />

            <img src="./img/bh2/bh3.jpg" srcset="./img/bh2/bh3_2x.jpg 2x" alt="House image" id="bh3" height="400"
              class="rellax" data-rellax-speed="1" data-rellax-percentage="1" />
          </picture>
        </div>
      </div>
      <div class="house-content__grid container">
        <div class="house-content__content house-content mob-order-2 up-content"
          style="@media (min-width: 769px) {margin-left: -30px} width: unset">
          <h2 class="title title--white house-content__title" data-aos="custom-fade-up">
            Архитектура&nbsp;&mdash; позволяет сочетать комфорт, пространство
            и&nbsp;время
          </h2>
          <a href="#" class="btn btn--fill house-content__btn">консультация архитектора</a>
          <div class="house-content__text">
            <p data-aos="custom-fade-up" data-aos-delay="100">
              Классические деревянные дома, которые никогда не&nbsp;выйдут
              из&nbsp;моды. Современные проекты, как новый символ загородной
              жизни
            </p>
            <p data-aos="custom-fade-up" data-aos-delay="300">
              Мы&nbsp;сможем воплотить вашу мечту о&nbsp;деревянном доме
              в&nbsp;самые короткие сроки строительства
            </p>
          </div>
        </div>
        <div class="house-content__image house-content__image--last flex-centered mob-dis" id="bh4">
          <picture style="width: 70%; transform: translateY(20%);">
            <source srcset="./img/bh2/bh4_mob.webp" type="image/webp" media="(max-width: 576px)" />
            <source srcset="./img/bh2/bh4_mob.jpg" type="image/webp" media="(max-width: 576px)" />
            <source srcset="./img/bh2/bh4.webp" type="image/webp" media="(max-width: 1440px)" />
            <source srcset="./img/bh2/bh4_2x.webp" type="image/webp" media="(min-width: 1440px)" />

            <img src="./img/bh2/bh4.jpg" srcset="./img/bh2/bh4_2x.jpg" alt="House" height="400" width="400"
              class="rellax" data-rellax-speed="2" />
          </picture>
        </div>
      </div>
    </div>
  </div>
  <div class="benefits-house__mob-photo">
    <picture>
      <source srcset="./img/bh2/bh4.webp" type="image/webp" />
      <img src="" alt="house image" data-img-src="./img/bh/bh4.jpeg" class="rellax" data-rellax-speed="2" />
    </picture>
  </div>
</section>