<section class="built-houses">
  <h2 class="visually-hidden">Title Built Houses</h2>
  <div class="built-houses__content">
    <div class="built-houses__text">
      <p class="built-houses__paragraph built-houses__paragraph--left">
        <span>построенные</span>
        <span>построенные</span>
        <span>построенные</span>
        <span>построенные</span>
        <span>построенные</span>
        <span>построенные</span>
        <span>построенные</span>
      </p>
    </div>
    <div class="built-houses__slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="built-houses__slide">
            <picture>
              <source
                srcset="./img/built-house1-2x.png"
                type="image/webp"
                media="(min-width: 1440px)"
              />
              <img
                src="./img/built-house1.jpg"
                srcset="./img/built-house1-2x.jpg 2x"
                alt="Built house"
              />
            </picture>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="built-houses__slide">
            <picture>
              <source
                srcset="./img/built-house2.webp"
                type="image/webp"
                media="(max-width: 1440px)"
              />
              <source
                srcset="./img/built-house2-2x.webp"
                type="image/webp"
                media="(min-width: 1440px)"
              />
              <img
                src="./img/built-house2.jpg"
                srcset="./img/built-house2-2x.jpg 2x"
                alt="Built house"
              />
            </picture>
          </div>
        </div>
        <div class="swiper-slide swiper-slide--down">
          <div class="built-houses__slide">
            <picture>
              <source
                srcset="./img/built-house1-2x.png"
                type="image/webp"
                media="(min-width: 1440px)"
              />
              <img
                src="./img/built-house1.jpg"
                srcset="./img/built-house1-2x.jpg 2x"
                alt="Built house"
              />
            </picture>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="built-houses__slide">
            <picture>
              <source
                srcset="./img/built-house2.webp"
                type="image/webp"
                media="(max-width: 1440px)"
              />
              <source
                srcset="./img/built-house2-2x.webp"
                type="image/webp"
                media="(min-width: 1440px)"
              />
              <img
                src="./img/built-house2.jpg"
                srcset="./img/built-house2-2x.jpg 2x"
                alt="Built house"
              />
            </picture>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="built-houses__slide">
            <picture>
              <source
                srcset="./img/built-house1-2x.png"
                type="image/webp"
                media="(min-width: 1440px)"
              />
              <img
                src="./img/built-house1.jpg"
                srcset="./img/built-house1-2x.jpg 2x"
                alt="Built house"
              />
            </picture>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="built-houses__slide">
            <picture>
              <source
                srcset="./img/built-house2.webp"
                type="image/webp"
                media="(max-width: 1440px)"
              />
              <source
                srcset="./img/built-house2-2x.webp"
                type="image/webp"
                media="(min-width: 1440px)"
              />
              <img
                src="./img/built-house2.jpg"
                srcset="./img/built-house2-2x.jpg 2x"
                alt="Built house"
              />
            </picture>
          </div>
        </div>
        <div class="swiper-slide swiper-slide--down">
          <div class="built-houses__slide">
            <picture>
              <source
                srcset="./img/built-house1-2x.png"
                type="image/webp"
                media="(min-width: 1440px)"
              />
              <img
                src="./img/built-house1.jpg"
                srcset="./img/built-house1-2x.jpg 2x"
                alt="Built house"
              />
            </picture>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="built-houses__slide">
            <picture>
              <source
                srcset="./img/built-house2.webp"
                type="image/webp"
                media="(max-width: 1440px)"
              />
              <source
                srcset="./img/built-house2-2x.webp"
                type="image/webp"
                media="(min-width: 1440px)"
              />
              <img
                src="./img/built-house2.jpg"
                srcset="./img/built-house2-2x.jpg 2x"
                alt="Built house"
              />
            </picture>
          </div>
        </div>
      </div>
    </div>
    <div class="built-houses__text">
      <p class="built-houses__paragraph built-houses__paragraph--right">
        <span>дома</span>
        <span>дома</span>
        <span>дома</span>
        <span>дома</span>
        <span>дома</span>
        <span>дома</span>
        <span>дома</span>
        <span>дома</span>
        <span>дома</span>
        <span>дома</span>
        <span>дома</span>
        <span>дома</span>
        <span>дома</span>
      </p>
    </div>
  </div>
  <a href="#" class="btn btn-reset btn--fill bulit-houses__btn">готовые дома на продажу</a>
</section>
