<section class="catalogue-section">
  <h1 class="visually-hidden">Title Catalogue</h1>
  <ul class="list-reset breadcrumbs catalogue-section__breadcrumbs">
    <li class="breadcrumbs__item">
      <a href="./index.html" class="breadcrumbs__link">Главная</a>
    </li>
    <li class="breadcrumbs__item">
      <a class="breadcrumbs__link">Проекты домов</a>
    </li>
  </ul>

  <div class="catalogue-section__items">
    <ul class="catalogue-section__filters list-reset filters">
      <li class="filters__item">
        <button class="btn-reset filters__btn active" data-filter="all">
          Все
        </button>
      </li>
      <li class="filters__item">
        <button class="btn-reset filters__btn" data-filter="finnish">
          финская классика
        </button>
      </li>
      <li class="filters__item">
        <button class="btn-reset filters__btn" data-filter="modern">
          современные дома
        </button>
      </li>
      <li class="filters__item">
        <button class="btn-reset filters__btn" data-filter="interior">
          интерьер
        </button>
      </li>
      <li class="filters__item">
        <button class="btn-reset filters__btn" data-filter="1-floor">
          1 этаж
        </button>
      </li>
      <li class="filters__item">
        <button class="btn-reset filters__btn" data-filter="2-floors">
          2 этажа
        </button>
      </li>
      <li class="filters__item">
        <button class="btn-reset filters__btn" data-filter="3-floors">
          3 этажа
        </button>
      </li>
      <li class="filters__item">
        <button class="btn-reset filters__btn" data-filter="up-200-sq">
          до 200 м<sup>2</sup>
        </button>
      </li>
      <li class="filters__item">
        <button class="btn-reset filters__btn" data-filter="from-200-sq">
          от 200 м<sup>2</sup>
        </button>
      </li>
    </ul>

    <ul class="catalogue-section__catalogue catalogue list-reset">
      <!-- <li class="catalogue__item">
        <article class="catalogue__product product">
          <button class="product__btn btn btn--like btn--stroke btn-reset">
            <svg>
              <use xlink:href="img/sprite.svg#like-icon"></use>
            </svg>
          </button>
          <a href="#" class="product__image">
            <div class="product__switch image-switch">
              <div class="image-switch__item">
                <div class="image-switch__img">
                  <picture>
                    <source
                      srcset="./img/catalogue/01-1-2x.webp"
                      type="image/webp"
                      media="(min-width: 1440px)"
                    />
                    <source
                      srcset="./img/catalogue/01-1.webp"
                      type="image/webp"
                    />
                    <img
                      src="./img/catalogue/01-1.jpg"
                      srcset="./img/catalogue/01-1-2x.jpg"
                      alt="Product 1"
                    />
                  </picture>
                </div>
              </div>
              <div class="image-switch__item">
                <div class="image-switch__img">
                  <picture>
                    <source
                      srcset="./img/catalogue/01-2-2x.webp"
                      type="image/webp"
                      media="(min-width: 1440px)"
                    />
                    <source
                      srcset="./img/catalogue/01-2.webp"
                      type="image/webp"
                    />
                    <img
                      src="./img/catalogue/01-2.jpg"
                      srcset="./img/catalogue/01-2-2x.jpg"
                      alt="Product 1"
                    />
                  </picture>
                </div>
              </div>
              <div class="image-switch__item">
                <div class="image-switch__img">
                  <picture>
                    <source
                      srcset="./img/catalogue/01-1-2x.webp"
                      type="image/webp"
                      media="(min-width: 1440px)"
                    />
                    <source
                      srcset="./img/catalogue/01-1.webp"
                      type="image/webp"
                    />
                    <img
                      src="./img/catalogue/01-1.jpg"
                      srcset="./img/catalogue/01-1-2x.jpg"
                      alt="Product 1"
                    />
                  </picture>
                </div>
              </div>
            </div>
            <div class="product__slider swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <picture>
                    <source
                      srcset="./img/catalogue/01-1-2x.webp"
                      type="image/webp"
                      media="(min-width: 1440px)"
                    />
                    <source
                      srcset="./img/catalogue/01-1.webp"
                      type="image/webp"
                    />
                    <img
                      src="./img/catalogue/01-1.jpg"
                      srcset="./img/catalogue/01-1-2x.jpg"
                      alt="Product 1"
                    />
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source
                      srcset="./img/catalogue/01-2-2x.webp"
                      type="image/webp"
                      media="(min-width: 1440px)"
                    />
                    <source
                      srcset="./img/catalogue/01-2.webp"
                      type="image/webp"
                    />
                    <img
                      src="./img/catalogue/01-2.jpg"
                      srcset="./img/catalogue/01-2-2x.jpg"
                      alt="Product 1"
                    />
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source
                      srcset="./img/catalogue/01-1-2x.webp"
                      type="image/webp"
                      media="(min-width: 1440px)"
                    />
                    <source
                      srcset="./img/catalogue/01-1.webp"
                      type="image/webp"
                    />
                    <img
                      src="./img/catalogue/01-1.jpg"
                      srcset="./img/catalogue/01-1-2x.jpg"
                      alt="Product 1"
                    />
                  </picture>
                </div>
              </div>
              <div class="swiper-pagination product-slider__pagination"></div>
            </div>
            <ul
              class="pruoduct__image-pagination image-pagination list-reset"
            ></ul>
          </a>
          <div class="product__info product-info">
            <div class="product-info__left">
              <h3 class="product-info__title">Nisalahti</h3>
              <span class="product-info__price"
                >от&nbsp;12&nbsp;000&nbsp;₽</span
              >
            </div>
            <ul class="product-info__right list-reset">
              <li
                class="product-info__item product-info__item--sq"
                data-sq="400"
              >
                <div class="product-info__figure">
                  400 <span>м<sup>2</sup></span>
                </div>
              </li>
              <li class="product-info__item product-info__item--fl" data-fl="2">
                <div class="product-info__figure">2 <span>этажа</span></div>
              </li>
              <li
                class="product-info__item product-info__item--bed"
                data-bed="2"
              >
                <div class="product-info__figure">3 <span>спальни</span></div>
              </li>
              <li
                class="product-info__item product-info__item--bath"
                data-bath="3"
              >
                <div class="product-info__figure">2 <span>санузла</span></div>
              </li>
              <li
                class="product-info__item product-info__item--pl visually-hidden"
                data-pl="3"
              >
                <div class="product-info__figure">200 <span>площадь</span></div>
              </li>
            </ul>
          </div>
        </article>
      </li>
      <li class="catalogue__item">
        <article class="catalogue__product product">
          <button class="product__btn btn btn--like btn--stroke btn-reset">
            <svg>
              <use xlink:href="img/sprite.svg#like-icon"></use>
            </svg>
          </button>
          <a href="#" class="product__image">
            <div class="product__switch image-switch">
              <div class="image-switch__item">
                <div class="image-switch__img">
                  <picture>
                    <source
                      srcset="./img/catalogue/01-1-2x.webp"
                      type="image/webp"
                      media="(min-width: 1440px)"
                    />
                    <source
                      srcset="./img/catalogue/01-1.webp"
                      type="image/webp"
                    />
                    <img
                      src="./img/catalogue/01-1.jpg"
                      srcset="./img/catalogue/01-1-2x.jpg"
                      alt="Product 1"
                    />
                  </picture>
                </div>
              </div>
              <div class="image-switch__item">
                <div class="image-switch__img">
                  <picture>
                    <source
                      srcset="./img/catalogue/01-2-2x.webp"
                      type="image/webp"
                      media="(min-width: 1440px)"
                    />
                    <source
                      srcset="./img/catalogue/01-2.webp"
                      type="image/webp"
                    />
                    <img
                      src="./img/catalogue/01-2.jpg"
                      srcset="./img/catalogue/01-2-2x.jpg"
                      alt="Product 1"
                    />
                  </picture>
                </div>
              </div>
              <div class="image-switch__item">
                <div class="image-switch__img">
                  <picture>
                    <source
                      srcset="./img/catalogue/01-1-2x.webp"
                      type="image/webp"
                      media="(min-width: 1440px)"
                    />
                    <source
                      srcset="./img/catalogue/01-1.webp"
                      type="image/webp"
                    />
                    <img
                      src="./img/catalogue/01-1.jpg"
                      srcset="./img/catalogue/01-1-2x.jpg"
                      alt="Product 1"
                    />
                  </picture>
                </div>
              </div>
            </div>
            <div class="product__slider swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <picture>
                    <source
                      srcset="./img/catalogue/01-1-2x.webp"
                      type="image/webp"
                      media="(min-width: 1440px)"
                    />
                    <source
                      srcset="./img/catalogue/01-1.webp"
                      type="image/webp"
                    />
                    <img
                      src="./img/catalogue/01-1.jpg"
                      srcset="./img/catalogue/01-1-2x.jpg"
                      alt="Product 1"
                    />
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source
                      srcset="./img/catalogue/01-2-2x.webp"
                      type="image/webp"
                      media="(min-width: 1440px)"
                    />
                    <source
                      srcset="./img/catalogue/01-2.webp"
                      type="image/webp"
                    />
                    <img
                      src="./img/catalogue/01-2.jpg"
                      srcset="./img/catalogue/01-2-2x.jpg"
                      alt="Product 1"
                    />
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source
                      srcset="./img/catalogue/01-1-2x.webp"
                      type="image/webp"
                      media="(min-width: 1440px)"
                    />
                    <source
                      srcset="./img/catalogue/01-1.webp"
                      type="image/webp"
                    />
                    <img
                      src="./img/catalogue/01-1.jpg"
                      srcset="./img/catalogue/01-1-2x.jpg"
                      alt="Product 1"
                    />
                  </picture>
                </div>
              </div>
              <div class="swiper-pagination product-slider__pagination"></div>
            </div>
            <ul
              class="pruoduct__image-pagination image-pagination list-reset"
            ></ul>
          </a>
          <div class="product__info product-info">
            <div class="product-info__left">
              <h3 class="product-info__title">Nisalahti</h3>
              <span class="product-info__price"
                >от&nbsp;12&nbsp;000&nbsp;₽</span
              >
            </div>
            <ul class="product-info__right list-reset">
              <li
                class="product-info__item product-info__item--sq"
                data-sq="400"
              >
                <div class="product-info__figure">
                  400 <span>м<sup>2</sup></span>
                </div>
              </li>
              <li class="product-info__item product-info__item--fl" data-fl="2">
                <div class="product-info__figure">2 <span>этажа</span></div>
              </li>
              <li
                class="product-info__item product-info__item--bed"
                data-bed="2"
              >
                <div class="product-info__figure">3 <span>спальни</span></div>
              </li>
              <li
                class="product-info__item product-info__item--bath"
                data-bath="3"
              >
                <div class="product-info__figure">2 <span>санузла</span></div>
              </li>
              <li
                class="product-info__item product-info__item--pl visually-hidden"
                data-pl="3"
              >
                <div class="product-info__figure">200 <span>площадь</span></div>
              </li>
            </ul>
          </div>
        </article>
      </li>
      <li class="catalogue__item">
        <article class="catalogue__product product">
          <button class="product__btn btn btn--like btn--stroke btn-reset">
            <svg>
              <use xlink:href="img/sprite.svg#like-icon"></use>
            </svg>
          </button>
          <a href="#" class="product__image">
            <div class="product__switch image-switch">
              <div class="image-switch__item">
                <div class="image-switch__img">
                  <picture>
                    <source
                      srcset="./img/catalogue/01-1-2x.webp"
                      type="image/webp"
                      media="(min-width: 1440px)"
                    />
                    <source
                      srcset="./img/catalogue/01-1.webp"
                      type="image/webp"
                    />
                    <img
                      src="./img/catalogue/01-1.jpg"
                      srcset="./img/catalogue/01-1-2x.jpg"
                      alt="Product 1"
                    />
                  </picture>
                </div>
              </div>
              <div class="image-switch__item">
                <div class="image-switch__img">
                  <picture>
                    <source
                      srcset="./img/catalogue/01-2-2x.webp"
                      type="image/webp"
                      media="(min-width: 1440px)"
                    />
                    <source
                      srcset="./img/catalogue/01-2.webp"
                      type="image/webp"
                    />
                    <img
                      src="./img/catalogue/01-2.jpg"
                      srcset="./img/catalogue/01-2-2x.jpg"
                      alt="Product 1"
                    />
                  </picture>
                </div>
              </div>
              <div class="image-switch__item">
                <div class="image-switch__img">
                  <picture>
                    <source
                      srcset="./img/catalogue/01-1-2x.webp"
                      type="image/webp"
                      media="(min-width: 1440px)"
                    />
                    <source
                      srcset="./img/catalogue/01-1.webp"
                      type="image/webp"
                    />
                    <img
                      src="./img/catalogue/01-1.jpg"
                      srcset="./img/catalogue/01-1-2x.jpg"
                      alt="Product 1"
                    />
                  </picture>
                </div>
              </div>
            </div>
            <div class="product__slider swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <picture>
                    <source
                      srcset="./img/catalogue/01-1-2x.webp"
                      type="image/webp"
                      media="(min-width: 1440px)"
                    />
                    <source
                      srcset="./img/catalogue/01-1.webp"
                      type="image/webp"
                    />
                    <img
                      src="./img/catalogue/01-1.jpg"
                      srcset="./img/catalogue/01-1-2x.jpg"
                      alt="Product 1"
                    />
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source
                      srcset="./img/catalogue/01-2-2x.webp"
                      type="image/webp"
                      media="(min-width: 1440px)"
                    />
                    <source
                      srcset="./img/catalogue/01-2.webp"
                      type="image/webp"
                    />
                    <img
                      src="./img/catalogue/01-2.jpg"
                      srcset="./img/catalogue/01-2-2x.jpg"
                      alt="Product 1"
                    />
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source
                      srcset="./img/catalogue/01-1-2x.webp"
                      type="image/webp"
                      media="(min-width: 1440px)"
                    />
                    <source
                      srcset="./img/catalogue/01-1.webp"
                      type="image/webp"
                    />
                    <img
                      src="./img/catalogue/01-1.jpg"
                      srcset="./img/catalogue/01-1-2x.jpg"
                      alt="Product 1"
                    />
                  </picture>
                </div>
              </div>
              <div class="swiper-pagination product-slider__pagination"></div>
            </div>
            <ul
              class="pruoduct__image-pagination image-pagination list-reset"
            ></ul>
          </a>
          <div class="product__info product-info">
            <div class="product-info__left">
              <h3 class="product-info__title">Nisalahti</h3>
              <span class="product-info__price"
                >от&nbsp;12&nbsp;000&nbsp;₽</span
              >
            </div>
            <ul class="product-info__right list-reset">
              <li
                class="product-info__item product-info__item--sq"
                data-sq="400"
              >
                <div class="product-info__figure">
                  400 <span>м<sup>2</sup></span>
                </div>
              </li>
              <li class="product-info__item product-info__item--fl" data-fl="2">
                <div class="product-info__figure">2 <span>этажа</span></div>
              </li>
              <li
                class="product-info__item product-info__item--bed"
                data-bed="2"
              >
                <div class="product-info__figure">3 <span>спальни</span></div>
              </li>
              <li
                class="product-info__item product-info__item--bath"
                data-bath="3"
              >
                <div class="product-info__figure">2 <span>санузла</span></div>
              </li>
              <li
                class="product-info__item product-info__item--pl visually-hidden"
                data-pl="3"
              >
                <div class="product-info__figure">200 <span>площадь</span></div>
              </li>
            </ul>
          </div>
        </article>
      </li>
      <li class="catalogue__item">
        <article class="catalogue__product product">
          <button class="product__btn btn btn--like btn--stroke btn-reset">
            <svg>
              <use xlink:href="img/sprite.svg#like-icon"></use>
            </svg>
          </button>
          <a href="#" class="product__image">
            <div class="product__switch image-switch">
              <div class="image-switch__item">
                <div class="image-switch__img">
                  <picture>
                    <source
                      srcset="./img/catalogue/01-1-2x.webp"
                      type="image/webp"
                      media="(min-width: 1440px)"
                    />
                    <source
                      srcset="./img/catalogue/01-1.webp"
                      type="image/webp"
                    />
                    <img
                      src="./img/catalogue/01-1.jpg"
                      srcset="./img/catalogue/01-1-2x.jpg"
                      alt="Product 1"
                    />
                  </picture>
                </div>
              </div>
              <div class="image-switch__item">
                <div class="image-switch__img">
                  <picture>
                    <source
                      srcset="./img/catalogue/01-2-2x.webp"
                      type="image/webp"
                      media="(min-width: 1440px)"
                    />
                    <source
                      srcset="./img/catalogue/01-2.webp"
                      type="image/webp"
                    />
                    <img
                      src="./img/catalogue/01-2.jpg"
                      srcset="./img/catalogue/01-2-2x.jpg"
                      alt="Product 1"
                    />
                  </picture>
                </div>
              </div>
              <div class="image-switch__item">
                <div class="image-switch__img">
                  <picture>
                    <source
                      srcset="./img/catalogue/01-1-2x.webp"
                      type="image/webp"
                      media="(min-width: 1440px)"
                    />
                    <source
                      srcset="./img/catalogue/01-1.webp"
                      type="image/webp"
                    />
                    <img
                      src="./img/catalogue/01-1.jpg"
                      srcset="./img/catalogue/01-1-2x.jpg"
                      alt="Product 1"
                    />
                  </picture>
                </div>
              </div>
            </div>
            <div class="product__slider swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <picture>
                    <source
                      srcset="./img/catalogue/01-1-2x.webp"
                      type="image/webp"
                      media="(min-width: 1440px)"
                    />
                    <source
                      srcset="./img/catalogue/01-1.webp"
                      type="image/webp"
                    />
                    <img
                      src="./img/catalogue/01-1.jpg"
                      srcset="./img/catalogue/01-1-2x.jpg"
                      alt="Product 1"
                    />
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source
                      srcset="./img/catalogue/01-2-2x.webp"
                      type="image/webp"
                      media="(min-width: 1440px)"
                    />
                    <source
                      srcset="./img/catalogue/01-2.webp"
                      type="image/webp"
                    />
                    <img
                      src="./img/catalogue/01-2.jpg"
                      srcset="./img/catalogue/01-2-2x.jpg"
                      alt="Product 1"
                    />
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source
                      srcset="./img/catalogue/01-1-2x.webp"
                      type="image/webp"
                      media="(min-width: 1440px)"
                    />
                    <source
                      srcset="./img/catalogue/01-1.webp"
                      type="image/webp"
                    />
                    <img
                      src="./img/catalogue/01-1.jpg"
                      srcset="./img/catalogue/01-1-2x.jpg"
                      alt="Product 1"
                    />
                  </picture>
                </div>
              </div>
              <div class="swiper-pagination product-slider__pagination"></div>
            </div>
            <ul
              class="pruoduct__image-pagination image-pagination list-reset"
            ></ul>
          </a>
          <div class="product__info product-info">
            <div class="product-info__left">
              <h3 class="product-info__title">Nisalahti</h3>
              <span class="product-info__price"
                >от&nbsp;12&nbsp;000&nbsp;₽</span
              >
            </div>
            <ul class="product-info__right list-reset">
              <li
                class="product-info__item product-info__item--sq"
                data-sq="400"
              >
                <div class="product-info__figure">
                  400 <span>м<sup>2</sup></span>
                </div>
              </li>
              <li class="product-info__item product-info__item--fl" data-fl="2">
                <div class="product-info__figure">2 <span>этажа</span></div>
              </li>
              <li
                class="product-info__item product-info__item--bed"
                data-bed="2"
              >
                <div class="product-info__figure">3 <span>спальни</span></div>
              </li>
              <li
                class="product-info__item product-info__item--bath"
                data-bath="3"
              >
                <div class="product-info__figure">2 <span>санузла</span></div>
              </li>
              <li
                class="product-info__item product-info__item--pl visually-hidden"
                data-pl="3"
              >
                <div class="product-info__figure">200 <span>площадь</span></div>
              </li>
            </ul>
          </div>
        </article>
      </li> -->
    </ul>

    <ul class="pagination list-reset">
      <!-- <li class="pagination__item">
        <button class="btn-reset pagination__btn active">1</button>
      </li>
      <li class="pagination__item">
        <button class="btn-reset pagination__btn">2</button>
      </li>
      <li class="pagination__item">
        <button class="btn-reset pagination__btn">3</button>
      </li> -->
    </ul>
  </div>
</section>
