<section class="design-section">
  <div class="breadcrumbs design-section__breadcrumbs">
    <ul>
      <li>
        <a href="./index.html">Главная</a>
      </li>
      <li>
        <a href="./servicesMain.html">Услуги</a>
      </li>
      <li>
        <a>Выбор участка</a>
      </li>
    </ul>
  </div>
  <h1>
    Грамотный выбор участка под строительство дома повлияет не&nbsp;только на&nbsp;вашу дачную жизнь,
    но&nbsp;и&nbsp;на&nbsp;длительность и&nbsp;стоимость строительства
  </h1>
  <div class="design-section__background">
    <picture>
      <source srcset="./img/choice-area/choice-bg.webp" media="(max-width: 1920px)">
      <source srcset="./img/choice-area/choice-bg-2x.webp" media="(min-width: 1921px)">
      <img src="./img/choice-area/choice-bg.jpg" srcset="./img/choice-area/choice-bg.jpg" alt="">
    </picture>
  </div>
  <div class="design-section__container main-container design-section__pin">
    <div class="design-section__left">
      <div>
        <h2>Выбор участка</h2>
        <p>Если вы ещё не определились с будущей локацией загородного дома и находитесь
          в стадии
          покупки, мы можем уже на этой стадии грамотно оценить и выбрать участок, чтобы избежать в дальнейшем любых
          стеснений и ограничений. Лес, берег водоёма и коттеджная застройка</p>
      </div>
    </div>
    <div class="design-section__right">
      <ul>
        <li>
          <h4>Размер и&nbsp;форма будущего участка</h4>
        </li>
        <li>
          <h4>малое расстояние стен дома до&nbsp;забора и&nbsp;соседних домов</h4>
        </li>
        <li>
          <h4>сложность размещения дополнительных хозяйственных построек</h4>
        </li>
        <li>
          <h4>не&nbsp;каждый проект дома уместится на&nbsp;маленьком участке</h4>
        </li>
        <li>
          <h4>низкий уровень тишины и&nbsp;конфиденциальности</h4>
        </li>
      </ul>
    </div>
  </div>

  <div class="design-section__container main-container design-section__articles">
    <article>
    </article>
    <article>
      <a href="./designStep-second.html">
        <div class="design-section__image">
          <picture>
            <source srcset="./img/choice-area/design-thumb.webp" media="(max-width: 1920px)">
            <source srcset="./img/choice-area/design-thumb-2x.webp" media="(min-width: 1921px)">
            <img src="./img/choice-area/design-thumb.jpg" srcset="./img/choice-area/design-thumb-2x.jpg 2x" alt="">
          </picture>
        </div>
        <div class="design-card__content">
          <h5>Проектирование</h5>
          <p>Следующий этап</p>
        </div>
      </a>
    </article>
  </div>
</section>