<section class="eco-house">
  <div class="eco-house__header">
    <h3 class="subtitle centered" data-aos="fade-up">Эко-среда</h3>
    <h2 class="title centered eco-house__title" data-aos="fade-up">
      Возможность проводить время с&nbsp;семьёй, оберегая каждого
    </h2>
    <p class="eco-house__desc" data-aos="fade-up">
      *деревянные дома лучше всего подходят для жизни людей с&nbsp;астмой или
      аллергией
    </p>
  </div>
  <div class="eco-house__content house-content">
      <img src="./img/clouds.png" alt="Clouds" class="parallax__clouds">
    <div class="house-content__container">
      <div class="house-content__grid house-content__row--dark">
        <div class="house-content__content house-content__content--order cancel-padding-mob">
          <h2
            class="title title--white house-content__title"
            data-aos="fade-up"
          >
            Здоровые дома от&nbsp;TF&nbsp;House не&nbsp;выделяют вредных
            испарений
          </h2>
          <a href="#" class="btn btn--fill house-content__btn"
            >современные технологии</a
          >
          <div class="house-content__text" data-aos="fade-up">
            <p>
              Регулирует комфортную влажность 40&ndash;60% не&nbsp;позволяя
              пересушиваться воздуху
            </p>
            <p>
              Сохраняет тепло подобно теплу родных любящих сердец зимой
              и&nbsp;дарит прохладу летом.
            </p>
          </div>
        </div>
        <div class="house-content__image" style="justify-content: flex-end;">
          <img src="./img/eco-01.jpg" alt="" data-eco="1"/>
          <div
            class="house-content__image--mini house-content__image--eco-mini-1"
            style="width: 55%;"
          >
            <img src="./img/eco-02.jpg" alt="" data-eco="2"/>
          </div>
        </div>
      </div>
    </div>
    <div
      class="house-content__grid house-content--expanded"
    >
      <div
        class="house-content__content house-content__content--end house-content__content--small mob-order-1 container"
      >
        <h2 class="title title--white house-content__title" data-aos="fade-up">
          Эстетика в&nbsp;любом ландшафте
        </h2>
        <a href="#" class="btn btn--fill house-content__btn"
          >ландшафтный дизайн</a
        >
        <div class="house-content__text" data-aos="fade-up">
          <p>
            Деревянный дом идеально впишется в&nbsp;лесной пейзаж, лаконично
            расположится в&nbsp;коттеджном посёлке, воссоздаст атмосферу природы
            в&nbsp;городской среде
          </p>
        </div>
      </div>
      <div class="house-content__image mob-order-3">
        <img src="./img/eco-03.jpg" alt="" />
        <div
          class="house-content__image--mini house-content__image--eco-mini-2"
          style="width: 55%;"
        >
          <img src="./img/eco-04.jpg" alt=""/>
        </div>
      </div>
    </div>
    <div class="house-content__grid house-content__grid--mt">
      <div
        class="house-content__content house-content__container house-content__content--order house-content__content--small"
      >
        <h2 class="title title--white house-content__title" data-aos="fade-up">
          Атмосфера
        </h2>
        <a href="#" class="btn btn--fill house-content__btn">выбрать проект</a>
        <div class="house-content__text" data-aos="fade-up">
          <p>
            Ощущение загородной жизни с&nbsp;акцентом на&nbsp;спокойствие
            и&nbsp;созерцание, островок неги, уюта и&nbsp;умиротворения
          </p>
        </div>
      </div>
      <div class="house-content__image house-content__image--big" style="justify-content: flex-end;">
        <img src="./img/eco-05.jpg" alt="" />
      </div>
    </div>
    <div class="house-content__image--centered">
      <img src="./img/eco-06.jpg" alt="" />
    </div>
  </div>
  <div class="eco-house__bottom"></div>

</section>
