<section class="eco-house" style="background-image: url(./img/forest.webp);">
  <div class="eco-house__header container">
    <h3 class="subtitle centered" data-aos="custom-fade-up">Эко-среда</h3>
    <h2 class="title centered eco-house__title" data-aos="custom-fade-up">
      Возможность проводить время с&nbsp;семьёй, оберегая каждого
    </h2>
    <p class="eco-house__desc" data-aos="custom-fade-up">
      *деревянные дома лучше всего подходят для жизни людей с&nbsp;астмой или
      аллергией
    </p>
  </div>
  <div class="eco-house__content house-content">
    <picture>
      <source srcset="" type="image/webp" data-img-srcset="./img/clouds.webp" />
      <img src="" alt="Clouds" class="parallax__clouds" data-img-src="./img/clouds.png" />
    </picture>
    <div class="main-container">
      <div class="house-content__container">
        <div class="house-content__grid house-content__row--dark">
          <div class="house-content__content house-content__content--order cancel-padding-mob">
            <h2 class="title title--white house-content__title" data-aos="custom-fade-up">
              Здоровые дома от&nbsp;TF&nbsp;House не&nbsp;выделяют вредных
              испарений
            </h2>
            <a href="#" class="btn btn--fill house-content__btn">современные технологии</a>
            <div class="house-content__text">
              <p data-aos="custom-fade-up" data-aos-delay="100">
                Регулирует комфортную влажность 40&ndash;60% не&nbsp;позволяя
                пересушиваться воздуху
              </p>
              <p data-aos="custom-fade-up" data-aos-delay="300">
                Сохраняет тепло подобно теплу родных любящих сердец зимой
                и&nbsp;дарит прохладу летом.
              </p>
            </div>
          </div>
          <div class="house-content__image" style="justify-content: flex-end;">
            <picture>
              <source srcset="./img/eco2/eco1_mob.webp" type="image/webp" media="(max-width: 576px)" />
              <source srcset="./img/eco2/eco1_mob.jpg" type="image/webp" media="(max-width: 576px)" />
              <source srcset="./img/eco2/eco1.webp" type="image/webp" media="(max-width: 1440px)" />
              <source srcset="./img/eco2/eco1_2x.webp 2x" type="image/webp" media="(min-width: 1440px)" />

              <img src="./img/eco2/eco1.jpg" srcset="./img/eco2/eco1_2x.jpg 2x" alt="Eco House 1" id="eco1"
                class="rellax" data-rellax-speed="2" />
            </picture>
            <div class="house-content__image--mini house-content__image--eco-mini-1" style="width: 55%; ">
              <picture>
                <source srcset="" data-img-srcset="./img/eco2/eco2_mob.webp" type="image/webp"
                  media="(max-width: 576px)" />
                <source srcset="" data-img-srcset="./img/eco2/eco2_mob.jpg" type="image/webp"
                  media="(max-width: 576px)" />
                <source srcset="" data-img-srcset="./img/eco2/eco2.webp" type="image/webp"
                  media="(max-width: 1440px)" />
                <source srcset="" data-img-srcset="./img/eco2/eco2_2x.webp 2x" type="image/webp"
                  media="(min-width: 1440px)" />

                <img src="" srcset="" alt="Eco House 2" id="eco2" data-img-src="./img/eco2/eco2.jpg"
                  data-img-srcset="./img/eco2/eco2_2x.jpg 2x" class="rellax" data-rellax-speed="3" />
              </picture>
            </div>
          </div>
        </div>
      </div>
      <div class="house-content__grid house-content--expanded">
        <div
          class="house-content__content house-content__content--end house-content__content--small mob-order-1 container down-content">
          <h2 class="title title--white house-content__title" data-aos="custom-fade-up" data-aos-delay="200">
            Эстетика&nbsp;в&nbsp;любом ландшафте
          </h2>
          <a href="#" class="btn btn--fill house-content__btn">ландшафтный дизайн</a>
          <div class="house-content__text" data-aos="custom-fade-up" data-aos-delay="200">
            <p>
              Деревянный дом идеально впишется в&nbsp;лесной пейзаж, лаконично
              расположится в&nbsp;коттеджном посёлке, воссоздаст атмосферу природы
              в&nbsp;городской среде
            </p>
          </div>
        </div>
        <div class="house-content__image mob-order-3">
          <picture>
            <source srcset="./img/eco2/eco3_mob.webp" type="image/webp" media="(max-width: 576px)" />
            <source srcset="./img/eco2/eco3_mob.jpg" type="image/webp" media="(max-width: 576px)" />
            <source srcset="./img/eco2/eco3.webp" media="(max-width: 1440px)" type="image/webp" />
            <source srcset="./img/eco2/eco3_2x.webp" media="(min-width: 1440px)" type="image/webp" />

            <img src="./img/eco2/eco3.jpg" srcset="./img/eco2/eco3_2x.jpg 2x" alt="Eco House 3" id="eco3" class="rellax"
              data-rellax-speed="2" />
          </picture>
          <div class="house-content__image--mini house-content__image--eco-mini-2" style="width: 55%; right: 30px;">
            <picture>
              <source srcset="" data-img-srcset="./img/eco2/eco4_mob.webp" type="image/webp"
                media="(max-width: 576px)" />
              <source srcset="" data-img-srcset="./img/eco2/eco4_mob.jpg" type="image/webp"
                media="(max-width: 576px)" />
              <source srcset="" data-img-srcset="./img/eco2/eco4.webp" type="image/webp" media="(max-width: 1440px)" />
              <source srcset="" data-img-srcset="./img/eco2/eco4_2x.webp" type="image/webp"
                media="(min-width: 1440px)" />

              <img src="" srcset="" alt="Eco House 4" id="eco4" width="100%" data-img-src="./img/eco2/eco4.jpg"
                data-img-srcset="./img/eco2/eco4_2x.jpg" class="rellax" data-rellax-speed="3" />
            </picture>
          </div>
        </div>
      </div>
      <div class="house-content__grid house-content__grid--mt">
        <div
          class="house-content__content house-content__container house-content__content--order house-content__content--small">
          <h2 class="title title--white house-content__title" data-aos="custom-fade-up" data-aos-delay="200">
            Атмосфера
          </h2>
          <a href="#" class="btn btn--fill house-content__btn">выбрать проект</a>
          <div class="house-content__text" data-aos="custom-fade-up" data-aos-delay="200">
            <p>
              Ощущение загородной жизни с&nbsp;акцентом на&nbsp;спокойствие
              и&nbsp;созерцание, островок неги, уюта и&nbsp;умиротворения
            </p>
          </div>
        </div>
        <div class="house-content__image house-content__image--big" style="justify-content: flex-end">
          <picture>
            <source srcset="./img/eco2/eco5_mob.webp" type="image/webp" media="(max-width: 576px)" />
            <source srcset="./img/eco2/eco5_mob.jpg" type="image/webp" media="(max-width: 576px)" />
            <source srcset="./img/eco2/eco5.webp" type="image/webp" media="(max-width: 1440px)" />
            <source srcset="./img/eco2/eco5_2x.webp 2x" type="image/webp" media="(min-width: 1440px)" />

            <img src="./img/eco2/eco5.jpg" srcset="./img/eco2/eco5_2x.jpg 2x" alt="Eco House 5" id="eco5" class="rellax"
              data-rellax-speed="2" />
          </picture>
        </div>
      </div>
      <div class="house-content__image--centered">
        <picture>
          <source srcset="" data-img-srcset="./img/eco2/eco6_mob.webp" type="image/webp" media="(max-width: 576px)" />
          <source srcset="" data-img-srcset="./img/eco2/eco6_mob.jpg" type="image/webp" media="(max-width: 576px)" />
          <source srcset="" data-img-srcset="./img/eco2/eco6.webp" type="image/webp" media="(max-width: 1440px)" />
          <source srcset="" data-img-srcset="./img/eco2/eco6_2x.webp" type="image/webp" media="(min-width: 1440px)" />

          <img src="" srcset="" alt="Eco House 6" id="eco6" class="rellax" data-rellax-speed="3"
            data-img-src="./img/eco2/eco6.jpg" data-img-srcset="./img/eco2/eco6_2x.jpg 2x" />
        </picture>
      </div>
    </div>
  </div>
</section>