<section class="faq">
  <div class="main-container">
    <h2 class="title faq__title centered">Вопросы и ответы</h2>
    <ul>
      <li>
        <div>
          <h4>По какой технологии сделан дом?</h4>
          <span> </span>
        </div>
        <p>
          Дом сделан по финской технологии по особенной методикеДом сделан по
          финской технологии по особенной методикеДом сделан по финской технологии
          по особенной методикеДом сделан по финской технологии по особенной
          методике
        </p>
      </li>
      <li>
        <div>
          <h4>
            Можно ли заказать готовый дом под ключ на моем участке?
          </h4>
          <span> </span>
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis,
          repudiandae.
        </p>
      </li>
      <li>
        <div>
          <h4>
            Можно ли внести изменения и пожелания в проект?
          </h4>
          <span> </span>
        </div>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum placeat
          praesentium, perspiciatis dolorum libero iste eveniet. Porro nobis qui
          aliquid voluptatibus illum debitis dolorum quisquam, autem delectus! Ut,
          quos maiores?
        </p>
      </li>
      <li>
        <div>
          <h4>По какой технологии сделан дом?</h4>
          <span> </span>
        </div>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam neque
          praesentium eligendi nesciunt?
        </p>
      </li>
    </ul>
  </div>
</section>