<section class="catalogue-section">
  <div class="main-container">
    <div class="breadcrumbs catalogue-section__breadcrumbs">
      <ul>
        <li>
          <a href="./index.html">Главная</a>
        </li>
        <li>
          <a>Избранное</a>
        </li>
      </ul>
    </div>
    <h1 class="catalogue-section__title container">Избранное</h1>
    <div class="catalogue-section__items">
      <div class="catalogue-section__filters filters">
        <ul>
          <li>
            <button data-filter="all">
              Все
            </button>
          </li>
          <li>
            <button data-filter="finnish">
              финская классика
            </button>
          </li>
          <li>
            <button data-filter="modern">
              современные дома
            </button>
          </li>
          <li>
            <button data-filter="interior">
              мансарда
            </button>
          </li>
          <li>
            <button data-filter="1-floor">
              1 этаж
            </button>
          </li>
          <li>
            <button data-filter="2-floors">
              2 этажа
            </button>
          </li>
          <li>
            <button data-filter="3-floors">
              3 этажа
            </button>
          </li>
          <li>
            <button data-filter="up-200-sq">
              до 200 м<sup>2</sup>
            </button>
          </li>
          <li>
            <button data-filter="from-200-sq">
              от 200 м<sup>2</sup>
            </button>
          </li>
        </ul>
      </div>
      <ul class="catalogue-section__catalogue catalogue catalogue--favorites list-reset">

      </ul>
    </div>
  </div>

</section>