<section class="catalogue-section">
  <div class="main-container">
    <div class="breadcrumbs catalogue-section__breadcrumbs">
      <ul>
        <li>
          <a href="./index.html">Главная</a>
        </li>
        <li>
          <a>Избранное</a>
        </li>
      </ul>
    </div>
    <h1 class="catalogue-section__title container">Избранное</h1>
    <div class="catalogue-section__items">
      <div class="catalogue-section__filters filters">
        <ul>
          <li>
            <button data-filter="clear">
              Очистить все
            </button>
          </li>
        </ul>
      </div>
      <ul class="catalogue-section__catalogue catalogue catalogue--favorites list-reset">

      </ul>
    </div>
  </div>

</section>