<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="content-type" content="text/html; charset=utf8" />
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="msapplication-TileColor" content="#da532c" />
  <meta name="theme-color" content="#ffffff" />
  <meta name="theme-color" content="#111111" />
  <title>Timber Frame</title>
  <link
    rel="preload"
    href="fonts/Aeonik-Pro-Bold.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    rel="preload"
    href="fonts/Aeonik-Pro-Regular-Italic.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    href="fonts/AeonikProTRIALBold.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    rel="preload"
    href="fonts/PPNeueMontrealBold.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    rel="preload"
    href="fonts/PPNeueMontrealMedium.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    rel="preload"
    href="fonts/PPNeueMontrealRegular.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    href="fonts/PPNeueMontrealBold.ttf"
    as="font"
    type="font/ttf"
    crossorigin
  />
  <link
    href="fonts/PPNeueMontrealMedium.ttf"
    as="font"
    type="font/ttf"
    crossorigin
  />
  <link
    href="fonts/PPNeueMontrealRegular.ttf"
    as="font"
    type="font/ttf"
    crossorigin
  />
  <link
    rel="preload"
    href="fonts/PPTelegraf-UltraBold.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    rel="preload"
    href="fonts/PPTelegrafRegular.woff2"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link rel="stylesheet" href="css/vendor.css" />
  <link rel="stylesheet" href="css/main.css" />
  <script defer src="js/main.js"></script>
</head>
