<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#111111">
  <title>Timber Frame</title>
  <link rel="preload" href="fonts/Aeonik-Pro-Bold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/Aeonik-Pro-Regular-Italic.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/AeonikProTRIAL-Bold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/ppneuemontreal-bold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/ppneuemontreal-medium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/ppneuemontreal-book.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/PPTelegraf-UltraBold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
  <script defer src="js/main.js"></script>
</head>



