<section class="hero">
  <div class="swiper hero__slider swiper-no-swiping">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="hero__slide hero__slide--nisalahti slide swiper-lazy">
          <div class="slide__content">
            <h2 class="slide__title" data-aos="fade-up">Nisalahti</h2>
            <div class="slide__refers">
              <button class="slide__item slide__item--video btn-reset" data-src="https://www.youtube.com/embed/kroO5VE7X3w?si=WHJfBPDBPjmkf24U">
                Видеополет
              </button>
              <span class="slide__item-separator">
                |
              </span>
              <button class="slide__item slide__item--tour btn-reset" data-tour="./img/panorama.jpg">
                3D тур
              </button>
              <span class="slide__item-separator">
                |
              </span>
              <button class="slide__item slide__item--gallery btn-reset" data-gallery="[./img/gallery-01.jpg]">
                Фотогалерея
              </button>
            </div>
            <div class="slide__buttons">
              <a href="#" class="btn btn--fill slide__btn slide__btn--watch">Смотреть проект</a>
              <button class="btn btn--like btn--stroke btn-reset">
                <svg>
                  <use xlink:href="img/sprite.svg#like-icon"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="hero__slide hero__slide--vaskela slide swiper-lazy">
          <div class="slide__content">
            <h2 class="slide__title" data-aos="fade-up">Vaskela</h2>
            <div class="slide__refers">
              <button class="slide__item slide__item--video btn-reset" data-src="https://www.youtube.com/embed/kroO5VE7X3w?si=WHJfBPDBPjmkf24U">
                Видеополет
              </button>
              <span class="slide__item-separator">
                |
              </span>
              <button class="slide__item slide__item--tour btn-reset" data-tour="./img/panorama.jpg">
                3D тур
              </button>
              <span class="slide__item-separator">
                |
              </span>
              <button class="slide__item slide__item--gallery btn-reset" data-gallery="[./img/gallery-01.jpg]">
                Фотогалерея
              </button>
            </div>
            <div class="slide__buttons">
              <a href="#" class="btn btn--fill slide__btn slide__btn--watch">Смотреть проект</a>
              <button class="btn btn--like btn--stroke btn-reset">
                <svg>
                  <use xlink:href="img/sprite.svg#like-icon"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="hero__slide hero__slide--ostamo slide swiper-lazy">
          <div class="slide__content">
            <h2 class="slide__title" data-aos="fade-up">Ostamo</h2>
            <div class="slide__refers">
              <button class="slide__item slide__item--video btn-reset" data-src="https://www.youtube.com/embed/kroO5VE7X3w?si=WHJfBPDBPjmkf24U">
                Видеополет
              </button>
              <span class="slide__item-separator">
                |
              </span>
              <button class="slide__item slide__item--tour btn-reset" data-tour="./img/panorama.jpg">
                3D тур
              </button>
              <span class="slide__item-separator">
                |
              </span>
              <button class="slide__item slide__item--gallery btn-reset" data-gallery="[./img/gallery-01.jpg]">
                Фотогалерея
              </button>
            </div>
            <div class="slide__buttons">
              <a href="#" class="btn btn--fill slide__btn slide__btn--watch">Смотреть проект</a>
              <button class="btn btn--like btn--stroke btn-reset">
                <svg>
                  <use xlink:href="img/sprite.svg#like-icon"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="hero__slide slide hero__slide--lautala swiper-lazy">
          <div class="slide__content">
            <h2 class="slide__title">Lautala</h2>
            <div class="slide__refers">
              <button class="slide__item slide__item--video btn-reset" data-src="https://www.youtube.com/embed/h5r7-FLfamw?si=MMK0hWE1oXjIiCeH">
                Видеополет
              </button>
              <span class="slide__item-separator">
                |
              </span>
              <button class="slide__item slide__item--tour btn-reset" data-tour="./img/panorama.jpg">
                3D тур
              </button>
              <span class="slide__item-separator">
                |
              </span>
              <button class="slide__item slide__item--gallery btn-reset" data-gallery="[./img/gallery-01.jpg]">
                Фотогалерея
              </button>
            </div>
            <div class="slide__buttons">
              <a href="#" class="btn btn--fill slide__btn slide__btn--watch">Смотреть проект</a>
              <button class="btn btn--like btn--stroke btn-reset">
                <svg>
                  <use xlink:href="img/sprite.svg#like-icon"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-control__btn slider-control__btn--prev">
      <span></span>
    </div>
    <div class="slider-control__btn slider-control__btn--next">
     <span></span>
    </div>
  </div>
  @include('./modal-video.html')
  @include('./modal-tour.html')
  @include('./modal-gallery.html')
  <a href="#benefit" class="hero__btn-down">
    <span></span>
  </a>
</section>
