<section class="hero">
  <div class="swiper hero__slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <video autoplay muted="true" playsinline loop preload="metadata" class="hero__video">
          <!-- 4K -->
          <source src="./hero-video-nis.mp4" type="video/mp4" media="(min-width: 1920px)">
          <!-- 2K, 1024 -->
          <source src="./hero-video-nis.mp4" type="video/mp4" media="(min-width: 1024px)">
          <!-- Other -->
          <source src="./hero-video-nis.mp4" type="video/mp4">
        </video>
        <div class="slide__content">
          <h2 class="slide__title">Nisalahti</h2>
          <div class="slide__refers">
            <button class="slide__item slide__item--video btn-reset"
              data-src="https://www.youtube.com/embed/kroO5VE7X3w?si=WHJfBPDBPjmkf24U">
              Видеополет
            </button>
            <span class="slide__item-separator"> | </span>
            <button class="slide__item slide__item--tour btn-reset" data-tour="./img/panorama.jpg">
              3D тур
            </button>
            <span class="slide__item-separator"> | </span>
            <a href="./img/gallery-01.jpg" class="slide__item slide__item--gallery btn-reset"
              data-fancybox="hero-images-preview-nis">
              Фотогалерея
            </a>
            <div style="display: none;">
              <a href="./img/cards/popular1.jpeg" data-fancybox="hero-images-preview-nis"></a>
              <a href="./img/hero/hero1-2x.jpg" data-fancybox="hero-images-preview-nis"></a>
            </div>
          </div>
          <div class="slide__buttons">
            <a href="#" class="btn btn--fill slide__btn slide__btn--watch">Смотреть проект</a>
            <button class="btn btn--like btn--stroke btn-reset">
              <svg>
                <use xlink:href="img/sprite.svg#like-icon"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <video autoplay muted="true" playsinline loop preload="metadata" class="hero__video">
          <!-- 4K -->
          <source src="./hero-video-laut.mp4" type="video/mp4" media="(min-width: 1920px)">
          <!-- 2K, 1024 -->
          <source src="./hero-video-laut.mp4" type="video/mp4" media="(min-width: 1024px)">
          <!-- Other -->
          <source src="./hero-video-laut.mp4" type="video/mp4">
        </video>
        <div class="slide__content">
          <h2 class="slide__title">Lautala</h2>
          <div class="slide__refers">
            <button class="slide__item slide__item--video btn-reset"
              data-src="https://www.youtube.com/embed/kroO5VE7X3w?si=WHJfBPDBPjmkf24U">
              Видеополет
            </button>
            <span class="slide__item-separator"> | </span>
            <button class="slide__item slide__item--tour btn-reset" data-tour="./img/panorama.jpg">
              3D тур
            </button>
            <span class="slide__item-separator"> | </span>
            <a href="./img/gallery-01.jpg" class="slide__item slide__item--gallery btn-reset"
              data-fancybox="hero-images-preview-laut">
              Фотогалерея
            </a>
            <div style="display: none;">
              <a href="./img/cards/popular1.jpeg" data-fancybox="hero-images-preview-laut"></a>
              <a href="./img/hero/hero1-2x.jpg" data-fancybox="hero-images-preview-laut"></a>
            </div>
          </div>
          <div class="slide__buttons">
            <a href="#" class="btn btn--fill slide__btn slide__btn--watch">Смотреть проект</a>
            <button class="btn btn--like btn--stroke btn-reset">
              <svg>
                <use xlink:href="img/sprite.svg#like-icon"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <video autoplay muted="true" playsinline loop preload="metadata" class="hero__video">
          <!-- 4K -->
          <source src="./hero-video-ostamo.mp4" type="video/mp4" media="(min-width: 1920px)">
          <!-- 2K, 1024 -->
          <source src="./hero-video-ostamo.mp4" type="video/mp4" media="(min-width: 1024px)">
          <!-- Other -->
          <source src="./hero-video-ostamo.mp4" type="video/mp4">
        </video>
        <div class="slide__content">
          <h2 class="slide__title">Ostamo</h2>
          <div class="slide__refers">
            <button class="slide__item slide__item--video btn-reset"
              data-src="https://www.youtube.com/embed/kroO5VE7X3w?si=WHJfBPDBPjmkf24U">
              Видеополет
            </button>
            <span class="slide__item-separator"> | </span>
            <button class="slide__item slide__item--tour btn-reset" data-tour="./img/panorama.jpg">
              3D тур
            </button>
            <span class="slide__item-separator"> | </span>
            <a href="./img/gallery-01.jpg" class="slide__item slide__item--gallery btn-reset"
              data-fancybox="hero-images-preview-ostamo">
              Фотогалерея
            </a>
            <div style="display: none;">
              <a href="./img/cards/popular1.jpeg" data-fancybox="hero-images-preview-ostamo"></a>
              <a href="./img/hero/hero1-2x.jpg" data-fancybox="hero-images-preview-ostamo"></a>
            </div>
          </div>
          <div class="slide__buttons">
            <a href="#" class="btn btn--fill slide__btn slide__btn--watch">Смотреть проект</a>
            <button class="btn btn--like btn--stroke btn-reset">
              <svg>
                <use xlink:href="img/sprite.svg#like-icon"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <video autoplay muted="true" playsinline loop preload="metadata" class="hero__video">
          <!-- 4K -->
          <source src="./hero-video-vask.mp4" type="video/mp4" media="(min-width: 1920px)">
          <!-- 2K, 1024 -->
          <source src="./hero-video-vask.mp4" type="video/mp4" media="(min-width: 1024px)">
          <!-- Other -->
          <source src="./hero-video-vask.mp4" type="video/mp4">
        </video>
        <div class="slide__content">
          <h2 class="slide__title">Vaskela</h2>
          <div class="slide__refers">
            <button class="slide__item slide__item--video btn-reset"
              data-src="https://www.youtube.com/embed/kroO5VE7X3w?si=WHJfBPDBPjmkf24U">
              Видеополет
            </button>
            <span class="slide__item-separator"> | </span>
            <button class="slide__item slide__item--tour btn-reset" data-tour="./img/panorama.jpg">
              3D тур
            </button>
            <span class="slide__item-separator"> | </span>
            <a href="./img/gallery-01.jpg" class="slide__item slide__item--gallery btn-reset"
              data-fancybox="hero-images-preview-vas">
              Фотогалерея
            </a>
            <div style="display: none;">
              <a href="./img/cards/popular1.jpeg" data-fancybox="hero-images-preview-vas"></a>
              <a href="./img/hero/hero1-2x.jpg" data-fancybox="hero-images-preview-vas"></a>
            </div>
          </div>
          <div class="slide__buttons">
            <a href="#" class="btn btn--fill slide__btn slide__btn--watch">Смотреть проект</a>
            <button class="btn btn--like btn--stroke btn-reset">
              <svg>
                <use xlink:href="img/sprite.svg#like-icon"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
    <button class="btn-reset slider-control__btn slider-control__btn--prev hero-prev">
      <span></span>
    </button>
    <button class="btn-reset slider-control__btn slider-control__btn--next hero-next">
      <span></span>
    </button>
  </div>
  @include('./modal-video.html') @include('./modal-tour.html')
  @include('./modal-gallery.html')
  <button id="down-sect-btn" class="hero__btn-down btn-reset">
    <span></span>
  </button>
</section>