<section class="implemTours-section">
  <div class="breadcrumbs design-section__breadcrumbs">
    <ul>
      <li>
        <a href="./index.html">Главная</a>
      </li>
      <li>
        <a href="">Реализации</a>
      </li>
      <li>
        <a>Интерьеры</a>
      </li>
    </ul>
  </div>
  <h1>Интерьеры деревянных домов TF House</h1>

  <div class="implemTours-section__container">
    <article class="implemTours-section__item implemTours-item">
      <div class="implemTours-item__tour tour" data-tour-sec>
        <iframe width="100%" frameborder="0" allow="xr-spatial-tracking;" allowfullscreen scrolling="no"
          src="https://kuula.co/share/NzlGp?logo=0&info=0&fs=0&vr=0&sd=1&gyro=0&thumbs=1&inst=ru"></iframe>
        <div class="mouse-rotate">
          <img src="./img/mouse-cursor.svg" alt="">
        </div>
      </div>
      <div class="implemTours-item__info">
        <h3>Дом по проекту VASKELA</h3>
        <a href="#">смотреть проект</a>
      </div>
    </article>
    <article class="implemTours-section__item implemTours-item">
      <div class="implemTours-item__tour tour" data-tour-sec>
        <iframe width="100%" frameborder="0" allow="xr-spatial-tracking;" allowfullscreen scrolling="no"
          src="https://kuula.co/share/NzlGp?logo=0&info=0&fs=0&vr=0&sd=1&gyro=0&thumbs=1&inst=ru"></iframe>
        <div class="mouse-rotate">
          <img src="./img/mouse-cursor.svg" alt="">
        </div>
      </div>
      <div class="implemTours-item__info">
        <h3>Дом по проекту VASKELA</h3>
        <a href="#">смотреть проект</a>
      </div>
    </article>
    <article class="implemTours-section__item implemTours-item">
      <div class="implemTours-item__tour tour" data-tour-sec>
        <iframe width="100%" frameborder="0" allow="xr-spatial-tracking;" allowfullscreen scrolling="no"
          src="https://kuula.co/share/NzlGp?logo=0&info=0&fs=0&vr=0&sd=1&gyro=0&thumbs=1&inst=ru"></iframe>
        <div class="mouse-rotate">
          <img src="./img/mouse-cursor.svg" alt="">
        </div>
      </div>
      <div class="implemTours-item__info">
        <h3>Дом по проекту VASKELA</h3>
        <a href="#">смотреть проект</a>
      </div>
    </article>
    <article class="implemTours-section__item implemTours-item">
      <div class="implemTours-item__tour tour" data-tour-sec>
        <iframe width="100%" frameborder="0" allow="xr-spatial-tracking;" allowfullscreen scrolling="no"
          src="https://kuula.co/share/NzlGp?logo=0&info=0&fs=0&vr=0&sd=1&gyro=0&thumbs=1&inst=ru"></iframe>
        <div class="mouse-rotate">
          <img src="./img/mouse-cursor.svg" alt="">
        </div>
      </div>
      <div class="implemTours-item__info">
        <h3>Дом по проекту VASKELA</h3>
        <a href="#">смотреть проект</a>
      </div>
    </article>
  </div>

</section>