<section class="implemPhoto-section">
  <div class="main-container">
    <div class="breadcrumbs design-section__breadcrumbs">
      <ul>
        <li>
          <a href="./index.html">Главная</a>
        </li>
        <li>
          <a href="">Реализации</a>
        </li>
        <li>
          <a>Фото</a>
        </li>
      </ul>
    </div>
    <h1>Фото домов</h1>
    <div class="filters">
      <ul>
        <li>
          <button class="active" data-filter="all">
            Все
          </button>
        </li>
        <li>
          <button data-filter="photo-1">
            Фото домов из клееного бруса
          </button>
        </li>
        <li>
          <button data-filter="photo-2">
            Фото каркасно-брусовых домов
          </button>
        </li>

      </ul>
    </div>
    <ul class="implemPhoto-section__list list-reset">
      <li class="catalogue__item">
        <article class="catalogue__product product">
          <!-- <button class="product__btn btn btn--like btn--stroke btn-reset ${isActive}">
            <svg>
              <use xlink:href="img/sprite.svg#like-icon"></use>
            </svg>
          </button> -->
          <div class="product__image">
            <div class="implemPhoto-section__btn implemPhoto-section__btn--fullscreen">
              <a href="./img/catalogue/01-1-2x.webp" data-fancybox="gal-1">
                <svg>
                  <use xlink:href="img/sprite.svg#fullscreen-icon"></use>
                </svg>
              </a>
            </div>
            <div class="hidden-gallery-links" style="display: none;">
              <a href="./img/catalogue/01-2-2x.webp" data-fancybox="gal-1"></a>
              <a href="./img/catalogue/02-1-2x.webp" data-fancybox="gal-1"></a>
            </div>
            <div class="product__switch image-switch">
              <div class="image-switch__item">
                <div class="image-switch__img">
                  <picture>
                    <source srcset="./img/catalogue/01-1-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/01-1.webp" type="image/webp" />
                    <img src="./img/catalogue/01-1.jpg" srcset="./img/catalogue/01-1-2x.jpg 2x" alt="Product 1" />
                  </picture>
                </div>
              </div>
              <div class="image-switch__item">
                <div class="image-switch__img">
                  <picture>
                    <source srcset="./img/catalogue/01-2-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/01-2.webp" type="image/webp" />
                    <img src="./img/catalogue/01-2.jpg" srcset="./img/catalogue/01-2-2x.jpg" alt="Product 1" />
                  </picture>
                </div>
              </div>
              <div class="image-switch__item">
                <div class="image-switch__img">
                  <picture>
                    <source srcset="./img/catalogue/02-1-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/02-1.webp" type="image/webp" />
                    <img src="./img/catalogue/02-1.jpg" srcset="./img/catalogue/02-1-2x.jpg 2x" alt="Product 1" />
                  </picture>
                </div>
              </div>
            </div>
            <div class="product__slider swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/01-1-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/01-1.webp" type="image/webp" />
                    <img src="./img/catalogue/01-1.jpg" srcset="./img/catalogue/01-1-2x.jpg 2x" alt="Product 1" />
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/01-2-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/01-2.webp" type="image/webp" />
                    <img src="./img/catalogue/01-2.jpg" srcset="./img/catalogue/01-2-2x.jpg" alt="Product 1" />
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/02-1-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/02-1.webp" type="image/webp" />
                    <img src="./img/catalogue/02-1.jpg" srcset="./img/catalogue/02-1-2x.jpg 2x" alt="Product 1" />
                  </picture>
                </div>
              </div>
              <div class="swiper-pagination product-slider__pagination"></div>
            </div>
            <ul class="pruoduct__image-pagination image-pagination list-reset"></ul>
          </div>
          <div class="product__header">
            <h3>Дом по проекту VASKELA</h3>
            <a href="#">смотреть проект</a>
          </div>
        </article>
      </li>

      <li class="catalogue__item">
        <article class="catalogue__product product">
          <!-- <button class="product__btn btn btn--like btn--stroke btn-reset ${isActive}">
            <svg>
              <use xlink:href="img/sprite.svg#like-icon"></use>
            </svg>
          </button> -->
          <div class="product__image">
            <div class="implemPhoto-section__btn implemPhoto-section__btn--fullscreen">
              <a href="./img/catalogue/01-1-2x.webp" data-fancybox="gal-2">
                <svg>
                  <use xlink:href="img/sprite.svg#fullscreen-icon"></use>
                </svg>
              </a>
            </div>
            <div class="hidden-gallery-links" style="display: none;">
              <a href="./img/catalogue/01-2-2x.webp" data-fancybox="gal-2"></a>
              <a href="./img/catalogue/02-1-2x.webp" data-fancybox="gal-2"></a>
            </div>
            <div class="product__switch image-switch">
              <div class="image-switch__item">
                <div class="image-switch__img">
                  <picture>
                    <source srcset="./img/catalogue/01-1-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/01-1.webp" type="image/webp" />
                    <img src="./img/catalogue/01-1.jpg" srcset="./img/catalogue/01-1-2x.jpg 2x" alt="Product 1" />
                  </picture>
                </div>
              </div>
              <div class="image-switch__item">
                <div class="image-switch__img">
                  <picture>
                    <source srcset="./img/catalogue/01-2-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/01-2.webp" type="image/webp" />
                    <img src="./img/catalogue/01-2.jpg" srcset="./img/catalogue/01-2-2x.jpg" alt="Product 1" />
                  </picture>
                </div>
              </div>
              <div class="image-switch__item">
                <div class="image-switch__img">
                  <picture>
                    <source srcset="./img/catalogue/02-1-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/02-1.webp" type="image/webp" />
                    <img src="./img/catalogue/02-1.jpg" srcset="./img/catalogue/02-1-2x.jpg 2x" alt="Product 1" />
                  </picture>
                </div>
              </div>
            </div>
            <div class="product__slider swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/01-1-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/01-1.webp" type="image/webp" />
                    <img src="./img/catalogue/01-1.jpg" srcset="./img/catalogue/01-1-2x.jpg 2x" alt="Product 1" />
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/01-2-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/01-2.webp" type="image/webp" />
                    <img src="./img/catalogue/01-2.jpg" srcset="./img/catalogue/01-2-2x.jpg" alt="Product 1" />
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/02-1-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/02-1.webp" type="image/webp" />
                    <img src="./img/catalogue/02-1.jpg" srcset="./img/catalogue/02-1-2x.jpg 2x" alt="Product 1" />
                  </picture>
                </div>
              </div>
              <div class="swiper-pagination product-slider__pagination"></div>
            </div>
            <ul class="pruoduct__image-pagination image-pagination list-reset"></ul>
          </div>
          <div class="product__header">
            <h3>Дом по проекту VASKELA</h3>
            <a href="#">смотреть проект</a>
          </div>
        </article>
      </li>

      <li class="catalogue__item">
        <article class="catalogue__product product">
          <!-- <button class="product__btn btn btn--like btn--stroke btn-reset ${isActive}">
            <svg>
              <use xlink:href="img/sprite.svg#like-icon"></use>
            </svg>
          </button> -->
          <div class="product__image">
            <div class="implemPhoto-section__btn implemPhoto-section__btn--fullscreen">
              <a href="./img/catalogue/01-1-2x.webp" data-fancybox="gal-3">
                <svg>
                  <use xlink:href="img/sprite.svg#fullscreen-icon"></use>
                </svg>
              </a>
            </div>
            <div class="hidden-gallery-links" style="display: none;">
              <a href="./img/catalogue/01-2-2x.webp" data-fancybox="gal-3"></a>
              <a href="./img/catalogue/02-1-2x.webp" data-fancybox="gal-3"></a>
            </div>
            <div class="product__switch image-switch">
              <div class="image-switch__item">
                <div class="image-switch__img">
                  <picture>
                    <source srcset="./img/catalogue/01-1-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/01-1.webp" type="image/webp" />
                    <img src="./img/catalogue/01-1.jpg" srcset="./img/catalogue/01-1-2x.jpg 2x" alt="Product 1" />
                  </picture>
                </div>
              </div>
              <div class="image-switch__item">
                <div class="image-switch__img">
                  <picture>
                    <source srcset="./img/catalogue/01-2-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/01-2.webp" type="image/webp" />
                    <img src="./img/catalogue/01-2.jpg" srcset="./img/catalogue/01-2-2x.jpg" alt="Product 1" />
                  </picture>
                </div>
              </div>
              <div class="image-switch__item">
                <div class="image-switch__img">
                  <picture>
                    <source srcset="./img/catalogue/02-1-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/02-1.webp" type="image/webp" />
                    <img src="./img/catalogue/02-1.jpg" srcset="./img/catalogue/02-1-2x.jpg 2x" alt="Product 1" />
                  </picture>
                </div>
              </div>
            </div>
            <div class="product__slider swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/01-1-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/01-1.webp" type="image/webp" />
                    <img src="./img/catalogue/01-1.jpg" srcset="./img/catalogue/01-1-2x.jpg 2x" alt="Product 1" />
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/01-2-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/01-2.webp" type="image/webp" />
                    <img src="./img/catalogue/01-2.jpg" srcset="./img/catalogue/01-2-2x.jpg" alt="Product 1" />
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/02-1-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/02-1.webp" type="image/webp" />
                    <img src="./img/catalogue/02-1.jpg" srcset="./img/catalogue/02-1-2x.jpg 2x" alt="Product 1" />
                  </picture>
                </div>
              </div>
              <div class="swiper-pagination product-slider__pagination"></div>
            </div>
            <ul class="pruoduct__image-pagination image-pagination list-reset"></ul>
          </div>
          <div class="product__header">
            <h3>Дом по проекту VASKELA</h3>
            <a href="#">смотреть проект</a>
          </div>
        </article>
      </li>

      <li class="catalogue__item">
        <article class="catalogue__product product">
          <!-- <button class="product__btn btn btn--like btn--stroke btn-reset ${isActive}">
            <svg>
              <use xlink:href="img/sprite.svg#like-icon"></use>
            </svg>
          </button> -->
          <div class="product__image">
            <div class="implemPhoto-section__btn implemPhoto-section__btn--fullscreen">
              <a href="./img/catalogue/01-1-2x.webp" data-fancybox="gal-4">
                <svg>
                  <use xlink:href="img/sprite.svg#fullscreen-icon"></use>
                </svg>
              </a>
            </div>
            <div class="hidden-gallery-links" style="display: none;">
              <a href="./img/catalogue/01-2-2x.webp" data-fancybox="gal-4"></a>
              <a href="./img/catalogue/02-1-2x.webp" data-fancybox="gal-4"></a>
            </div>
            <div class="product__switch image-switch">
              <div class="image-switch__item">
                <div class="image-switch__img">
                  <picture>
                    <source srcset="./img/catalogue/01-1-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/01-1.webp" type="image/webp" />
                    <img src="./img/catalogue/01-1.jpg" srcset="./img/catalogue/01-1-2x.jpg 2x" alt="Product 1" />
                  </picture>
                </div>
              </div>
              <div class="image-switch__item">
                <div class="image-switch__img">
                  <picture>
                    <source srcset="./img/catalogue/01-2-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/01-2.webp" type="image/webp" />
                    <img src="./img/catalogue/01-2.jpg" srcset="./img/catalogue/01-2-2x.jpg" alt="Product 1" />
                  </picture>
                </div>
              </div>
              <div class="image-switch__item">
                <div class="image-switch__img">
                  <picture>
                    <source srcset="./img/catalogue/02-1-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/02-1.webp" type="image/webp" />
                    <img src="./img/catalogue/02-1.jpg" srcset="./img/catalogue/02-1-2x.jpg 2x" alt="Product 1" />
                  </picture>
                </div>
              </div>
            </div>
            <div class="product__slider swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/01-1-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/01-1.webp" type="image/webp" />
                    <img src="./img/catalogue/01-1.jpg" srcset="./img/catalogue/01-1-2x.jpg 2x" alt="Product 1" />
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/01-2-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/01-2.webp" type="image/webp" />
                    <img src="./img/catalogue/01-2.jpg" srcset="./img/catalogue/01-2-2x.jpg" alt="Product 1" />
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/02-1-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/02-1.webp" type="image/webp" />
                    <img src="./img/catalogue/02-1.jpg" srcset="./img/catalogue/02-1-2x.jpg 2x" alt="Product 1" />
                  </picture>
                </div>
              </div>
              <div class="swiper-pagination product-slider__pagination"></div>
            </div>
            <ul class="pruoduct__image-pagination image-pagination list-reset"></ul>
          </div>
          <div class="product__header">
            <h3>Дом по проекту VASKELA</h3>
            <a href="#">смотреть проект</a>
          </div>
        </article>
      </li>
      <li class="catalogue__item">
        <article class="catalogue__product product">
          <!-- <button class="product__btn btn btn--like btn--stroke btn-reset ${isActive}">
            <svg>
              <use xlink:href="img/sprite.svg#like-icon"></use>
            </svg>
          </button> -->
          <div class="product__image">
            <div class="implemPhoto-section__btn implemPhoto-section__btn--fullscreen">
              <a href="./img/catalogue/01-1-2x.webp" data-fancybox="gal-5">
                <svg>
                  <use xlink:href="img/sprite.svg#fullscreen-icon"></use>
                </svg>
              </a>
            </div>
            <div class="hidden-gallery-links" style="display: none;">
              <a href="./img/catalogue/01-2-2x.webp" data-fancybox="gal-5"></a>
              <a href="./img/catalogue/02-1-2x.webp" data-fancybox="gal-5"></a>
            </div>
            <div class="product__switch image-switch">
              <div class="image-switch__item">
                <div class="image-switch__img">
                  <picture>
                    <source srcset="./img/catalogue/01-1-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/01-1.webp" type="image/webp" />
                    <img src="./img/catalogue/01-1.jpg" srcset="./img/catalogue/01-1-2x.jpg 2x" alt="Product 1" />
                  </picture>
                </div>
              </div>
              <div class="image-switch__item">
                <div class="image-switch__img">
                  <picture>
                    <source srcset="./img/catalogue/01-2-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/01-2.webp" type="image/webp" />
                    <img src="./img/catalogue/01-2.jpg" srcset="./img/catalogue/01-2-2x.jpg" alt="Product 1" />
                  </picture>
                </div>
              </div>
              <div class="image-switch__item">
                <div class="image-switch__img">
                  <picture>
                    <source srcset="./img/catalogue/02-1-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/02-1.webp" type="image/webp" />
                    <img src="./img/catalogue/02-1.jpg" srcset="./img/catalogue/02-1-2x.jpg 2x" alt="Product 1" />
                  </picture>
                </div>
              </div>
            </div>
            <div class="product__slider swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/01-1-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/01-1.webp" type="image/webp" />
                    <img src="./img/catalogue/01-1.jpg" srcset="./img/catalogue/01-1-2x.jpg 2x" alt="Product 1" />
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/01-2-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/01-2.webp" type="image/webp" />
                    <img src="./img/catalogue/01-2.jpg" srcset="./img/catalogue/01-2-2x.jpg" alt="Product 1" />
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/02-1-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/02-1.webp" type="image/webp" />
                    <img src="./img/catalogue/02-1.jpg" srcset="./img/catalogue/02-1-2x.jpg 2x" alt="Product 1" />
                  </picture>
                </div>
              </div>
              <div class="swiper-pagination product-slider__pagination"></div>
            </div>
            <ul class="pruoduct__image-pagination image-pagination list-reset"></ul>
          </div>
          <div class="product__header">
            <h3>Дом по проекту VASKELA</h3>
            <a href="#">смотреть проект</a>
          </div>
        </article>
      </li>

      <li class="catalogue__item">
        <article class="catalogue__product product">
          <!-- <button class="product__btn btn btn--like btn--stroke btn-reset ${isActive}">
            <svg>
              <use xlink:href="img/sprite.svg#like-icon"></use>
            </svg>
          </button> -->
          <div class="product__image">
            <div class="implemPhoto-section__btn implemPhoto-section__btn--fullscreen">
              <a href="./img/catalogue/01-1-2x.webp" data-fancybox="gal-6">
                <svg>
                  <use xlink:href="img/sprite.svg#fullscreen-icon"></use>
                </svg>
              </a>
            </div>
            <div class="hidden-gallery-links" style="display: none;">
              <a href="./img/catalogue/01-2-2x.webp" data-fancybox="gal-6"></a>
              <a href="./img/catalogue/02-1-2x.webp" data-fancybox="gal-6"></a>
            </div>
            <div class="product__switch image-switch">
              <div class="image-switch__item">
                <div class="image-switch__img">
                  <picture>
                    <source srcset="./img/catalogue/01-1-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/01-1.webp" type="image/webp" />
                    <img src="./img/catalogue/01-1.jpg" srcset="./img/catalogue/01-1-2x.jpg 2x" alt="Product 1" />
                  </picture>
                </div>
              </div>
              <div class="image-switch__item">
                <div class="image-switch__img">
                  <picture>
                    <source srcset="./img/catalogue/01-2-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/01-2.webp" type="image/webp" />
                    <img src="./img/catalogue/01-2.jpg" srcset="./img/catalogue/01-2-2x.jpg" alt="Product 1" />
                  </picture>
                </div>
              </div>
              <div class="image-switch__item">
                <div class="image-switch__img">
                  <picture>
                    <source srcset="./img/catalogue/02-1-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/02-1.webp" type="image/webp" />
                    <img src="./img/catalogue/02-1.jpg" srcset="./img/catalogue/02-1-2x.jpg 2x" alt="Product 1" />
                  </picture>
                </div>
              </div>
            </div>
            <div class="product__slider swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/01-1-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/01-1.webp" type="image/webp" />
                    <img src="./img/catalogue/01-1.jpg" srcset="./img/catalogue/01-1-2x.jpg 2x" alt="Product 1" />
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/01-2-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/01-2.webp" type="image/webp" />
                    <img src="./img/catalogue/01-2.jpg" srcset="./img/catalogue/01-2-2x.jpg" alt="Product 1" />
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/02-1-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/02-1.webp" type="image/webp" />
                    <img src="./img/catalogue/02-1.jpg" srcset="./img/catalogue/02-1-2x.jpg 2x" alt="Product 1" />
                  </picture>
                </div>
              </div>
              <div class="swiper-pagination product-slider__pagination"></div>
            </div>
            <ul class="pruoduct__image-pagination image-pagination list-reset"></ul>
          </div>
          <div class="product__header">
            <h3>Дом по проекту VASKELA</h3>
            <a href="#">смотреть проект</a>
          </div>
        </article>
      </li>

      <li class="catalogue__item">
        <article class="catalogue__product product">
          <!-- <button class="product__btn btn btn--like btn--stroke btn-reset ${isActive}">
            <svg>
              <use xlink:href="img/sprite.svg#like-icon"></use>
            </svg>
          </button> -->
          <div class="product__image">
            <div class="implemPhoto-section__btn implemPhoto-section__btn--fullscreen">
              <a href="./img/catalogue/01-1-2x.webp" data-fancybox="gal-7">
                <svg>
                  <use xlink:href="img/sprite.svg#fullscreen-icon"></use>
                </svg>
              </a>
            </div>
            <div class="hidden-gallery-links" style="display: none;">
              <a href="./img/catalogue/01-2-2x.webp" data-fancybox="gal-7"></a>
              <a href="./img/catalogue/02-1-2x.webp" data-fancybox="gal-7"></a>
            </div>
            <div class="product__switch image-switch">
              <div class="image-switch__item">
                <div class="image-switch__img">
                  <picture>
                    <source srcset="./img/catalogue/01-1-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/01-1.webp" type="image/webp" />
                    <img src="./img/catalogue/01-1.jpg" srcset="./img/catalogue/01-1-2x.jpg 2x" alt="Product 1" />
                  </picture>
                </div>
              </div>
              <div class="image-switch__item">
                <div class="image-switch__img">
                  <picture>
                    <source srcset="./img/catalogue/01-2-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/01-2.webp" type="image/webp" />
                    <img src="./img/catalogue/01-2.jpg" srcset="./img/catalogue/01-2-2x.jpg" alt="Product 1" />
                  </picture>
                </div>
              </div>
              <div class="image-switch__item">
                <div class="image-switch__img">
                  <picture>
                    <source srcset="./img/catalogue/02-1-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/02-1.webp" type="image/webp" />
                    <img src="./img/catalogue/02-1.jpg" srcset="./img/catalogue/02-1-2x.jpg 2x" alt="Product 1" />
                  </picture>
                </div>
              </div>
            </div>
            <div class="product__slider swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/01-1-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/01-1.webp" type="image/webp" />
                    <img src="./img/catalogue/01-1.jpg" srcset="./img/catalogue/01-1-2x.jpg 2x" alt="Product 1" />
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/01-2-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/01-2.webp" type="image/webp" />
                    <img src="./img/catalogue/01-2.jpg" srcset="./img/catalogue/01-2-2x.jpg" alt="Product 1" />
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/02-1-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/02-1.webp" type="image/webp" />
                    <img src="./img/catalogue/02-1.jpg" srcset="./img/catalogue/02-1-2x.jpg 2x" alt="Product 1" />
                  </picture>
                </div>
              </div>
              <div class="swiper-pagination product-slider__pagination"></div>
            </div>
            <ul class="pruoduct__image-pagination image-pagination list-reset"></ul>
          </div>
          <div class="product__header">
            <h3>Дом по проекту VASKELA</h3>
            <a href="#">смотреть проект</a>
          </div>
        </article>
      </li>

      <li class="catalogue__item">
        <article class="catalogue__product product">
          <div class="product__image">
            <div class="implemPhoto-section__btn implemPhoto-section__btn--fullscreen">
              <a href="./img/catalogue/01-1-2x.webp" data-fancybox="gal-8">
                <svg>
                  <use xlink:href="img/sprite.svg#fullscreen-icon"></use>
                </svg>
              </a>
            </div>
            <div class="hidden-gallery-links" style="display: none;">
              <a href="./img/catalogue/01-2-2x.webp" data-fancybox="gal-8"></a>
              <a href="./img/catalogue/02-1-2x.webp" data-fancybox="gal-8"></a>
            </div>
            <div class="product__switch image-switch">
              <div class="image-switch__item">
                <div class="image-switch__img">
                  <picture>
                    <source srcset="./img/catalogue/01-1-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/01-1.webp" type="image/webp" />
                    <img src="./img/catalogue/01-1.jpg" srcset="./img/catalogue/01-1-2x.jpg 2x" alt="Product 1" />
                  </picture>
                </div>
              </div>
              <div class="image-switch__item">
                <div class="image-switch__img">
                  <picture>
                    <source srcset="./img/catalogue/01-2-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/01-2.webp" type="image/webp" />
                    <img src="./img/catalogue/01-2.jpg" srcset="./img/catalogue/01-2-2x.jpg" alt="Product 1" />
                  </picture>
                </div>
              </div>
              <div class="image-switch__item">
                <div class="image-switch__img">
                  <picture>
                    <source srcset="./img/catalogue/02-1-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/02-1.webp" type="image/webp" />
                    <img src="./img/catalogue/02-1.jpg" srcset="./img/catalogue/02-1-2x.jpg 2x" alt="Product 1" />
                  </picture>
                </div>
              </div>
            </div>
            <div class="product__slider swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/01-1-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/01-1.webp" type="image/webp" />
                    <img src="./img/catalogue/01-1.jpg" srcset="./img/catalogue/01-1-2x.jpg 2x" alt="Product 1" />
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/01-2-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/01-2.webp" type="image/webp" />
                    <img src="./img/catalogue/01-2.jpg" srcset="./img/catalogue/01-2-2x.jpg" alt="Product 1" />
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/02-1-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/02-1.webp" type="image/webp" />
                    <img src="./img/catalogue/02-1.jpg" srcset="./img/catalogue/02-1-2x.jpg 2x" alt="Product 1" />
                  </picture>
                </div>
              </div>
              <div class="swiper-pagination product-slider__pagination"></div>
            </div>
            <ul class="pruoduct__image-pagination image-pagination list-reset"></ul>
          </div>
          <div class="product__header">
            <h3>Дом по проекту VASKELA</h3>
            <a href="#">смотреть проект</a>
          </div>
        </article>
      </li>



    </ul>
  </div>

</section>