<section class="implemReady-section">
  <div class="breadcrumbs design-section__breadcrumbs">
    <ul>
      <li>
        <a href="./index.html">Главная</a>
      </li>
      <li>
        <a href="./implemMain.html">Реализации</a>
      </li>
      <li>
        <a>Готовые дома</a>
      </li>
    </ul>
  </div>
  <h1>Готовы к продаже дома TF House</h1>

  <div class="implemVideo-section__container main-container">
    <div class="implemReady-section__item implemReady-item">
      <article>
        <h3>Vuotta</h3>
        <ul>
          <li>
            <img src="./img/house-icon/house-icon-1.svg" alt="square">275<span>м<sup>2</sup></span>
          </li>
          <li>
            <img src="./img/house-icon/house-icon-floors.svg" alt="floors">2<span>этажа</span>
          </li>
          <li>
            <img src="./img/house-icon/house-icon-bedrooms.svg" alt="bedrooms">4<span>спальни</span>
          </li>
          <li>
            <img src="./img/house-icon/house-icon-bathrooms.svg" alt="bedrooms">3<span>санузла</span>
          </li>
          <li>
            <img src="./img/house-icon/house-icon-place.svg" alt="bedrooms">153<span>м<sup>2</sup></span>
          </li>
        </ul>
        <p>
          Натуральные материалы и&nbsp;инновационные методы создания
          обеспечивают превосходное качество и&nbsp;долговечность этого
          жилья.
        </p>
        <a href="#">смотреть проект</a>
      </article>
      <div class="implemReady-item__slider swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
        </div>
        <div
          class="slider-control__btn btn--fill slider-control__btn--dark slider-control__btn--prev mob-dis ready-slider-btn--prev-1">
          <span></span>
        </div>
        <div
          class="slider-control__btn btn--fill slider-control__btn--dark slider-control__btn--next mob-dis ready-slider-btn--next-1">
          <span></span>
        </div>
        <div class="swiper-pagination product-slider__pagination ready-pagination-1"></div>
        <div class="implemPhoto-section__btn implemPhoto-section__btn--fullscreen">
          <a href="./img/popular_3x.webp" data-fancybox="ready-1">
            <svg>
              <use xlink:href="img/sprite.svg#fullscreen-icon"></use>
            </svg>
          </a>
        </div>
        <div class="hidden-gallery-links" style="display: none;">
          <a href="./img/popular_3x.webp" data-fancybox="ready-1"></a>
          <a href="./img/popular_3x.webp" data-fancybox="ready-1"></a>
          <a href="./img/popular_3x.webp" data-fancybox="ready-1"></a>
          <a href="./img/popular_3x.webp" data-fancybox="ready-1"></a>
          <a href="./img/popular_3x.webp" data-fancybox="ready-1"></a>
          <a href="./img/popular_3x.webp" data-fancybox="ready-1"></a>
          <a href="./img/popular_3x.webp" data-fancybox="ready-1"></a>
          <a href="./img/popular_3x.webp" data-fancybox="ready-1"></a>
          <a href="./img/popular_3x.webp" data-fancybox="ready-1"></a>
          <a href="./img/popular_3x.webp" data-fancybox="ready-1"></a>
          <a href="./img/popular_3x.webp" data-fancybox="ready-1"></a>
        </div>
      </div>
    </div>
    <div class="implemReady-section__item implemReady-item">
      <article>
        <h3>Vuotta</h3>
        <ul>
          <li>
            <img src="./img/house-icon/house-icon-1.svg" alt="square">275<span>м<sup>2</sup></span>
          </li>
          <li>
            <img src="./img/house-icon/house-icon-floors.svg" alt="floors">2<span>этажа</span>
          </li>
          <li>
            <img src="./img/house-icon/house-icon-bedrooms.svg" alt="bedrooms">4<span>спальни</span>
          </li>
          <li>
            <img src="./img/house-icon/house-icon-bathrooms.svg" alt="bedrooms">3<span>санузла</span>
          </li>
          <li>
            <img src="./img/house-icon/house-icon-place.svg" alt="bedrooms">153<span>м<sup>2</sup></span>
          </li>
        </ul>
        <p>
          Натуральные материалы и&nbsp;инновационные методы создания
          обеспечивают превосходное качество и&nbsp;долговечность этого
          жилья.
        </p>
        <a href="#">смотреть проект</a>
      </article>
      <div class="implemReady-item__slider swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
        </div>
        <div class="swiper-pagination product-slider__pagination ready-pagination-2"></div>
        <div
          class="slider-control__btn btn--fill slider-control__btn--dark slider-control__btn--prev mob-dis ready-slider-btn--prev-2">
          <span></span>
        </div>
        <div
          class="slider-control__btn btn--fill slider-control__btn--dark slider-control__btn--next mob-dis ready-slider-btn--next-2">
          <span></span>
        </div>
        <div class="implemPhoto-section__btn implemPhoto-section__btn--fullscreen">
          <a href="./img/popular_3x.webp" data-fancybox="ready-2">
            <svg>
              <use xlink:href="img/sprite.svg#fullscreen-icon"></use>
            </svg>
          </a>
        </div>
        <div class="hidden-gallery-links" style="display: none;">
          <a href="./img/popular_3x.webp" data-fancybox="ready-2"></a>
          <a href="./img/popular_3x.webp" data-fancybox="ready-2"></a>
          <a href="./img/popular_3x.webp" data-fancybox="ready-2"></a>
          <a href="./img/popular_3x.webp" data-fancybox="ready-2"></a>
          <a href="./img/popular_3x.webp" data-fancybox="ready-2"></a>
          <a href="./img/popular_3x.webp" data-fancybox="ready-2"></a>
          <a href="./img/popular_3x.webp" data-fancybox="ready-2"></a>
          <a href="./img/popular_3x.webp" data-fancybox="ready-2"></a>
          <a href="./img/popular_3x.webp" data-fancybox="ready-2"></a>
          <a href="./img/popular_3x.webp" data-fancybox="ready-2"></a>
          <a href="./img/popular_3x.webp" data-fancybox="ready-2"></a>
        </div>
      </div>
    </div>
    <div class="implemReady-section__item implemReady-item">
      <article>
        <h3>Vuotta</h3>
        <ul>
          <li>
            <img src="./img/house-icon/house-icon-1.svg" alt="square">275<span>м<sup>2</sup></span>
          </li>
          <li>
            <img src="./img/house-icon/house-icon-floors.svg" alt="floors">2<span>этажа</span>
          </li>
          <li>
            <img src="./img/house-icon/house-icon-bedrooms.svg" alt="bedrooms">4<span>спальни</span>
          </li>
          <li>
            <img src="./img/house-icon/house-icon-bathrooms.svg" alt="bedrooms">3<span>санузла</span>
          </li>
          <li>
            <img src="./img/house-icon/house-icon-place.svg" alt="bedrooms">153<span>м<sup>2</sup></span>
          </li>
        </ul>
        <p>
          Натуральные материалы и&nbsp;инновационные методы создания
          обеспечивают превосходное качество и&nbsp;долговечность этого
          жилья.
        </p>
        <a href="#">смотреть проект</a>
      </article>
      <div class="implemReady-item__slider swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
        </div>
        <div class="swiper-pagination product-slider__pagination ready-pagination-3"></div>
        <div
          class="slider-control__btn btn--fill slider-control__btn--dark slider-control__btn--prev mob-dis ready-slider-btn--prev-3">
          <span></span>
        </div>
        <div
          class="slider-control__btn btn--fill slider-control__btn--dark slider-control__btn--next mob-dis ready-slider-btn--next-3">
          <span></span>
        </div>
        <div class="implemPhoto-section__btn implemPhoto-section__btn--fullscreen">
          <a href="./img/popular_3x.webp" data-fancybox="ready-3">
            <svg>
              <use xlink:href="img/sprite.svg#fullscreen-icon"></use>
            </svg>
          </a>
        </div>
        <div class="hidden-gallery-links" style="display: none;">
          <a href="./img/popular_3x.webp" data-fancybox="ready-3"></a>
          <a href="./img/popular_3x.webp" data-fancybox="ready-3"></a>
          <a href="./img/popular_3x.webp" data-fancybox="ready-3"></a>
          <a href="./img/popular_3x.webp" data-fancybox="ready-3"></a>
          <a href="./img/popular_3x.webp" data-fancybox="ready-3"></a>
          <a href="./img/popular_3x.webp" data-fancybox="ready-3"></a>
          <a href="./img/popular_3x.webp" data-fancybox="ready-3"></a>
          <a href="./img/popular_3x.webp" data-fancybox="ready-3"></a>
          <a href="./img/popular_3x.webp" data-fancybox="ready-3"></a>
          <a href="./img/popular_3x.webp" data-fancybox="ready-3"></a>
          <a href="./img/popular_3x.webp" data-fancybox="ready-3"></a>
        </div>
      </div>
    </div>
    <div class="implemReady-section__item implemReady-item">
      <article>
        <h3>Vuotta</h3>
        <ul>
          <li>
            <img src="./img/house-icon/house-icon-1.svg" alt="square">275<span>м<sup>2</sup></span>
          </li>
          <li>
            <img src="./img/house-icon/house-icon-floors.svg" alt="floors">2<span>этажа</span>
          </li>
          <li>
            <img src="./img/house-icon/house-icon-bedrooms.svg" alt="bedrooms">4<span>спальни</span>
          </li>
          <li>
            <img src="./img/house-icon/house-icon-bathrooms.svg" alt="bedrooms">3<span>санузла</span>
          </li>
          <li>
            <img src="./img/house-icon/house-icon-place.svg" alt="bedrooms">153<span>м<sup>2</sup></span>
          </li>
        </ul>
        <p>
          Натуральные материалы и&nbsp;инновационные методы создания
          обеспечивают превосходное качество и&nbsp;долговечность этого
          жилья.
        </p>
        <a href="#">смотреть проект</a>
      </article>
      <div class="implemReady-item__slider swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
        </div>
        <div class="swiper-pagination product-slider__pagination ready-pagination-4"></div>
        <div
          class="slider-control__btn btn--fill slider-control__btn--dark slider-control__btn--prev mob-dis ready-slider-btn--prev-4">
          <span></span>
        </div>
        <div
          class="slider-control__btn btn--fill slider-control__btn--dark slider-control__btn--next mob-dis ready-slider-btn--next-4">
          <span></span>
        </div>
        <div class="implemPhoto-section__btn implemPhoto-section__btn--fullscreen">
          <a href="./img/popular_3x.webp" data-fancybox="ready-4">
            <svg>
              <use xlink:href="img/sprite.svg#fullscreen-icon"></use>
            </svg>
          </a>
        </div>
        <div class="hidden-gallery-links" style="display: none;">
          <a href="./img/popular_3x.webp" data-fancybox="ready-4"></a>
          <a href="./img/popular_3x.webp" data-fancybox="ready-4"></a>
          <a href="./img/popular_3x.webp" data-fancybox="ready-4"></a>
          <a href="./img/popular_3x.webp" data-fancybox="ready-4"></a>
          <a href="./img/popular_3x.webp" data-fancybox="ready-4"></a>
          <a href="./img/popular_3x.webp" data-fancybox="ready-4"></a>
          <a href="./img/popular_3x.webp" data-fancybox="ready-4"></a>
          <a href="./img/popular_3x.webp" data-fancybox="ready-4"></a>
          <a href="./img/popular_3x.webp" data-fancybox="ready-4"></a>
          <a href="./img/popular_3x.webp" data-fancybox="ready-4"></a>
          <a href="./img/popular_3x.webp" data-fancybox="ready-4"></a>
        </div>
      </div>
    </div>
    <div class="implemReady-section__item implemReady-item">
      <article>
        <h3>Vuotta</h3>
        <ul>
          <li>
            <img src="./img/house-icon/house-icon-1.svg" alt="square">275<span>м<sup>2</sup></span>
          </li>
          <li>
            <img src="./img/house-icon/house-icon-floors.svg" alt="floors">2<span>этажа</span>
          </li>
          <li>
            <img src="./img/house-icon/house-icon-bedrooms.svg" alt="bedrooms">4<span>спальни</span>
          </li>
          <li>
            <img src="./img/house-icon/house-icon-bathrooms.svg" alt="bedrooms">3<span>санузла</span>
          </li>
          <li>
            <img src="./img/house-icon/house-icon-place.svg" alt="bedrooms">153<span>м<sup>2</sup></span>
          </li>
        </ul>
        <p>
          Натуральные материалы и&nbsp;инновационные методы создания
          обеспечивают превосходное качество и&nbsp;долговечность этого
          жилья.
        </p>
        <a href="#">смотреть проект</a>
      </article>
      <div class="implemReady-item__slider swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
        </div>
        <div class="swiper-pagination product-slider__pagination ready-pagination-5"></div>
        <div
          class="slider-control__btn btn--fill slider-control__btn--dark slider-control__btn--prev mob-dis ready-slider-btn--prev-5">
          <span></span>
        </div>
        <div
          class="slider-control__btn btn--fill slider-control__btn--dark slider-control__btn--next mob-dis ready-slider-btn--next-5">
          <span></span>
        </div>
        <div class="implemPhoto-section__btn implemPhoto-section__btn--fullscreen">
          <a href="./img/popular_3x.webp" data-fancybox="ready-5">
            <svg>
              <use xlink:href="img/sprite.svg#fullscreen-icon"></use>
            </svg>
          </a>
        </div>
        <div class="hidden-gallery-links" style="display: none;">
          <a href="./img/popular_3x.webp" data-fancybox="ready-5"></a>
          <a href="./img/popular_3x.webp" data-fancybox="ready-5"></a>
          <a href="./img/popular_3x.webp" data-fancybox="ready-5"></a>
          <a href="./img/popular_3x.webp" data-fancybox="ready-5"></a>
          <a href="./img/popular_3x.webp" data-fancybox="ready-5"></a>
          <a href="./img/popular_3x.webp" data-fancybox="ready-5"></a>
          <a href="./img/popular_3x.webp" data-fancybox="ready-5"></a>
          <a href="./img/popular_3x.webp" data-fancybox="ready-5"></a>
          <a href="./img/popular_3x.webp" data-fancybox="ready-5"></a>
          <a href="./img/popular_3x.webp" data-fancybox="ready-5"></a>
          <a href="./img/popular_3x.webp" data-fancybox="ready-5"></a>
        </div>
      </div>
    </div>
    <div class="implemReady-section__item implemReady-item">
      <article>
        <h3>Vuotta</h3>
        <ul>
          <li>
            <img src="./img/house-icon/house-icon-1.svg" alt="square">275<span>м<sup>2</sup></span>
          </li>
          <li>
            <img src="./img/house-icon/house-icon-floors.svg" alt="floors">2<span>этажа</span>
          </li>
          <li>
            <img src="./img/house-icon/house-icon-bedrooms.svg" alt="bedrooms">4<span>спальни</span>
          </li>
          <li>
            <img src="./img/house-icon/house-icon-bathrooms.svg" alt="bedrooms">3<span>санузла</span>
          </li>
          <li>
            <img src="./img/house-icon/house-icon-place.svg" alt="bedrooms">153<span>м<sup>2</sup></span>
          </li>
        </ul>
        <p>
          Натуральные материалы и&nbsp;инновационные методы создания
          обеспечивают превосходное качество и&nbsp;долговечность этого
          жилья.
        </p>
        <a href="#">смотреть проект</a>
      </article>
      <div class="implemReady-item__slider swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/popular.webp">
              <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
              <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
              <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
            </picture>
          </div>
        </div>
        <div class="swiper-pagination product-slider__pagination ready-pagination-6"></div>
        <div
          class="slider-control__btn btn--fill slider-control__btn--dark slider-control__btn--prev mob-dis ready-slider-btn--prev-6">
          <span></span>
        </div>
        <div
          class="slider-control__btn btn--fill slider-control__btn--dark slider-control__btn--next mob-dis ready-slider-btn--next-6">
          <span></span>
        </div>
        <div class="implemPhoto-section__btn implemPhoto-section__btn--fullscreen">
          <a href="./img/popular_3x.webp" data-fancybox="ready-1">
            <svg>
              <use xlink:href="img/sprite.svg#fullscreen-icon"></use>
            </svg>
          </a>
        </div>
        <div class="hidden-gallery-links" style="display: none;">
          <a href="./img/popular_3x.webp" data-fancybox="ready-6"></a>
          <a href="./img/popular_3x.webp" data-fancybox="ready-6"></a>
          <a href="./img/popular_3x.webp" data-fancybox="ready-6"></a>
          <a href="./img/popular_3x.webp" data-fancybox="ready-6"></a>
          <a href="./img/popular_3x.webp" data-fancybox="ready-6"></a>
          <a href="./img/popular_3x.webp" data-fancybox="ready-6"></a>
          <a href="./img/popular_3x.webp" data-fancybox="ready-6"></a>
          <a href="./img/popular_3x.webp" data-fancybox="ready-6"></a>
          <a href="./img/popular_3x.webp" data-fancybox="ready-6"></a>
          <a href="./img/popular_3x.webp" data-fancybox="ready-6"></a>
          <a href="./img/popular_3x.webp" data-fancybox="ready-6"></a>
        </div>
      </div>
    </div>

  </div>
  <div class="modal modal-video">
    <div class="modal__window">
      <video src="" controls></video>
      <button class="modal__close btn-reset"></button>
    </div>
  </div>
</section>