<section class="implemObjects-section">
  <div class="main-container">
    <div class="breadcrumbs design-section__breadcrumbs">
      <ul>
        <li>
          <a href="./index.html">Главная</a>
        </li>
        <li>
          <a href="./implemMain.html">Реализации</a>
        </li>
        <li>
          <a>Объекты в работе</a>
        </li>
      </ul>
    </div>
    <h1>Строительство деревянных домов TF House</h1>

    <ul class="implemPhoto-section__list list-reset">
      <li class="catalogue__item">
        <article class="catalogue__product product">
          <div class="product__image">
            <div class="implemPhoto-section__btn implemPhoto-section__btn--fullscreen">
              <a href="./img/catalogue/01-1-2x.webp" data-fancybox="objects-1">
                <svg>
                  <use xlink:href="img/sprite.svg#fullscreen-icon"></use>
                </svg>
              </a>
            </div>
            <div class="hidden-gallery-links" style="display: none;">
              <a href="./img/catalogue/01-2-2x.webp" data-fancybox="objects-1"></a>
              <a href="./img/catalogue/02-1-2x.webp" data-fancybox="objects-1"></a>
              <a href="./img/catalogue/01-1-2x.webp" data-fancybox="objects-1"></a>
              <a href="./img/catalogue/01-2-2x.webp" data-fancybox="objects-1"></a>
              <a href="./img/catalogue/02-1-2x.webp" data-fancybox="objects-1"></a>
              <a href="./img/catalogue/01-1-2x.webp" data-fancybox="objects-1"></a>
              <a href="./img/catalogue/01-2-2x.webp" data-fancybox="objects-1"></a>
              <a href="./img/catalogue/02-1-2x.webp" data-fancybox="objects-1"></a>
              <a href="./img/catalogue/01-1-2x.webp" data-fancybox="objects-1"></a>
              <a href="./img/catalogue/01-2-2x.webp" data-fancybox="objects-1"></a>
              <a href="./img/catalogue/02-1-2x.webp" data-fancybox="objects-1"></a>
            </div>
            <div class="product__slider swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/01-1-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/01-1.webp" type="image/webp" />
                    <img src="./img/catalogue/01-1.jpg" srcset="./img/catalogue/01-1-2x.jpg 2x" alt="Product 1" />
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/01-2-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/01-2.webp" type="image/webp" />
                    <img src="./img/catalogue/01-2.jpg" srcset="./img/catalogue/01-2-2x.jpg" alt="Product 1" />
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/02-1-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/02-1.webp" type="image/webp" />
                    <img src="./img/catalogue/02-1.jpg" srcset="./img/catalogue/02-1-2x.jpg 2x" alt="Product 1" />
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/01-1-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/01-1.webp" type="image/webp" />
                    <img src="./img/catalogue/01-1.jpg" srcset="./img/catalogue/01-1-2x.jpg 2x" alt="Product 1" />
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/01-2-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/01-2.webp" type="image/webp" />
                    <img src="./img/catalogue/01-2.jpg" srcset="./img/catalogue/01-2-2x.jpg" alt="Product 1" />
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/02-1-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/02-1.webp" type="image/webp" />
                    <img src="./img/catalogue/02-1.jpg" srcset="./img/catalogue/02-1-2x.jpg 2x" alt="Product 1" />
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/01-1-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/01-1.webp" type="image/webp" />
                    <img src="./img/catalogue/01-1.jpg" srcset="./img/catalogue/01-1-2x.jpg 2x" alt="Product 1" />
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/01-2-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/01-2.webp" type="image/webp" />
                    <img src="./img/catalogue/01-2.jpg" srcset="./img/catalogue/01-2-2x.jpg" alt="Product 1" />
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/02-1-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/02-1.webp" type="image/webp" />
                    <img src="./img/catalogue/02-1.jpg" srcset="./img/catalogue/02-1-2x.jpg 2x" alt="Product 1" />
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/01-1-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/01-1.webp" type="image/webp" />
                    <img src="./img/catalogue/01-1.jpg" srcset="./img/catalogue/01-1-2x.jpg 2x" alt="Product 1" />
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/01-2-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/01-2.webp" type="image/webp" />
                    <img src="./img/catalogue/01-2.jpg" srcset="./img/catalogue/01-2-2x.jpg" alt="Product 1" />
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/02-1-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/02-1.webp" type="image/webp" />
                    <img src="./img/catalogue/02-1.jpg" srcset="./img/catalogue/02-1-2x.jpg 2x" alt="Product 1" />
                  </picture>
                </div>
              </div>
              <div class="swiper-pagination product-slider__pagination"></div>
              <div
                class="slider-control__btn btn--fill slider-control__btn--dark slider-control__btn--prev mob-dis product-slider-btn--prev">
                <span></span>
              </div>
              <div
                class="slider-control__btn btn--fill slider-control__btn--dark slider-control__btn--next mob-dis product-slider-btn--next">
                <span></span>
              </div>
            </div>
          </div>
          <div class="product__header">
            <h3>Дом по проекту VASKELA</h3>
            <a href="#">смотреть проект</a>
          </div>
        </article>
      </li>
      <li class="catalogue__item">
        <article class="catalogue__product product">
          <div class="product__image">
            <div class="implemPhoto-section__btn implemPhoto-section__btn--fullscreen">
              <a href="./img/catalogue/01-1-2x.webp" data-fancybox="objects-2">
                <svg>
                  <use xlink:href="img/sprite.svg#fullscreen-icon"></use>
                </svg>
              </a>
            </div>
            <div class="hidden-gallery-links" style="display: none;">
              <a href="./img/catalogue/01-2-2x.webp" data-fancybox="objects-2"></a>
              <a href="./img/catalogue/02-1-2x.webp" data-fancybox="objects-2"></a>
              <a href="./img/catalogue/01-1-2x.webp" data-fancybox="objects-2"></a>
              <a href="./img/catalogue/01-2-2x.webp" data-fancybox="objects-2"></a>
              <a href="./img/catalogue/02-1-2x.webp" data-fancybox="objects-2"></a>
              <a href="./img/catalogue/01-1-2x.webp" data-fancybox="objects-2"></a>
              <a href="./img/catalogue/01-2-2x.webp" data-fancybox="objects-2"></a>
              <a href="./img/catalogue/02-1-2x.webp" data-fancybox="objects-2"></a>
              <a href="./img/catalogue/01-1-2x.webp" data-fancybox="objects-2"></a>
              <a href="./img/catalogue/01-2-2x.webp" data-fancybox="objects-2"></a>
              <a href="./img/catalogue/02-1-2x.webp" data-fancybox="objects-2"></a>
            </div>
            <div class="product__slider swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/01-1-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/01-1.webp" type="image/webp" />
                    <img src="./img/catalogue/01-1.jpg" srcset="./img/catalogue/01-1-2x.jpg 2x" alt="Product 1" />
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/01-2-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/01-2.webp" type="image/webp" />
                    <img src="./img/catalogue/01-2.jpg" srcset="./img/catalogue/01-2-2x.jpg" alt="Product 1" />
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/02-1-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/02-1.webp" type="image/webp" />
                    <img src="./img/catalogue/02-1.jpg" srcset="./img/catalogue/02-1-2x.jpg 2x" alt="Product 1" />
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/01-1-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/01-1.webp" type="image/webp" />
                    <img src="./img/catalogue/01-1.jpg" srcset="./img/catalogue/01-1-2x.jpg 2x" alt="Product 1" />
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/01-2-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/01-2.webp" type="image/webp" />
                    <img src="./img/catalogue/01-2.jpg" srcset="./img/catalogue/01-2-2x.jpg" alt="Product 1" />
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/02-1-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/02-1.webp" type="image/webp" />
                    <img src="./img/catalogue/02-1.jpg" srcset="./img/catalogue/02-1-2x.jpg 2x" alt="Product 1" />
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/01-1-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/01-1.webp" type="image/webp" />
                    <img src="./img/catalogue/01-1.jpg" srcset="./img/catalogue/01-1-2x.jpg 2x" alt="Product 1" />
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/01-2-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/01-2.webp" type="image/webp" />
                    <img src="./img/catalogue/01-2.jpg" srcset="./img/catalogue/01-2-2x.jpg" alt="Product 1" />
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/02-1-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/02-1.webp" type="image/webp" />
                    <img src="./img/catalogue/02-1.jpg" srcset="./img/catalogue/02-1-2x.jpg 2x" alt="Product 1" />
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/01-1-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/01-1.webp" type="image/webp" />
                    <img src="./img/catalogue/01-1.jpg" srcset="./img/catalogue/01-1-2x.jpg 2x" alt="Product 1" />
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/01-2-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/01-2.webp" type="image/webp" />
                    <img src="./img/catalogue/01-2.jpg" srcset="./img/catalogue/01-2-2x.jpg" alt="Product 1" />
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/02-1-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/02-1.webp" type="image/webp" />
                    <img src="./img/catalogue/02-1.jpg" srcset="./img/catalogue/02-1-2x.jpg 2x" alt="Product 1" />
                  </picture>
                </div>
              </div>
              <div class="swiper-pagination product-slider__pagination objects-pagination objects-pagination-2"></div>
              <div
                class="slider-control__btn btn--fill slider-control__btn--dark slider-control__btn--prev mob-dis product-slider-btn--prev">
                <span></span>
              </div>
              <div
                class="slider-control__btn btn--fill slider-control__btn--dark slider-control__btn--next mob-dis product-slider-btn--next">
                <span></span>
              </div>
            </div>
          </div>
          <div class="product__header">
            <h3>Дом по проекту VASKELA</h3>
            <a href="#">смотреть проект</a>
          </div>
        </article>
      </li>
      <li class="catalogue__item">
        <article class="catalogue__product product">
          <div class="product__image">
            <div class="implemPhoto-section__btn implemPhoto-section__btn--fullscreen">
              <a href="./img/catalogue/01-1-2x.webp" data-fancybox="objects-3">
                <svg>
                  <use xlink:href="img/sprite.svg#fullscreen-icon"></use>
                </svg>
              </a>
            </div>
            <div class="hidden-gallery-links" style="display: none;">
              <a href="./img/catalogue/01-2-2x.webp" data-fancybox="objects-3"></a>
              <a href="./img/catalogue/02-1-2x.webp" data-fancybox="objects-3"></a>
              <a href="./img/catalogue/01-1-2x.webp" data-fancybox="objects-3"></a>
              <a href="./img/catalogue/01-2-2x.webp" data-fancybox="objects-3"></a>
              <a href="./img/catalogue/02-1-2x.webp" data-fancybox="objects-3"></a>
              <a href="./img/catalogue/01-1-2x.webp" data-fancybox="objects-3"></a>
              <a href="./img/catalogue/01-2-2x.webp" data-fancybox="objects-3"></a>
              <a href="./img/catalogue/02-1-2x.webp" data-fancybox="objects-3"></a>
              <a href="./img/catalogue/01-1-2x.webp" data-fancybox="objects-3"></a>
              <a href="./img/catalogue/01-2-2x.webp" data-fancybox="objects-3"></a>
              <a href="./img/catalogue/02-1-2x.webp" data-fancybox="objects-3"></a>
            </div>
            <div class="product__slider swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/01-1-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/01-1.webp" type="image/webp" />
                    <img src="./img/catalogue/01-1.jpg" srcset="./img/catalogue/01-1-2x.jpg 2x" alt="Product 1" />
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/01-2-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/01-2.webp" type="image/webp" />
                    <img src="./img/catalogue/01-2.jpg" srcset="./img/catalogue/01-2-2x.jpg" alt="Product 1" />
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/02-1-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/02-1.webp" type="image/webp" />
                    <img src="./img/catalogue/02-1.jpg" srcset="./img/catalogue/02-1-2x.jpg 2x" alt="Product 1" />
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/01-1-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/01-1.webp" type="image/webp" />
                    <img src="./img/catalogue/01-1.jpg" srcset="./img/catalogue/01-1-2x.jpg 2x" alt="Product 1" />
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/01-2-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/01-2.webp" type="image/webp" />
                    <img src="./img/catalogue/01-2.jpg" srcset="./img/catalogue/01-2-2x.jpg" alt="Product 1" />
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/02-1-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/02-1.webp" type="image/webp" />
                    <img src="./img/catalogue/02-1.jpg" srcset="./img/catalogue/02-1-2x.jpg 2x" alt="Product 1" />
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/01-1-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/01-1.webp" type="image/webp" />
                    <img src="./img/catalogue/01-1.jpg" srcset="./img/catalogue/01-1-2x.jpg 2x" alt="Product 1" />
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/01-2-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/01-2.webp" type="image/webp" />
                    <img src="./img/catalogue/01-2.jpg" srcset="./img/catalogue/01-2-2x.jpg" alt="Product 1" />
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/02-1-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/02-1.webp" type="image/webp" />
                    <img src="./img/catalogue/02-1.jpg" srcset="./img/catalogue/02-1-2x.jpg 2x" alt="Product 1" />
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/01-1-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/01-1.webp" type="image/webp" />
                    <img src="./img/catalogue/01-1.jpg" srcset="./img/catalogue/01-1-2x.jpg 2x" alt="Product 1" />
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/01-2-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/01-2.webp" type="image/webp" />
                    <img src="./img/catalogue/01-2.jpg" srcset="./img/catalogue/01-2-2x.jpg" alt="Product 1" />
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/02-1-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/02-1.webp" type="image/webp" />
                    <img src="./img/catalogue/02-1.jpg" srcset="./img/catalogue/02-1-2x.jpg 2x" alt="Product 1" />
                  </picture>
                </div>
              </div>
              <div class="swiper-pagination product-slider__pagination objects-pagination objects-pagination-3"></div>
              <div
                class="slider-control__btn btn--fill slider-control__btn--dark slider-control__btn--prev mob-dis product-slider-btn--prev">
                <span></span>
              </div>
              <div
                class="slider-control__btn btn--fill slider-control__btn--dark slider-control__btn--next mob-dis product-slider-btn--next">
                <span></span>
              </div>
            </div>
          </div>
          <div class="product__header">
            <h3>Дом по проекту VASKELA</h3>
            <a href="#">смотреть проект</a>
          </div>
        </article>
      </li>
      <li class="catalogue__item">
        <article class="catalogue__product product">
          <div class="product__image">
            <div class="implemPhoto-section__btn implemPhoto-section__btn--fullscreen">
              <a href="./img/catalogue/01-1-2x.webp" data-fancybox="objects-4">
                <svg>
                  <use xlink:href="img/sprite.svg#fullscreen-icon"></use>
                </svg>
              </a>
            </div>
            <div class="hidden-gallery-links" style="display: none;">
              <a href="./img/catalogue/01-2-2x.webp" data-fancybox="objects-4"></a>
              <a href="./img/catalogue/02-1-2x.webp" data-fancybox="objects-4"></a>
              <a href="./img/catalogue/01-1-2x.webp" data-fancybox="objects-4"></a>
              <a href="./img/catalogue/01-2-2x.webp" data-fancybox="objects-4"></a>
              <a href="./img/catalogue/02-1-2x.webp" data-fancybox="objects-4"></a>
              <a href="./img/catalogue/01-1-2x.webp" data-fancybox="objects-4"></a>
              <a href="./img/catalogue/01-2-2x.webp" data-fancybox="objects-4"></a>
              <a href="./img/catalogue/02-1-2x.webp" data-fancybox="objects-4"></a>
              <a href="./img/catalogue/01-1-2x.webp" data-fancybox="objects-4"></a>
              <a href="./img/catalogue/01-2-2x.webp" data-fancybox="objects-4"></a>
              <a href="./img/catalogue/02-1-2x.webp" data-fancybox="objects-4"></a>
            </div>
            <div class="product__slider swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/01-1-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/01-1.webp" type="image/webp" />
                    <img src="./img/catalogue/01-1.jpg" srcset="./img/catalogue/01-1-2x.jpg 2x" alt="Product 1" />
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/01-2-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/01-2.webp" type="image/webp" />
                    <img src="./img/catalogue/01-2.jpg" srcset="./img/catalogue/01-2-2x.jpg" alt="Product 1" />
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/02-1-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/02-1.webp" type="image/webp" />
                    <img src="./img/catalogue/02-1.jpg" srcset="./img/catalogue/02-1-2x.jpg 2x" alt="Product 1" />
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/01-1-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/01-1.webp" type="image/webp" />
                    <img src="./img/catalogue/01-1.jpg" srcset="./img/catalogue/01-1-2x.jpg 2x" alt="Product 1" />
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/01-2-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/01-2.webp" type="image/webp" />
                    <img src="./img/catalogue/01-2.jpg" srcset="./img/catalogue/01-2-2x.jpg" alt="Product 1" />
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/02-1-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/02-1.webp" type="image/webp" />
                    <img src="./img/catalogue/02-1.jpg" srcset="./img/catalogue/02-1-2x.jpg 2x" alt="Product 1" />
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/01-1-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/01-1.webp" type="image/webp" />
                    <img src="./img/catalogue/01-1.jpg" srcset="./img/catalogue/01-1-2x.jpg 2x" alt="Product 1" />
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/01-2-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/01-2.webp" type="image/webp" />
                    <img src="./img/catalogue/01-2.jpg" srcset="./img/catalogue/01-2-2x.jpg" alt="Product 1" />
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/02-1-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/02-1.webp" type="image/webp" />
                    <img src="./img/catalogue/02-1.jpg" srcset="./img/catalogue/02-1-2x.jpg 2x" alt="Product 1" />
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/01-1-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/01-1.webp" type="image/webp" />
                    <img src="./img/catalogue/01-1.jpg" srcset="./img/catalogue/01-1-2x.jpg 2x" alt="Product 1" />
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/01-2-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/01-2.webp" type="image/webp" />
                    <img src="./img/catalogue/01-2.jpg" srcset="./img/catalogue/01-2-2x.jpg" alt="Product 1" />
                  </picture>
                </div>
                <div class="swiper-slide">
                  <picture>
                    <source srcset="./img/catalogue/02-1-2x.webp" type="image/webp" media="(min-width: 1440px)" />
                    <source srcset="./img/catalogue/02-1.webp" type="image/webp" />
                    <img src="./img/catalogue/02-1.jpg" srcset="./img/catalogue/02-1-2x.jpg 2x" alt="Product 1" />
                  </picture>
                </div>
              </div>
              <div class="swiper-pagination product-slider__pagination objects-pagination objects-pagination-4"></div>
              <div
                class="slider-control__btn btn--fill slider-control__btn--dark slider-control__btn--prev mob-dis product-slider-btn--prev">
                <span></span>
              </div>
              <div
                class="slider-control__btn btn--fill slider-control__btn--dark slider-control__btn--next mob-dis product-slider-btn--next">
                <span></span>
              </div>
            </div>
          </div>
          <div class="product__header">
            <h3>Дом по проекту VASKELA</h3>
            <a href="#">смотреть проект</a>
          </div>
        </article>
      </li>
    </ul>
  </div>

</section>