<section class="implemTours-section">
  <div class="breadcrumbs design-section__breadcrumbs">
    <ul>
      <li>
        <a href="./index.html">Главная</a>
      </li>
      <li>
        <a href="">Реализации</a>
      </li>
      <li>
        <a>Видео</a>
      </li>
    </ul>
  </div>
  <h1>Видеообзоры деревянных домов TF House</h1>

  <div class="implemVideo-section__container main-container">
    <div class="implemVideo-section__item implemVideo-item">
      <article>
        <h3>Vuotta</h3>
        <ul>
          <li>
            <img src="./img/house-icon/house-icon-1.svg" alt="square">275<span>м<sup>2</sup></span>
          </li>
          <li>
            <img src="./img/house-icon/house-icon-floors.svg" alt="floors">2<span>этажа</span>
          </li>
          <li>
            <img src="./img/house-icon/house-icon-bedrooms.svg" alt="bedrooms">4<span>спальни</span>
          </li>
          <li>
            <img src="./img/house-icon/house-icon-bathrooms.svg" alt="bedrooms">3<span>санузла</span>
          </li>
          <li>
            <img src="./img/house-icon/house-icon-place.svg" alt="bedrooms">153<span>м<sup>2</sup></span>
          </li>
        </ul>
        <p>
          Натуральные материалы и&nbsp;инновационные методы создания
          обеспечивают превосходное качество и&nbsp;долговечность этого
          жилья.
        </p>
        <a href="#">смотреть проект</a>
      </article>
      <div class="implemVideo-item__video" data-video-src="./video.mp4">
        <div></div>
        <picture>
          <source srcset="./img/popular.webp">
          <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
          <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
          <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
        </picture>
        <button>
          <svg>
            <use xlink:href="img/sprite.svg#play"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="implemVideo-section__item implemVideo-item">
      <article>
        <h3>Vuotta</h3>
        <ul>
          <li>
            <img src="./img/house-icon/house-icon-1.svg" alt="square">275<span>м<sup>2</sup></span>
          </li>
          <li>
            <img src="./img/house-icon/house-icon-floors.svg" alt="floors">2<span>этажа</span>
          </li>
          <li>
            <img src="./img/house-icon/house-icon-bedrooms.svg" alt="bedrooms">4<span>спальни</span>
          </li>
          <li>
            <img src="./img/house-icon/house-icon-bathrooms.svg" alt="bedrooms">3<span>санузла</span>
          </li>
          <li>
            <img src="./img/house-icon/house-icon-place.svg" alt="bedrooms">153<span>м<sup>2</sup></span>
          </li>
        </ul>
        <p>
          Натуральные материалы и&nbsp;инновационные методы создания
          обеспечивают превосходное качество и&nbsp;долговечность этого
          жилья.
        </p>
        <a href="#">смотреть проект</a>
      </article>
      <div class="implemVideo-item__video" data-video-src="./video.mp4">
        <div></div>
        <picture>
          <source srcset="./img/popular.webp">
          <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
          <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
          <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
        </picture>
        <button>
          <svg>
            <use xlink:href="img/sprite.svg#play"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="implemVideo-section__item implemVideo-item">
      <article>
        <h3>Vuotta</h3>
        <ul>
          <li>
            <img src="./img/house-icon/house-icon-1.svg" alt="square">275<span>м<sup>2</sup></span>
          </li>
          <li>
            <img src="./img/house-icon/house-icon-floors.svg" alt="floors">2<span>этажа</span>
          </li>
          <li>
            <img src="./img/house-icon/house-icon-bedrooms.svg" alt="bedrooms">4<span>спальни</span>
          </li>
          <li>
            <img src="./img/house-icon/house-icon-bathrooms.svg" alt="bedrooms">3<span>санузла</span>
          </li>
          <li>
            <img src="./img/house-icon/house-icon-place.svg" alt="bedrooms">153<span>м<sup>2</sup></span>
          </li>
        </ul>
        <p>
          Натуральные материалы и&nbsp;инновационные методы создания
          обеспечивают превосходное качество и&nbsp;долговечность этого
          жилья.
        </p>
        <a href="#">смотреть проект</a>
      </article>
      <div class="implemVideo-item__video" data-video-src="./video.mp4">
        <div></div>
        <picture>
          <source srcset="./img/popular.webp">
          <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
          <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
          <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
        </picture>
        <button>
          <svg>
            <use xlink:href="img/sprite.svg#play"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="implemVideo-section__item implemVideo-item">
      <article>
        <h3>Vuotta</h3>
        <ul>
          <li>
            <img src="./img/house-icon/house-icon-1.svg" alt="square">275<span>м<sup>2</sup></span>
          </li>
          <li>
            <img src="./img/house-icon/house-icon-floors.svg" alt="floors">2<span>этажа</span>
          </li>
          <li>
            <img src="./img/house-icon/house-icon-bedrooms.svg" alt="bedrooms">4<span>спальни</span>
          </li>
          <li>
            <img src="./img/house-icon/house-icon-bathrooms.svg" alt="bedrooms">3<span>санузла</span>
          </li>
          <li>
            <img src="./img/house-icon/house-icon-place.svg" alt="bedrooms">153<span>м<sup>2</sup></span>
          </li>
        </ul>
        <p>
          Натуральные материалы и&nbsp;инновационные методы создания
          обеспечивают превосходное качество и&nbsp;долговечность этого
          жилья.
        </p>
        <a href="#">смотреть проект</a>
      </article>
      <div class="implemVideo-item__video" data-video-src="./video.mp4">
        <div></div>
        <picture>
          <source srcset="./img/popular.webp">
          <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
          <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
          <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
        </picture>
        <button>
          <svg>
            <use xlink:href="img/sprite.svg#play"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="implemVideo-section__item implemVideo-item">
      <article>
        <h3>Vuotta</h3>
        <ul>
          <li>
            <img src="./img/house-icon/house-icon-1.svg" alt="square">275<span>м<sup>2</sup></span>
          </li>
          <li>
            <img src="./img/house-icon/house-icon-floors.svg" alt="floors">2<span>этажа</span>
          </li>
          <li>
            <img src="./img/house-icon/house-icon-bedrooms.svg" alt="bedrooms">4<span>спальни</span>
          </li>
          <li>
            <img src="./img/house-icon/house-icon-bathrooms.svg" alt="bedrooms">3<span>санузла</span>
          </li>
          <li>
            <img src="./img/house-icon/house-icon-place.svg" alt="bedrooms">153<span>м<sup>2</sup></span>
          </li>
        </ul>
        <p>
          Натуральные материалы и&nbsp;инновационные методы создания
          обеспечивают превосходное качество и&nbsp;долговечность этого
          жилья.
        </p>
        <a href="#">смотреть проект</a>
      </article>
      <div class="implemVideo-item__video" data-video-src="./video.mp4">
        <picture>
          <source srcset="./img/popular.webp">
          <source srcset="./img/popular_3x.webp 3x" media="(min-width: 2560px)">
          <source srcset="./img/popular_2x.webp 2x" media="(min-width: 1920px)">
          <img src="./img/popular.jpg" srcset="./img/popular_2x.webp 2x, ./img/popular_3x.webp 3x" alt="Vuotta">
        </picture>
        <button>
          <svg>
            <use xlink:href="img/sprite.svg#play"></use>
          </svg>
        </button>
        <div></div>
      </div>
    </div>
  </div>
  <div class="modal modal-video">
    <div class="modal__window">
      <video src="" controls></video>
      <button class="modal__close btn-reset"></button>
    </div>
  </div>
</section>