<section class="item-hero">
  <div class="main-container">
    <div class="breadcrumbs item-hero__breadcrumbs">
      <ul>
        <li>
          <a href="./index.html">Главная</a>
        </li>
        <li>
          <a href="./catalogue.html">Проекты домов</a>
        </li>
        <li>
          <a>Valtonen</a>
        </li>
      </ul>
    </div>
    <h1>Valtonen</h1>
    <div class="item-hero__product item-product">
      <div class="item-product__slider swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide card">
            <picture>
              <source srcset="./img/itemCart/01-2x.webp" media="(min-width: 1920px)" />
              <source srcset="./img/itemCart/01.webp" />
              <img src="./img/itemCart/01.png" srcset="./img/itemCart/01-2x.png" alt="01" />
            </picture>
          </div>
          <div class="swiper-slide card">
            <picture>
              <source srcset="./img/itemCart/02-2x.webp" media="(min-width: 1920px)" />
              <source srcset="./img/itemCart/02.webp" />
              <img src="./img/itemCart/02.png" srcset="./img/itemCart/02-2x.png" alt="02" />
            </picture>
          </div>
          <div class="swiper-slide card">
            <picture>
              <source srcset="./img/itemCart/03-2x.webp" media="(min-width: 1920px)" />
              <source srcset="./img/itemCart/03.webp" />

              <img src="./img/itemCart/03.png" srcset="./img/itemCart/03-2x.png" alt="03" />
            </picture>
          </div>
          <div class="swiper-slide card">
            <picture>
              <source srcset="./img/itemCart/01.webp" />
              <img src="./img/itemCart/01.jpg" srcset="./img/itemCart/01-2x.png" alt="01" />
            </picture>
          </div>
          <div class="swiper-slide card">
            <picture>
              <source srcset="./img/itemCart/02.webp" />
              <source srcset="./img/itemCart/02-2x.webp" media="(min-width: 1920px)" />
              <img src="./img/itemCart/02.png" srcset="./img/itemCart/02-2x.png" alt="02" />
            </picture>
          </div>
          <div class="swiper-slide card">
            <picture>
              <source srcset="./img/itemCart/03.webp" />
              <source srcset="./img/itemCart/03-2x.webp" media="(min-width: 1920px)" />
              <img src="./img/itemCart/03.png" srcset="./img/itemCart/03-2x.png" alt="03" />
            </picture>
          </div>

        </div>
        <div class="slider-control__btn slider-control__btn--prev item-product-prev item-product__control-btn">
          <span></span>
        </div>
        <div class="slider-control__btn slider-control__btn--next item-product-next item-product__control-btn">
          <span></span>
        </div>

        <div class="hero__links" style="display: none;">
          <a href="./img/itemCart/02-2x.png" data-fancybox="images-preview"></a>
          <a href="./img/itemCart/03-2x.png" data-fancybox="images-preview"></a>
          <a href="./img/itemCart/01-2x.png" data-fancybox="images-preview"></a>
          <a href="./img/itemCart/02-2x.png" data-fancybox="images-preview"></a>
          <a href="./img/itemCart/03-2x.png" data-fancybox="images-preview"></a>
        </div>
        <div class="item-product__preview-wrapper">
          <a class="btn-reset btn--fullscreen item-hero__fullscreen"
            data-gallery="./img/itemCart/01.png, ./img/itemCart/02.png, ./img/itemCart/03.png"
            data-gallery-thumbs="./img/itemCart/01-thumb.jpg, ./img/itemCart/02-thumb.jpg, ./img/itemCart/03-thumb.jpg"
            href="./img/itemCart/01-2x.png" data-fancybox="images-preview" data-caption="">
            <svg>
              <use xlink:href="img/sprite.svg#fullscreen-icon"></use>
            </svg>
          </a>
          <div class="item-product__preview">
            <div class="item-product__thumbs swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="item-product__thumb">
                    <picture>
                      <source srcset="./img/itemCart/01-thumb.webp" />
                      <img src="./img/itemCart/01-thumb.jpg" />
                    </picture>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="item-product__thumb">
                    <picture>
                      <source srcset="./img/itemCart/02-thumb.webp" />
                      <img src="./img/itemCart/02-thumb.jpg" />
                    </picture>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="item-product__thumb">
                    <picture>
                      <source srcset="./img/itemCart/03-thumb.webp" />
                      <img src="./img/itemCart/03-thumb.jpg" />
                    </picture>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="item-product__thumb">
                    <picture>
                      <source srcset="./img/itemCart/01-thumb.webp" />
                      <img src="./img/itemCart/01-thumb.jpg" />
                    </picture>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="item-product__thumb">
                    <picture>
                      <source srcset="./img/itemCart/02-thumb.webp" />
                      <img src="./img/itemCart/02-thumb.jpg" />
                    </picture>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="item-product__thumb">
                    <picture>
                      <source srcset="./img/itemCart/03-thumb.webp" />
                      <img src="./img/itemCart/03-thumb.jpg" />
                    </picture>
                  </div>
                </div>
              </div>
            </div>
            <div class="item-product__refers">
              <button class="item-product__ref slide__item slide__item--video btn-reset"
                data-src="https://www.youtube.com/embed/h5r7-FLfamw?si=MMK0hWE1oXjIiCeH">
                Видеополет
              </button>
              <button class="item-product__ref slide__item slide__item--tour btn-reset" data-tour="./img/panorama.jpg">
                3D тур
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="item-product__content">
        <div class="item-product__buttons">
          <div class="item-product__row">
            <a href="#" class="btn btn--fill item-product__btn">Купить проект</a>
            <button
              class="btn--like btn--like-dark btn btn--stroke btn-reset item-product__btn-fav item-product__btn--white">
              <svg>
                <use xlink:href="img/sprite.svg#like-icon"></use>
              </svg>
            </button>
          </div>
          <div class="item-product__row">
            <a href="#" class="btn btn--stroke item-product__btn item-product__btn--white">Построить дом</a>
            <div
              class="ya-share2 btn--share btn--share--dark btn btn--stroke btn-reset item-product__btn-share item-product__btn--white"
              data-curtain data-shape="round" data-limit="0" data-more-button-type="short"
              data-services="vkontakte,odnoklassniki,telegram,viber,whatsapp">
              <svg>
                <use xlink:href="img/sprite.svg#share-icon"></use>
              </svg>
            </div>
          </div>
        </div>
        <div class="item-product__chars chars">
          <div class="chars-item chars-item--sq">
            <dt>Общая площадь</dt>
            <dd>218 м<sup>2</sup></dd>
          </div>
          <div class="chars-item chars-item--fl">
            <dt>Площадь 1 этажа</dt>
            <dd>133 м<sup>2</sup></dd>
          </div>
          <div class="chars-item chars-item--fl">
            <dt>Площадь 2 этажа</dt>
            <dd>57 м<sup>2</sup></dd>
          </div>
          <div class="chars-item">
            <dt>Второй свет</dt>
            <dd>да</dd>
          </div>
          <div class="chars-item chars-item--bed">
            <dt>Спален</dt>
            <dd>4</dd>
          </div>
          <div class="chars-item chars-item--bath">
            <dt>Санузлов</dt>
            <dd>3</dd>
          </div>
          <div class="chars-item chars-item--pl">
            <dt>Террасы</dt>
            <dd>50 м<sup>2</sup></dd>
          </div>
          <div class="chars-item">
            <dt>Балкон</dt>
            <dd>8,6 м<sup>2</sup></dd>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>