<div class="menu menu--main menu-disabled main-menu">
  <a class="logo menu__logo">
    <img src="./img/svg/header-logo.svg" alt="">
  </a>
  <div class="menu__window menu__window--main menu-window">
    <div class="menu-window__left menu-left">
      <ul class="list-reset menu-left__list">
        <li class="menu-left__item">
          <a href="#" class="menu-left__link">проекты домов</a>
        </li>
        <li class="menu-left__item">
          <a href="#" class="menu-left__link">о компании</a>
        </li>
        <li class="menu-left__item">
          <a href="#" class="menu-left__link">реализации</a>
        </li>
        <li class="menu-left__item">
          <a href="#" class="menu-left__link">контакты</a>
        </li>
      </ul>
      <address class="menu__address address">
        <a class="address__tel" href="tel:+78006007008">+7 800 600 7008</a>
        <a class="address__mail" href="mailto:infohelf@tfhouse.com">infohelf@tfhouse.com</a>
        <span class="address__address">Санкт-Петербург ул. Савушкина, 104</span>
      </address>
    </div>
    <div class="menu-window__right menu-right">
      <ul class="menu-right__list list-reset">
        <h3 class="menu-right__heading">
          услуги
        </h3>
        <li class="menu-right__item">
          <a href="#" class="menu-right__link">выбор участка</a>
        </li>
        <li class="menu-right__item">
          <a href="#" class="menu-right__link">проектировнаие</a>
        </li>
        <li class="menu-right__item">
          <a href="#" class="menu-right__link">строительство</a>
        </li>
        <li class="menu-right__item">
          <a href="#" class="menu-right__link">дизайн интерьеров</a>
        </li>
        <li class="menu-right__item">
          <a href="#" class="menu-right__link">отделка</a>
        </li>
        <li class="menu-right__item">
          <a href="#" class="menu-right__link">коммуникации</a>
        </li>
      </ul>
      <ul class="menu-right list-reset">
        <h3 class="menu-right__heading">
          технологии
        </h3>
        <li class="menu-right__item">
          <a href="#" class="menu-right__link">финская технология</a>
        </li>
        <li class="menu-right__item">
          <a href="#" class="menu-right__link">дома из клееного бруса</a>
        </li>
        <li class="menu-right__item">
          <a href="#" class="menu-right__link">каркасно-брусовые дома</a>
        </li>
        <li class="menu-right__item">
          <a href="#" class="menu-right__link">каркасные дома</a>
        </li>
        <li class="menu-right__item">
          <a href="#" class="menu-right__link">клееный брус</a>
        </li>
      </ul>
    </div>
    <button class="btn-close btn-reset menu__close-btn">
    </button>
  </div>
</div>
