<div class="mobile-menu">
  <ul class="mobile-menu__list list-reset">
    <li class="mobile-menu__item">
      <a href="#" class="mobile-menu__btn mobile-menu__btn--home btn-reset">
      </a>
    </li>
    <li class="mobile-menu__item">
      <button class="mobile-menu__btn mobile-menu__btn--search btn-reset">
      </button>
    </li>
    <li class="mobile-menu__item">
      <button class="mobile-menu__btn mobile-menu__btn--favorites btn-reset">
        <span class="favorites-btn__quantity">0</span>
      </button>
    </li>
    <li class="mobile-menu__item">
      <button class="mobile-menu__btn mobile-menu__btn--call btn-reset" data-form-id="call-btn-main-mob">

      </button>
    </li>
  </ul>
</div>
