<div class="modal modal-gallery gallery">
  <div
    class="modal__window gallery__window"
    style="background-color: transparent; border: none"
  >
    <div class="swiper gallery__slider">
      <div class="swiper-wrapper"></div>
      <div
        class="slider-control__btn slider-control__btn--dark btn--fill slider-control__btn--prev gallery__btn--prev"
      >
        <span></span>
      </div>
      <div
        class="slider-control__btn slider-control__btn--dark btn--fill slider-control__btn--next gallery__btn--next"
      >
        <span></span>
      </div>
    </div>
    <div class="swiper gallery__slider-mini">
      <div class="swiper-wrapper"></div>
    </div>
    <button class="modal__close btn-reset"></button>
  </div>
</div>
