<div class="modal modal-gallery gallery">
  <div class="modal__window gallery__window" style="background-color: transparent; border: none">
    <div class="swiper gallery__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="gallery__item">
            <img src="./img/gallery-01.jpg" alt="Photo of House">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="gallery__item">
            <img src="./img/gallery-01.jpg" alt="Photo of House">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="gallery__item">
            <img src="./img/gallery-01.jpg" alt="Photo of House">
          </div>
        </div>
      </div>
      <div class="slider-control__btn btn--fill slider-control__btn--prev gallery__btn--prev">
        <img src="./img/arrow.svg" alt="">
      </div>
      <div class="slider-control__btn btn--fill slider-control__btn--next gallery__btn--next">
        <img src="./img/arrow.svg" alt="">
      </div>
    </div>
    <div class="swiper gallery__slider-mini">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="gallery__item-mini">
            <img src="./img/gallery-01.jpg" alt="Photo of House">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="gallery__item-mini">
            <img src="./img/gallery-01.jpg" alt="Photo of House">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="gallery__item-mini">
            <img src="./img/gallery-01.jpg" alt="Photo of House">
          </div>
        </div>
      </div>
    </div>
    <button class="modal__close btn-reset"></button>
  </div>
</div>
