<div class="modal modal-form">
  <div class="modal__window--form ">
    <form class="cta__form form">
      <h4 class="form__title">Свяжитесь с нами</h4>
      <label class="form__label">
        <span>Имя</span>
        <input type="text" class="form__input">
      </label>
      <label class="form__label">
        <span>Телефон</span>
        <input type="phone" class="form__input">
      </label>
      <label class="form__label">
        <span>Комментарий</span>
        <input type="text" class="form__input">
      </label>
      <button class="btn btn--fill form__btn btn-reset" type="submit">Отправить</button>
      <p class="form__warning">
        Нажимая кнопку “Отправить”, вы принимаете условия <a href="#" class="form__privacy">Политики конфиденциальности</a>
      </p>
    </form>
    <button class="modal__close btn-reset form-close"></button>
  </div>
</div>
