<section class="office">
  <h3 class="subtitle centered office__subtitle container" data-aos="fade-up">Удобный офис и персональная парковка</h3>
  <h2 class="title centered office__title container" data-aos="fade-up">Добро пожаловаться к нам в TF House</h2>
  <div class="office__block">
    <address class="office__address address">
      <a class="address__tel mob-dis" href="tel:+78006007008" data-aos="fade-up">+7 800 600 7008</a>
      <a class="address__tel mob-dis" href="tel:+78006007008" data-aos="fade-up">Написать в WhatsApp</a>
      <a class="address__mail mob-dis" href="mailto:infohelf@tfhouse.com" data-aos="fade-up">infohelf@tfhouse.com</a>
      <span class="address__address" data-aos="fade-up">Санкт-Петербург
        ул.&nbsp;Савушкина, 104</span>
    </address>
    <button class="btn-reset btn btn--fill office__btn" data-aos="fade-up">Связаться с нами</button>
  </div>
  <div class="office__container-left">
    <div class="office__slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="office__img">
            <img src="./img/office-01.jpg" alt="office image 1">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="office__img">
            <img src="./img/office-02.jpg" alt="office image 2">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="office__img">
            <img src="./img/office-01.jpg" alt="office image 1">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="office__img">
            <img src="./img/office-02.jpg" alt="office image 2">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
