<section class="office">
  <div class="main-container">

    <h3 class="subtitle centered office__subtitle container" data-aos="custom-fade-up" data-aos-delay="300">
      Удобный офис и персональная парковка
    </h3>
    <h2 class="title centered office__title container" data-aos="custom-fade-up" data-aos-delay="300">
      Добро пожаловаться к нам в TF House
    </h2>
    <div class="office__row">
      <address class="office__address address">
        <a class="address__tel" href="tel:+78006007008" data-aos="custom-fade-up" data-aos-delay="300">+7 800 600
          7008</a>
        <a class="address__whatsapp" href="https://api.whatsapp.com/send?phone=78006007008" target="_blank"
          data-aos="custom-fade-up" data-aos-delay="300">Написать в WhatsApp</a>
        <a class="address__telega" href="tg://resolve?domain=username" target="_blank" data-aos="custom-fade-up"
          data-aos-delay="300">Написать в Telegram</a>
      </address>
      <address class="office__address address">
        <a class="address__mail" href="mailto:infohelf@tfhouse.com" data-aos="custom-fade-up" data-aos-delay="300"
          target="_blank">infohelf@tfhouse.com</a>
        <span class="address__address" data-aos="custom-fade-up" data-aos-delay="300">Санкт-Петербург
          ул.&nbsp;Савушкина, 104</span>
      </address>
    </div>
    <button class="btn-reset btn btn--fill office__btn" data-aos="custom-fade-up" data-aos-delay="300">
      Связаться с нами
    </button>
  </div>
  <div class="office__container-left">
    <div class="office__slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="office__img">
            <picture>
              <source srcset="" type="image/webp" media="(max-width: 1440px)" data-img-srcset="./img/office1.webp" />
              <source srcset="" type="image/webp" media="(min-width: 1440px)"
                data-img-srcset="./img/office1_2x.webp 2x" />
              <img src="" srcset="" alt="office image 1" data-img-src="./img/office1.jpg"
                data-img-srcset="./img/office1_2x.jpg 2x" />
            </picture>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="office__img">
            <picture>
              <source srcset="" type="image/webp" media="(max-width: 1440px)" data-img-srcset="./img/office2.webp" />
              <source srcset="" type="image/webp" media="(min-width: 1440px)"
                data-img-srcset="./img/office2_2x.webp 2x" />
              <img src="" srcset="" alt="office image 2" data-img-src="./img/office2.jpg"
                data-img-srcset="./img/office2_2x.jpg 2x" />
            </picture>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="office__img">
            <picture>
              <source srcset="" type="image/webp" media="(max-width: 1440px)" data-img-srcset="./img/office1.webp" />
              <source srcset="" type="image/webp" media="(min-width: 1440px)"
                data-img-srcset="./img/office1_2x.webp 2x" />
              <img src="" srcset="" alt="office image 1" data-img-src="./img/office1.jpg"
                data-img-srcset="./img/office1_2x.jpg 2x" />
            </picture>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="office__img">
            <picture>
              <source srcset="" type="image/webp" media="(max-width: 1440px)" data-img-srcset="./img/office2.webp" />
              <source srcset="" type="image/webp" media="(min-width: 1440px)"
                data-img-srcset="./img/office2_2x.webp 2x" />
              <img src="" srcset="" alt="office image 2" data-img-src="./img/office2.jpg"
                data-img-srcset="./img/office2_2x.jpg 2x" />
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>