<section class="others">
  <div class="main-container">
    <h2 class="title centered others__title">Другие проекты</h2>
    <ul>
      <li>
        <a href="#">Проекты финских домов со вторым светом</a>
      </li>
      <li>
        <a href="#">Проекты финских домов с балконом</a>
      </li>
      <li>
        <a href="#">Проекты финских домов с террасой</a>
      </li>
      <li>
        <a href="#">Проекты финских домов с 3 спальнями</a>
      </li>
      <li>
        <a href="#">Проекты финских домов с сауной</a>
      </li>
    </ul>
  </div>
</section>