<section class="popular">
  <h3 class="subtitle popular__subtitle container" data-aos="fade-up">
    популярные проекты
  </h3>
  <h2 class="title popular__title container" data-aos="fade-up">
    Тёплые и&nbsp;экологичные дома из&nbsp;клеёного бруса
  </h2>
  <div class="popular__container">
    <div class="popular__content popular-content">
      <div class="swiper slider-popular__content swiper-no-swiping">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div
              class="popular-content__item popular-card container"
              data-item-id="1"
            >
              <h3 class="popular-card__title">Vuotta</h3>
              <ul class="popular-card__list list-reset">
                <li class="popular-card__item popular-card__item--sq">
                  <span class="popular-card__figure">275</span
                  ><span>м<sup>2</sup></span>
                </li>
                <li class="popular-card__item popular-card__item--fl">
                  <span class="popular-card__figure">2</span><span>этажа</span>
                </li>
                <li class="popular-card__item popular-card__item--bed">
                  <span class="popular-card__figure">4</span
                  ><span>спальни</span>
                </li>
                <li class="popular-card__item popular-card__item--bath">
                  <span class="popular-card__figure">3</span
                  ><span>санузла</span>
                </li>
                <li class="popular-card__item popular-card__item--pl">
                  <span class="popular-card__figure">153</span
                  ><span>м<sup>2</sup></span>
                </li>
              </ul>
              <p class="popular-card__desc">
                Натуральные материалы и&nbsp;инновационные методы создания
                обеспечивают превосходное качество и&nbsp;долговечность этого
                жилья.
              </p>
              <div class="popular-card__row mob-dis">
                <a href="#" class="btn btn--fill slide__btn popular-card__more"
                  >Подробнее</a
                >
                <button
                  class="btn btn--like btn--like-dark btn--stroke btn-reset"
                >
                  <svg>
                    <use xlink:href="img/sprite.svg#like-icon"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div
              class="popular-content__item popular-card container"
              data-item-id="2"
            >
              <h3 class="popular-card__title">Nisalahti</h3>
              <ul class="popular-card__list list-reset">
                <li class="popular-card__item popular-card__item--sq">
                  <span class="popular-card__figure">275</span
                  ><span>м<sup>2</sup></span>
                </li>
                <li class="popular-card__item popular-card__item--fl">
                  <span class="popular-card__figure">2</span><span>этажа</span>
                </li>
                <li class="popular-card__item popular-card__item--bed">
                  <span class="popular-card__figure">4</span
                  ><span>спальни</span>
                </li>
                <li class="popular-card__item popular-card__item--bath">
                  <span class="popular-card__figure">3</span
                  ><span>санузла</span>
                </li>
                <li class="popular-card__item popular-card__item--pl">
                  <span class="popular-card__figure">153</span
                  ><span>м<sup>2</sup></span>
                </li>
              </ul>
              <p class="popular-card__desc">
                Натуральные материалы и&nbsp;инновационные методы создания
                обеспечивают превосходное качество и&nbsp;долговечность этого
                жилья.
              </p>
              <div class="popular-card__row mob-dis">
                <a href="#" class="btn btn--fill slide__btn popular-card__more"
                  >Подробнее</a
                >
                <button
                  class="btn btn--like btn--like-dark btn--stroke btn-reset"
                >
                  <svg>
                    <use xlink:href="img/sprite.svg#like-icon"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div
          class="slider-control__btn slider-control__btn--dark slider-control__btn--prev mob-dis popular-slider-btn--prev"
        >
          <span></span>
        </div>
        <div
          class="slider-control__btn slider-control__btn--dark slider-control__btn--next mob-dis popular-slider-btn--next"
        >
          <span></span>
        </div>
      </div>
    </div>
    <div class="popular__images">
      <div class="swiper slider-popular__images">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="#" class="popular__img">
              <picture>
                <source
                  srcset=""
                  data-item-id="1"
                  data-img-srcset="./img/popular.webp"
                  type="image/webp"
                  media="(max-width: 1440px)"
                />
                <source
                  srcset=""
                  data-item-id="1"
                  data-img-srcset="./img/popular_2x.webp 2x"
                  type="image/webp"
                  media="(min-width: 1440px)"
                />
                <source
                  srcset=""
                  data-item-id="1"
                  data-img-srcset="./img/popular_3x.webp 3x"
                  type="image/webp"
                  media="(min-width: 2560px)"
                />
                <img
                  src=""
                  alt="card1"
                  data-img-src="./img/popular.jpg"
                  data-img-srcset="./img/popular_2x.jpg 2x, ./img/popular_3x.jpg 3x"
                  data-item-id="1"
                />
              </picture>
            </a>
            <div class="popular-mob__controls">
              <div class="popular-card__row">
                <a href="#" class="btn btn--fill slide__btn popular-card__more"
                  >Подробнее</a
                >
                <button class="btn btn--like btn--like btn--stroke btn-reset">
                  <svg>
                    <use xlink:href="img/sprite.svg#like-icon"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <a href="#" class="popular__img">
              <picture>
                <source
                  srcset=""
                  type="image/webp"
                  data-item-id="2"
                  data-img-srcset="./img/hero/hero1-2x.webp"
                />
                <img
                  src=""
                  alt="card2"
                  data-item-id="2"
                  data-img-src="./img/hero/hero1-2x.jpeg"
                />
              </picture>
            </a>
            <div class="popular-mob__controls">
              <div class="popular-card__row">
                <a href="#" class="btn btn--fill slide__btn popular-card__more"
                  >Подробнее</a
                >
                <button class="btn btn--like btn--like btn--stroke btn-reset">
                  <svg>
                    <use xlink:href="img/sprite.svg#like-icon"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="slider-control__btn slider-control__btn--prev popular-slider__btn--mob popular-slider-btn--prev desc-dis"
      >
        <span></span>
      </div>
      <div
        class="slider-control__btn slider-control__btn--next popular-slider__btn--mob popular-slider-btn--next desc-dis"
      >
        <span></span>
      </div>
    </div>
  </div>
  <a href="#" class="btn btn--fill">Подобрать проект</a>
</section>
