<section class="popular">
  <h3 class="subtitle popular__subtitle" data-aos="fade-up">
    популярные проекты
  </h3>
  <h2 class="title popular__title" data-aos="fade-up">
    Тёплые и&nbsp;экологичные дома из&nbsp;клеёного бруса
  </h2>
  <div class="popular__container">
    <div class="popular__content popular-content">
      <div class="swiper slider-popular__content swiper-no-swiping">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="popular-content__item popular-card container">
              <h3 class="popular-card__title">Vuotta</h3>
              <ul class="popular-card__list list-reset">
                <li class="popular-card__item popular-card__item--sq">
                  275 <span>м<sup>2</sup></span>
                </li>
                <li class="popular-card__item popular-card__item--fl">
                  2<span>этажа</span>
                </li>
                <li class="popular-card__item popular-card__item--bed">
                  4<span>спальни</span>
                </li>
                <li class="popular-card__item popular-card__item--bath">
                  3<span>санузла</span>
                </li>
                <li class="popular-card__item popular-card__item--pl">
                  153<span>м<sup>2</sup></span>
                </li>
              </ul>
              <p class="popular-card__desc">
                Натуральные материалы и&nbsp;инновационные методы создания
                обеспечивают превосходное качество и&nbsp;долговечность этого
                жилья.
              </p>
              <div class="popular-card__row mob-dis">
                <a href="#" class="btn btn--fill slide__btn">Подробнее</a>
                <button
                  class="btn btn--like btn--like-dark btn--stroke btn-reset"
                >
                  <svg>
                    <use xlink:href="img/sprite.svg#like-icon"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="popular-content__item popular-card container">
              <h3 class="popular-card__title">Nisalahti</h3>
              <ul class="popular-card__list list-reset">
                <li class="popular-card__item popular-card__item--sq">
                  275 <span>м<sup>2</sup></span>
                </li>
                <li class="popular-card__item popular-card__item--fl">
                  2<span>этажа</span>
                </li>
                <li class="popular-card__item popular-card__item--bed">
                  4<span>спальни</span>
                </li>
                <li class="popular-card__item popular-card__item--bath">
                  3<span>санузла</span>
                </li>
                <li class="popular-card__item popular-card__item--pl">
                  153<span>м<sup>2</sup></span>
                </li>
              </ul>
              <p class="popular-card__desc">
                Натуральные материалы и&nbsp;инновационные методы создания
                обеспечивают превосходное качество и&nbsp;долговечность этого
                жилья.
              </p>
              <div class="popular-card__row mob-dis">
                <a href="#" class="btn btn--fill slide__btn">Подробнее</a>
                <button
                  class="btn btn--like btn--like-dark btn--stroke btn-reset"
                >
                  <svg>
                    <use xlink:href="img/sprite.svg#like-icon"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div
          class="slider-control__btn slider-control__btn--dark slider-control__btn--prev mob-dis popular-slider-btn--prev"
        >
          <span></span>
        </div>
        <div
          class="slider-control__btn slider-control__btn--dark slider-control__btn--next mob-dis popular-slider-btn--next"
        >
          <span></span>
        </div>
      </div>
    </div>
    <div class="popular__images">
      <div class="swiper slider-popular__images">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="#" class="popular__img">
              <img
                src="./img/card-01.jpg"
                srcset="./img/card-01-2x.jpg"
                alt=""
              />
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#" class="popular__img">
              <img src="./img/hero-bg-1.jpg" alt="" />
            </a>
          </div>
        </div>
        <div
          class="slider-control__btn slider-control__btn--prev popular-slider__btn--mob popular-slider-btn--prev"
        >
          <span></span>
        </div>
        <div
          class="slider-control__btn slider-control__btn--next popular-slider__btn--mob popular-slider-btn--next"
        >
          <span></span>
        </div>
      </div>
      <div class="popular-mob__controls">
        <div class="popular-card__row">
          <a href="#" class="btn btn--fill slide__btn">Подробнее</a>
          <button class="btn btn--like btn--like btn--stroke btn-reset">
            <svg>
              <use xlink:href="img/sprite.svg#like-icon"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
  <a href="#" class="btn btn--fill">Подобрать проект</a>
</section>
