<section class="projects-section">
  <h2 class="title projects-section centered" data-aos="fade-up">Проекты и цены</h2>
  <div class="projects-section__container">
    <article class="projects-section__card projects-card">
      <img class="projects-card__img" src="./img/projectss/01.jpg" srcset="./img/projects/01_2x.jpg" alt="Card">
      <div class="projects-card__info">
        <h3 class="projects-card__title">VALTONEN</h3>
        <div class="projects-card__details">
          <ul class="projects-card__list popular-card__list list-reset">
            <li class="projects-card__item popular-card__item projects-card__item--sq">
              400 <span>м<sup>2</sup></span>
            </li>
            <li class="projects-card__item popular-card__item projects-card__item--fl">
              2<span>этажа</span>
            </li>
            <li class="projects-card__item popular-card__item projects-card__item--bed">
              4<span>спальни</span>
            </li>
            <li class="projects-card__item popular-card__item projects-card__item--bath">
              3<span>санузла</span>
            </li>
            <li class="projects-card__item popular-card__item projects-card__item--pl">
              72<span>м<sup>2</sup></span>
            </li>
          </ul>
          <a href="#" class="projects-card__more">Подробнее</a>
        </div>
      </div>
      <button class="projects-card__btn btn btn--like btn--stroke btn-reset">
        <svg>
          <use xlink:href="img/sprite.svg#like-icon"></use>
        </svg>
      </button>
    </article>
    <article class="projects-section__card projects-card">
      <img class="projects-card__img" src="./img/projectss/02.jpg" srcset="./img/projects/02_2x.jpg" alt="Card">
      <div class="projects-card__info">
        <h3 class="projects-card__title">Название проекта</h3>
        <div class="projects-card__details">
          <ul class="projects-card__list popular-card__list list-reset">
            <li class="projects-card__item popular-card__item projects-card__item--sq">
              400 <span>м<sup>2</sup></span>
            </li>
            <li class="projects-card__item popular-card__item projects-card__item--fl">
              2<span>этажа</span>
            </li>
            <li class="projects-card__item popular-card__item projects-card__item--bed">
              4<span>спальни</span>
            </li>
            <li class="projects-card__item popular-card__item projects-card__item--bath">
              3<span>санузла</span>
            </li>
            <li class="projects-card__item popular-card__item projects-card__item--pl">
              72<span>м<sup>2</sup></span>
            </li>
          </ul>
          <a href="#" class="projects-card__more">Подробнее</a>
        </div>
      </div>
      <button class="projects-card__btn btn btn--like btn--stroke btn-reset">
        <svg>
          <use xlink:href="img/sprite.svg#like-icon"></use>
        </svg>
      </button>
    </article>
    <article class="projects-section__card projects-card">
      <img class="projects-card__img" src="./img/projectss/03.jpg" srcset="./img/projects/03_2x.jpg" alt="Card">
      <div class="projects-card__info">
        <h3 class="projects-card__title">Великан</h3>
        <div class="projects-card__details">
          <ul class="projects-card__list popular-card__list list-reset">
            <li class="projects-card__item popular-card__item projects-card__item--sq">
              400 <span>м<sup>2</sup></span>
            </li>
            <li class="projects-card__item popular-card__item projects-card__item--fl">
              2<span>этажа</span>
            </li>
            <li class="projects-card__item popular-card__item projects-card__item--bed">
              4<span>спальни</span>
            </li>
            <li class="projects-card__item popular-card__item projects-card__item--bath">
              3<span>санузла</span>
            </li>
            <li class="projects-card__item popular-card__item projects-card__item--pl">
              72<span>м<sup>2</sup></span>
            </li>
          </ul>
          <a href="#" class="projects-card__more">Подробнее</a>
        </div>
      </div>
      <button class="projects-card__btn btn btn--like btn--stroke btn-reset">
        <svg>
          <use xlink:href="img/sprite.svg#like-icon"></use>
        </svg>
      </button>
    </article>
    <article class="projects-section__card projects-card">
      <img class="projects-card__img" src="./img/projectss/04.jpg" srcset="./img/projects/04_2x.jpg" alt="Card">
      <div class="projects-card__info">
        <h3 class="projects-card__title">Лофт Хаус</h3>
        <div class="projects-card__details">
          <ul class="projects-card__list popular-card__list list-reset">
            <li class="projects-card__item popular-card__item projects-card__item--sq">
              400 <span>м<sup>2</sup></span>
            </li>
            <li class="projects-card__item popular-card__item projects-card__item--fl">
              2<span>этажа</span>
            </li>
            <li class="projects-card__item popular-card__item projects-card__item--bed">
              4<span>спальни</span>
            </li>
            <li class="projects-card__item popular-card__item projects-card__item--bath">
              3<span>санузла</span>
            </li>
            <li class="projects-card__item popular-card__item projects-card__item--pl">
              72<span>м<sup>2</sup></span>
            </li>
          </ul>
          <a href="#" class="projects-card__more">Подробнее</a>
        </div>
      </div>
      <button class="projects-card__btn btn btn--like btn--stroke btn-reset">
        <svg>
          <use xlink:href="img/sprite.svg#like-icon"></use>
        </svg>
      </button>
    </article>
  </div>
  <a href="#" class="btn btn--fill">все проекты</a>
</section>
