<div class="responsibility">
  <div class="responsibility__container">
    <h2 class="title centered responsibility__title">
      Когда одна компания несёт ответственность за&nbsp;результат
    </h2>
    <div class="responsibility__items">
      <div class="responsibility__item responsibility__item--1">
        <div class="res">
          <div class="res__left">
            <svg height="365" width="365" class="circle-img">
              <circle
                class="progress-bg"
                cx="180"
                cy="180"
                r="178"
                stroke="black"
                stroke-width="1"
                fill="none"
              />
              <circle
                class="progress"
                cx="180"
                cy="180"
                r="178"
                stroke="orange"
                stroke-width="3"
                fill="none"
                data-percents="25"
              />
            </svg>
            <div class="res__info">
              <span>1</span>
              <div class="slider-control__btn res__btn">
                <img src="./img/arrow-dark.svg" alt="&RightArrow;" />
              </div>
            </div>
          </div>
          <div class="res__right">
            <h4>Фиксированные затраты <span>согласно смете</span></h4>
          </div>
        </div>
      </div>
      <div class="responsibility__item responsibility__item--2">
        <div class="res">
          <div class="res__left">
            <svg height="365" width="365" class="circle-img">
              <circle
                class="progress-bg"
                cx="180"
                cy="180"
                r="178"
                stroke="black"
                stroke-width="1"
                fill="none"
              />
              <circle
                class="progress"
                cx="180"
                cy="180"
                r="178"
                stroke="orange"
                stroke-width="3"
                fill="none"
                data-percents="50"
              />
            </svg>
            <div class="res__info">
              <span>2</span>
              <div class="slider-control__btn res__btn">
                <img src="./img/arrow-dark.svg" alt="&RightArrow;" />
              </div>
            </div>
          </div>
          <div class="res__right">
            <h4>Минимизация<span>сопутствующих затрат</span></h4>
          </div>
        </div>
      </div>
      <div class="responsibility__item responsibility__item--3">
        <div class="res">
          <div class="res__left">
            <svg height="365" width="365" class="circle-img">
              <circle
                class="progress-bg"
                cx="180"
                cy="180"
                r="178"
                stroke="black"
                stroke-width="1"
                fill="none"
              />
              <circle
                class="progress"
                cx="180"
                cy="180"
                r="178"
                stroke="orange"
                stroke-width="3"
                fill="none"
                data-percents="75"
              />
            </svg>
            <div class="res__info">
              <span>3</span>
              <div class="slider-control__btn res__btn">
                <img src="./img/arrow-dark.svg" alt="&RightArrow;" />
              </div>
            </div>
          </div>
          <div class="res__right">
            <h4>Полная гарантия, включая<span> субподрядные работы</span></h4>
          </div>
        </div>
      </div>
      <div class="responsibility__item responsibility__item--4">
        <div class="res">
          <div class="res__left">
            <svg height="365" width="365" class="circle-img">
              <circle
                class="progress-bg"
                cx="180"
                cy="180"
                r="178"
                stroke="black"
                stroke-width="1"
                fill="none"
              />
              <circle
                class="progress"
                cx="180"
                cy="180"
                r="178"
                stroke="orange"
                stroke-width="3"
                fill="none"
                data-percents="100"
              />
            </svg>
            <div class="res__info">
              <span>4</span>
              <div class="slider-control__btn res__btn">
                <img src="./img/arrow-dark.svg" alt="&RightArrow;" />
              </div>
            </div>
          </div>
          <div class="res__right">
            <h4>Сроки и неустойки <span>прописаны в договоре</span></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
