<div class="responsibility">
  <div class="responsibility__wrapper">

    <h2 class="title centered responsibility__title container" data-aos="custom-fade-up">
      Когда одна компания несёт ответственность за&nbsp;результат
    </h2>
    <div class="responsibility__items swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="res">
            <div class="res__left">
              <svg class="circle-img">
                <circle class="progress-bg" cx="50%" cy="50%" r="50%" stroke="black" stroke-width="1" fill="none" />
              </svg>
              <div class="circle-img__wrapper">
                <svg class="circle-img">
                  <circle class="progress" cx="50%" cy="50%" r="50%" stroke="orange" stroke-width="3" fill="none"
                    data-percents="25" />
                </svg>
              </div>
              <div class="res__title">
                <h3 class="res__figure">1</h3>
                <div class="slider-control__btn slider-control__btn--dark slider-control__btn--next res-control-btn">
                  <span></span>
                </div>
              </div>
            </div>
            <div class="res__right">
              <p class="res__info" data-aos="custom-fade-up">
                Фиксированные затраты <span data-aos="custom-fade-up" data-aos-delay="200">согласно смете</span>
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="res">
            <div class="res__left">
              <svg class="circle-img">
                <circle class="progress-bg" cx="50%" cy="50%" r="50%" stroke="black" stroke-width="1" fill="none" />
              </svg>
              <div class="circle-img__wrapper">
                <svg class="circle-img">
                  <circle class="progress" cx="50%" cy="50%" r="50%" stroke="orange" stroke-width="3" fill="none"
                    data-percents="50" />
                </svg>
              </div>
              <div class="res__title">
                <h3 class="res__figure">2</h3>
                <div class="slider-control__btn slider-control__btn--dark slider-control__btn--next res-control-btn">
                  <span></span>
                </div>
              </div>
            </div>
            <div class="res__right">
              <p class="res__info">
                Минимизация <span>сопутствующих затрат</span>
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="res">
            <div class="res__left">
              <svg class="circle-img">
                <circle class="progress-bg" cx="50%" cy="50%" r="50%" stroke="black" stroke-width="1" fill="none" />
              </svg>
              <div class="circle-img__wrapper">
                <svg class="circle-img">
                  <circle class="progress" cx="50%" cy="50%" r="50%" stroke="orange" stroke-width="3" fill="none"
                    data-percents="75" />
                </svg>
              </div>
              <div class="res__title">
                <h3 class="res__figure">3</h3>
                <div class="slider-control__btn slider-control__btn--dark slider-control__btn--next res-control-btn">
                  <span></span>
                </div>
              </div>
            </div>
            <div class="res__right">
              <p class="res__info">
                Полная гарантия, включая <span>субподрядные работы</span>
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="res">
            <div class="res__left">
              <svg class="circle-img">
                <circle class="progress-bg" cx="50%" cy="50%" r="50%" stroke="black" stroke-width="1" fill="none" />
              </svg>
              <div class="circle-img__wrapper">
                <svg class="circle-img">
                  <circle class="progress" cx="50%" cy="50%" r="50%" stroke="orange" stroke-width="3" fill="none"
                    data-percents="100" />
                </svg>
              </div>
              <div class="res__title">
                <h3 class="res__figure">4</h3>
                <div class="slider-control__btn slider-control__btn--dark slider-control__btn--next res-control-btn">
                  <span></span>
                </div>
              </div>
            </div>
            <div class="res__right">
              <p class="res__info">
                Сроки и неустойки <span>прописаны в договоре</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="responsibility__trigger responsibility__trigger--1"></div>
    <div class="responsibility__trigger responsibility__trigger--2"></div>
    <div class="responsibility__trigger responsibility__trigger--3"></div>
    <div class="responsibility__trigger responsibility__trigger--4"></div>
    <div class="responsibility__trigger responsibility__trigger--5"></div>
    <div class="responsibility__line responsibility__line--0" data-res-line="1"></div>
    <div class="responsibility__line responsibility__line--1" data-res-line="2"></div>
    <div class="responsibility__line responsibility__line--2" data-res-line="3"></div>
    <div class="responsibility__line responsibility__line--3" data-res-line="4"></div>
  </div>
</div>