<div class="responsibility">
  <div class="responsibility__container">
    <h2 class="title centered responsibility__title">
      Когда одна компания несёт ответственность за&nbsp;результатn
    </h2>
    <div class="responsibility__items swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="res">
            <div class="res__left">
              <svg  class="circle-img">
                <circle
                  class="progress-bg"
                  
                  stroke="black"
                  stroke-width="1"
                  fill="none"
                />
                <circle
                  class="progress"

                  stroke="orange"
                  stroke-width="3"
                  fill="none"
                  data-percents="25"
                />
              </svg>
              <div class="res__title">
                <h3 class="res__figure">1</h3>
                <div
                  class="slider-control__btn slider-control__btn--dark slider-control__btn--next res-control-btn"
                >
                  <span></span>
                </div>
              </div>
            </div>
            <div class="res__right">
              <p class="res__info">
                Фиксированные затраты <span>согласно смете</span>
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="res">
            <div class="res__left">
              <svg
                height="362"
                width="362"
                class="circle-img"
                style="overflow: visible"
              >
                <circle
                  class="progress-bg"

                  stroke="black"
                  stroke-width="1"
                  fill="none"
                />
                <circle
                  class="progress"

                  stroke="orange"
                  stroke-width="3"
                  fill="none"
                  data-percents="50"
                />
              </svg>
              <div class="res__title">
                <h3 class="res__figure">2</h3>
                <div
                  class="slider-control__btn slider-control__btn--dark slider-control__btn--next res-control-btn"
                >
                  <span></span>
                </div>
              </div>
            </div>
            <div class="res__right">
              <p class="res__info">
                Минимизация <span>сопутствующих затрат</span>
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="res">
            <div class="res__left">
              <svg  class="circle-img">
                <circle
                  class="progress-bg"

                  stroke="black"
                  stroke-width="1"
                  fill="none"
                />
                <circle
                  class="progress"

                  stroke="orange"
                  stroke-width="3"
                  fill="none"
                  data-percents="75"
                />
              </svg>
              <div class="res__title">
                <h3 class="res__figure">3</h3>
                <div
                  class="slider-control__btn slider-control__btn--dark slider-control__btn--next res-control-btn"
                >
                  <span></span>
                </div>
              </div>
            </div>
            <div class="res__right">
              <p class="res__info">
                Полная гарантия, включая <span>субподрядные работы</span>
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="res">
            <div class="res__left">
              <svg  class="circle-img">
                <circle
                  class="progress-bg"

                  stroke="black"
                  stroke-width="1"
                  fill="none"
                />
                <circle
                  class="progress"

                  stroke="orange"
                  stroke-width="3"
                  fill="none"
                  data-percents="100"
                />
              </svg>
              <div class="res__title">
                <h3 class="res__figure">4</h3>
                <div
                  class="slider-control__btn slider-control__btn--dark slider-control__btn--next res-control-btn"
                >
                  <span></span>
                </div>
              </div>
            </div>
            <div class="res__right">
              <p class="res__info">
                Сроки и неустойки <span>прописаны в договоре</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
