<section class="services-section">
  <h2 class="title services-section__title container">
    Сложное&nbsp;&mdash; это тысяча маленьких шагов, сделанных професионалами
  </h2>
  <div class="services-section__container">
    <div class="services-section__image">
      <picture>
        <source srcset="./img/services/services-ph.webp">
        <img
          src="./img/services/services-ph.jpg"
          srcset="
            ./img/services/services-ph-2x.jpg 2x,
            ./img/services/services-ph-3x.jpg 3x
          "
          alt="Services ph"
        />
      </picture>
    </div>
    <div
      class="services-section__right container services-section-right__container"
    >
      <div class="services-section__line"></div>
      <ul class="services-section__list list-reset">
        <li class="services-section__item">
          <h4 class="services-section__text">
            Выбор или разработка проекта под <span>ваши запросы</span>
          </h4>
        </li>
        <li class="services-section__item">
          <h4 class="services-section__text">
            Согласование сметы и графика <span>производства работ</span>
          </h4>
        </li>
        <li class="services-section__item">
          <h4 class="services-section__text">
            Производство индивидуального <span>домокомплекта</span>
          </h4>
        </li>
        <li class="services-section__item">
          <h4 class="services-section__text">
            Подготовка участка <span>к строительству</span>
          </h4>
        </li>
        <li class="services-section__item">
          <h4 class="services-section__text">Доставка и <span>сборка</span></h4>
        </li>
        <li class="services-section__item">
          <h4 class="services-section__text">Инженерные <span>работы</span></h4>
        </li>
        <li class="services-section__item">
          <h4 class="services-section__text">Дизайн <span>и отделка</span></h4>
        </li>
        <li class="services-section__item">
          <h4 class="services-section__text">
            Сдача и гарантия <span>технического соответствия</span>
          </h4>
        </li>
        <li class="services-section__item">
          <h4 class="services-section__text">
            Ландшафтные <span>работы</span>
          </h4>
        </li>
      </ul>
    </div>
  </div>
</section>
