<section class="similar">
  <div class="main-container">
    <h3 class="subtitle similar__subtitle">Смотрите также</h3>
    <h2 class="title similar__title">Похожие дома</h2>

    <div class="similar__container">
      <article class="projects-section__card projects-card">
        <picture>
          <source srcset="" data-img-srcset="./img/projects2/projects1.webp" type="image/webp"
            media="(max-width: 1440px)" />
          <source srcset="" data-img-srcset="./img/projects2/projects1_2x.webp 2x" type="image/webp"
            media="(min-width: 1440px)" />
          <img class="projects-card__img" src="" srcset="" alt="Card" data-img-src="./img/projects2/projects1.jpg"
            data-img-srcset="./img/projects2/projects1_2x.jpg 2x" />
        </picture>
        <div class="projects-card__info">
          <h3 class="projects-card__title">VALTONEN</h3>
          <div class="projects-card__details">
            <ul class="projects-card__list popular-card__list list-reset">
              <li class="projects-card__item popular-card__item projects-card__item--sq">
                <span class="projects-card__figure">400</span><span>м<sup>2</sup></span>
              </li>
              <li class="projects-card__item popular-card__item projects-card__item--fl">
                <span class="projects-card__figure">2</span><span>этажа</span>
              </li>
              <li class="projects-card__item popular-card__item projects-card__item--bed">
                <span class="projects-card__figure">4</span><span>спальни</span>
              </li>
              <li class="projects-card__item popular-card__item projects-card__item--bath">
                <span class="projects-card__figure">3</span><span>санузла</span>
              </li>
              <li class="projects-card__item popular-card__item projects-card__item--pl">
                <span class="projects-card__figure">72</span><span>м<sup>2</sup></span>
              </li>
            </ul>
            <a href="#" class="projects-card__more">Подробнее</a>
          </div>
        </div>
        <button class="projects-card__btn btn btn--like btn--stroke btn-reset">
          <svg>
            <use xlink:href="img/sprite.svg#like-icon"></use>
          </svg>
        </button>
      </article>
      <article class="projects-section__card projects-card">
        <picture>
          <source srcset="" data-img-srcset="./img/projects2/projects2.webp" type="image/webp"
            media="(max-width: 1440px)" />
          <source srcset="" data-img-srcset="./img//projects2/projects2_2x.webp 2x" type="image/webp"
            media="(min-width: 1440px)" />
          <img class="projects-card__img" src="" srcset="" alt="Project 2." data-img-src="./img/projects2/projects2.jpg"
            data-img-srcset="./img/projects2/projects2_2x.jpg 2x" />
        </picture>
        <div class="projects-card__info">
          <h3 class="projects-card__title">Название проекта</h3>
          <div class="projects-card__details">
            <ul class="projects-card__list popular-card__list list-reset">
              <li class="projects-card__item popular-card__item projects-card__item--sq">
                <span class="projects-card__figure">400</span><span>м<sup>2</sup></span>
              </li>
              <li class="projects-card__item popular-card__item projects-card__item--fl">
                <span class="projects-card__figure">2</span><span>этажа</span>
              </li>
              <li class="projects-card__item popular-card__item projects-card__item--bed">
                <span class="projects-card__figure">4</span><span>спальни</span>
              </li>
              <li class="projects-card__item popular-card__item projects-card__item--bath">
                <span class="projects-card__figure">3</span><span>санузла</span>
              </li>
              <li class="projects-card__item popular-card__item projects-card__item--pl">
                <span class="projects-card__figure">72</span><span>м<sup>2</sup></span>
              </li>
            </ul>
            <a href="#" class="projects-card__more">Подробнее</a>
          </div>
        </div>
        <button class="projects-card__btn btn btn--like btn--stroke btn-reset">
          <svg>
            <use xlink:href="img/sprite.svg#like-icon"></use>
          </svg>
        </button>
      </article>
      <article class="projects-section__card projects-card">
        <picture>
          <source srcset="" data-img-srcset="./img/projects2/projects3.webp" type="image/webp"
            media="(max-width: 1440px)" />
          <source srcset="" data-img-srcset="./img/projects2/projects3_2x.webp 2x" type="image/webp"
            media="(min-width: 1440px)" />
          <img class="projects-card__img" src="" srcset="" alt="Card" data-img-src="./img/projects2/projects3.jpg"
            data-img-srcset="./img/projects2/projects3_2x.jpg 2x" />
        </picture>
        <div class="projects-card__info">
          <h3 class="projects-card__title">Великан</h3>
          <div class="projects-card__details">
            <ul class="projects-card__list popular-card__list list-reset">
              <li class="projects-card__item popular-card__item projects-card__item--sq">
                <span class="projects-card__figure">400</span><span>м<sup>2</sup></span>
              </li>
              <li class="projects-card__item popular-card__item projects-card__item--fl">
                <span class="projects-card__figure">2</span><span>этажа</span>
              </li>
              <li class="projects-card__item popular-card__item projects-card__item--bed">
                <span class="projects-card__figure">4</span><span>спальни</span>
              </li>
              <li class="projects-card__item popular-card__item projects-card__item--bath">
                <span class="projects-card__figure">3</span><span>санузла</span>
              </li>
              <li class="projects-card__item popular-card__item projects-card__item--pl">
                <span class="projects-card__figure">72</span><span>м<sup>2</sup></span>
              </li>
            </ul>
            <a href="#" class="projects-card__more">Подробнее</a>
          </div>
        </div>
        <button class="projects-card__btn btn btn--like btn--stroke btn-reset">
          <svg>
            <use xlink:href="img/sprite.svg#like-icon"></use>
          </svg>
        </button>
      </article>
      <article class="projects-section__card projects-card">
        <picture>
          <source srcset="" type="image/webp" data-img-srcset="./img/projects2/projects4.webp"
            media="(max-width: 1440px)" />
          <source srcset="" type="image/webp" data-img-srcset="./img/projects2/projects4_2x.webp 2x"
            media="(min-width: 1440px)" />
          <img class="projects-card__img" src="" alt="Card" data-img-src="./img/projects2/projects4.jpg"
            data-img-srcset="./img/projects2/projects4_2x.jpg 2x" />
        </picture>
        <div class="projects-card__info">
          <h3 class="projects-card__title">Лофт Хаус</h3>
          <div class="projects-card__details">
            <ul class="projects-card__list popular-card__list list-reset">
              <li class="projects-card__item popular-card__item projects-card__item--sq">
                <span class="projects-card__figure">400</span><span>м<sup>2</sup></span>
              </li>
              <li class="projects-card__item popular-card__item projects-card__item--fl">
                <span class="projects-card__figure">2</span><span>этажа</span>
              </li>
              <li class="projects-card__item popular-card__item projects-card__item--bed">
                <span class="projects-card__figure">4</span><span>спальни</span>
              </li>
              <li class="projects-card__item popular-card__item projects-card__item--bath">
                <span class="projects-card__figure">3</span><span>санузла</span>
              </li>
              <li class="projects-card__item popular-card__item projects-card__item--pl">
                <span class="projects-card__figure">72</span><span>м<sup>2</sup></span>
              </li>
            </ul>
            <a href="#" class="projects-card__more">Подробнее</a>
          </div>
        </div>
        <button class="projects-card__btn btn btn--like btn--stroke btn-reset">
          <svg>
            <use xlink:href="img/sprite.svg#like-icon"></use>
          </svg>
        </button>
      </article>
    </div>
  </div>
</section>