<section class="tech">
  <h2 class="title centered tech__title">Технологии строительства</h2>
  <div class="tech__container">
    <div class="tech__text">
      <a href="#" style="align-self: flex-start;">
        <span class="tech__paragraph tech__paragraph--right">
          <span>клееный бруc</span>
          <span>клееный бруc</span>
          <span>клееный бруc</span>
          <span>клееный бруc</span>
          <span>клееный бруc</span>
          <span>клееный бруc</span>
          <span>клееный бруc</span>
          <span>клееный бруc</span>
          <span>клееный бруc</span>
          <span>клееный бруc</span>
          <span>клееный бруc</span>
          <span>клееный бруc</span>
        </span>
        <div class="tech__img tech__img--1"></div>
      </a>
    </div>
    <div class="tech__text">
      <a href="#" style="align-self: flex-end;">
        <span class="tech__paragraph tech__paragraph--left">
          <span>каркаc+бруc</span>
          <span>каркаc+бруc</span>
          <span>каркаc+бруc</span>
          <span>каркаc+бруc</span>
          <span>каркаc+бруc</span>
          <span>каркаc+бруc</span>
          <span>каркаc+бруc</span>
          <span>каркаc+бруc</span>
          <span>каркаc+бруc</span>
        </span>
        <div class="tech__img tech__img--2"></div>
      </a>
    </div>
  </div>

</section>