<section class="timber-main">
  <div class="main-container">
    <div class="breadcrumbs design-section__breadcrumbs">
      <ul>
        <li>
          <a href="./index.html">Главная</a>
        </li>
        <li>
          <a href="./tech-gen.html">Технологии</a>
        </li>
        <li>
          <a>Клееный брус</a>
        </li>
      </ul>
    </div>
    <div class="timber-main__header">
      <h1>Клееный брус</h1>
      <h4>finnlamelli</h4>
      <p>Энергоэффективные, экологичные и безопасные дома создаются нами, по современным финским технологиям,
        уже более 15 лет по опыту партнёров FINNLAMELLI</p>
    </div>
    <div class="timber-main__content timber-main__content--main">
      <div class="timber-main__items">
        <div class="timber-item__images">
          <div class="timber-item__image">
            <picture>
              <source srcset="./img/timber/01-2x.webp" media="(min-width: 1921px)">
              <source srcset="./img/timber/01.webp">
              <img src="./img/timber/01.png" srcset="./img/timber/01-2x.png" alt="">
            </picture>
          </div>
          <div class="timber-item__image">
            <picture>
              <source srcset="./img/timber/02-2x.webp" media="(min-width: 1921px)">
              <source srcset="./img/timber/02.webp">
              <img src="./img/timber/02.png" srcset="./img/timber/02-2x.png" alt="">
            </picture>
          </div>
          <div class="timber-item__image">
            <picture>
              <source srcset="./img/timber/03-2x.webp" media="(min-width: 1921px)">
              <source srcset="./img/timber/03.webp">
              <img src="./img/timber/03.png" srcset="./img/timber/03-2x.png" alt="">
            </picture>
          </div>
        </div>
        <div class="timber-item__content">
          <!-- обертка -->
          <div class="timber-item__text-wrap">
            <div class="timber-item__text">
              <div>
                <h4>Энергоэффективность</h4>
                <p>Полная герметичность соединений конструкций изолирует теплопотери, а плотные деревянные стены
                  из бруса
                  накапливают энергию солнечного света в любое время года</p>
              </div>
            </div>
            <div class="timber-item__text">
              <div>
                <h4>Экологичность</h4>
                <p>Клеёная древесина сосны и ели — натуральный и экологически чистый продукт. Наш завод использует
                  только
                  клеевые системы Akzo Nobel и каждое изделие имеет сертификат качества</p>
              </div>
            </div>
            <div class="timber-item__text">
              <div>
                <h4>Безопасность</h4>
                <ul>
                  <li>Прочные идолговечные</li>
                  <li>Не подвержены трещинам и деформации</li>
                  <li>Огнестойкие и не теряют несущие касества при воздействии огня</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <section class="timber-ready">
      <div>
        <h2>
          Готовьтесь к скорому переезду в новый дом из клееного бруса
        </h2>
        <ul>
          <li>Высокая скорость возведения</li>
          <li>Не требует усадки</li>
          <li>Нет необходимости в сложной отделке</li>
          <li>Высокие эстетические качества бруса можно дополнить сложной архитектурой</li>
        </ul>
      </div>
    </section>
    <div class="timber-item__text--mob">
      <div>
        <p>Помимо качественного клеёного бруса, наружных стен и внутренних перегородок, при строительстве дома,
          мы внедряем <span>финские технологии строительства и сборки деревянных домов</span></p>
      </div>
    </div>

    <div class="timber-main__content timber-main__content--sec">
      <div class="timber-main__items">
        <div class="timber-item__images">
          <div class="timber-item__image timber-item__image--1">
            <picture>
              <source srcset="./img/timber/04-2x.webp" media="(min-width: 1440px)">
              <source srcset="./img/timber/04.webp">
              <img src="./img/timber/04.png" srcset="./img/timber/04-2x.png" alt="">
            </picture>
          </div>
          <div class="timber-item__image">
            <picture>
              <source srcset="./img/timber/05-2x.webp" media="(min-width: 1440px)">
              <source srcset="./img/timber/05.webp">
              <img src="./img/timber/05.png" srcset="./img/timber/05-2x.png" alt="">
            </picture>
          </div>
          <div class="timber-item__image">
            <picture>
              <source srcset="./img/timber/06-2x.webp" media="(min-width: 1440px)">
              <source srcset="./img/timber/06.webp">
              <img src="./img/timber/06.png" srcset="./img/timber/06-2x.png" alt="">
            </picture>
          </div>
        </div>
        <div class="timber-item__content">
          <div class="timber-item__text--orange">
            <p>Помимо качественного клееного бруса, наружных стен и внутренних перегородок, при строительстве дома,
              мы внедряем <span>финские технологии строительства и сборки деревянных домов</span></p>
          </div>
          <div class="timber-item__text">
            <p><span>Отдельное внимание</span> кровельному пирогу, используя бесшовный утеплитель эковата, ветрозащитную
              плиту изоплат, толщину утепления 250 мм, вентзазор 70мм</p>
          </div>
          <div class="timber-item__text">
            <p>Стропильно-балочная система собирается на базе <span>клеёных балок</span>. Стропила и каркасные
              межкомнатные перегородки к брусу крепятся на специальных <span>скользящих опорах</span></p>
          </div>
          <div class="timber-item__text">
            <p>Межэтажные перекрытия, опираясь на клееные столбы с мощными <span>домкратными опорами</span>, собираются
              на
              <span>клеёных балках</span>, врезанных на ласточкин хвост
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>