<section class="timber-main">
  <div class="breadcrumbs design-section__breadcrumbs">
    <ul>
      <li>
        <a href="./index.html">Главная</a>
      </li>
      <li>
        <a href="./tech-gen.html">Технологии</a>
      </li>
      <li>
        <a>Клеёный брус</a>
      </li>
    </ul>
  </div>
  <div class="timber-main__header">
    <h1>Клеёный брус</h1>
    <h4>финская технология строительства их клееного бруса</h4>
    <p>Энергоэффективные, экологичные и&nbsp;безопасные дома создаются нами, по&nbsp;современным финским технологиям,
      уже более 15&nbsp;лет по&nbsp;опыту партнёров FINNLAMELLI</p>
  </div>
  <div class="timber-main__content">
    <div class="timber-main__trigger timber-main__trigger--1" data-trig></div>
    <div class="timber-main__trigger timber-main__trigger--2" data-trig></div>
    <div class="timber-main__trigger timber-main__trigger--3" data-trig></div>
    <div class="timber-main__trigger sec-1"></div>
    <div class="timber-main__trigger sec-2"></div>
    <div class="timber-main__trigger sec-3"></div>
    <div class="timber-main__trigger sec-4"></div>
    <div class="timber-main__trigger sec-5"></div>
    <div class="timber-main__slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="timber-main__item timber-item">
            <div class="timber-item__image">
              <picture>
                <source srcset="./img/timber/01-2x.webp 2x" media="(min-width: 1920px)">
                <source srcset="./img/timber/01.webp">
                <img src="./img/timber/01.png" srcset="./img/timber/01-2x.png" alt="">
              </picture>
            </div>
            <div class="timber-item__content">
              <h4>Энергоэффективность</h4>
              <p>Полная герметичность соединений конструкций изолирует теплопотери, а&nbsp;плотные деревянные стены
                из&nbsp;бруса накапливают энергию солнечного света в&nbsp;любое время года</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="timber-main__item timber-item">
            <div class="timber-item__image">
              <picture>
                <source srcset="./img/timber/02-2x.webp 2x" media="(min-width: 1920px)">
                <source srcset="./img/timber/02.webp">
                <img src="./img/timber/02.png" srcset="./img/timber/02-2x.png" alt="">
              </picture>
            </div>
            <div class="timber-item__content">
              <h4>Экологичность</h4>
              <p>Клеёная древесина сосны и&nbsp;ели&nbsp;&mdash; натуральный и&nbsp;экологически чистый продукт. Наш
                завод использует только клеевые системы Akzo Nobel и&nbsp;каждое изделие имеет сертификат качества</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="timber-main__item timber-item">
            <div class="timber-item__image">
              <picture>
                <source srcset="./img/timber/03-2x.webp 2x" media="(min-width: 1920px)">
                <source srcset="./img/timber/03.webp">
                <img src="./img/timber/03.png" srcset="./img/timber/03-2x.png" alt="">
              </picture>
            </div>
            <div class="timber-item__content">
              <h4>Безопасность</h4>
              <ul type="square">
                <li>
                  <p>Прочные идолговечные</p>
                </li>
                <li>
                  <p>Не подвержены трещинам и деформации</p>
                </li>
                <li>
                  <p>Огнестойкие и не теряют несущие касества при воздействии огня</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>